[2013-04-20 23:43] hollobit opened #3 "milestone of this spec"
I think we need a milestone of this specification. Is it going to finish with runtime spec as a part of that ?

[2013-04-20 23:51] hollobit opened #4 "Property classification (Mandatory and Optional)"
Is all properties the mandatory property ? I think we need the classification of property what is mandatory or optional. It can be provide the extensibility of manifest specification.

[2013-04-22 07:59] marcoscaceres opened #5 "Missing references"
@hollobit wrote: It would be good to change the reference information

--------- current text -------
[ECMAScript-MIME]
Reference not found.
[HTML-MIME]
Reference not found.

[JSON]
Reference not found.
[MIME]
Reference not found.

[SNIFF]
Reference not found.
[URL]
Reference not found.

--------- Proposed change -------

[ECMAScript-MIME]
B. Hoehrmann, Scripting Media Types, April 2006,  Internet

[2013-04-22 09:26] #5 closed, assigned to nobody

[2013-04-22 09:28] marcoscaceres opened #6 "Divide sub-section and insert sub-section-title"
@hollobit wrote:
I think it would be good to divide subsection and insert sub-section-title
It would be helpful to reader.

------ Proposed text (subsection number/title) ------

3.1 Validation

------ end ------

Certain error conditions can result in an application manifest being treated as an invalid manifest. An invalid manifest is an application manifest that is deemed to be non-conforming in

[2013-04-22 09:29] marcoscaceres opened #7 "Inconsistant naming of members"
Why are some properties with underscore and some not?
relNotes vs required_features?

[2013-04-22 09:31] marcoscaceres opened #8 "Definition of required_features is wrong"
required_features is not really to enable features, just to filter out some applications from the stores

[2013-04-22 09:32] marcoscaceres opened #9 "Manifest format should support some way of including a splash screen"
**This feature is at risk.** Unless we hear otherwise, this feature will be removed from the specification in the next few months.

#### Why is this at risk?
In the past, various vendors had expressed an interest in having a splash screen for when an app boots up. However, at least one implementer claims that it's possible to achieve this effect by using `background_color` + `icon` members. Additi

[2013-04-22 09:45] marcoscaceres opened #10 "i18n - RTL/LTR issues"
The use of JSON may pose some issues for developers wanting to use both RTL/LTR text (e.g., Hebrew or Arabic and english).

[2013-04-22 09:50] marcoscaceres opened #11 "Clarify how screen_size fits together with CSS Device Adaptation @viewport"
@kenchris wrote:

Many games want to be fullscreen, and basically just scale the content to fit the screen while keeping the aspect ratio. These things should be possible to accomplish using media queries and CSS Device Adaptation, and it renders the screen_size less useful.

[2013-04-22 09:53] marcoscaceres opened #12 "The spec should discourage vendors from extending the manifest format"
Given that JSON does not support any mechanism for distributed extensibility (not even crappy namespaces), extensions to the manifest format be either discouraged or some extension points provided.

From #11:

[2013-04-22 10:04] marcoscaceres opened #13 "Make clear that the application manifest isn't only for installable apps"
There should be some means to make allow hosted apps to be "auto discoverable" by search engines and user agents.

[2013-04-22 10:21] marcoscaceres opened #14 "Short name is wrong"
The short name, set in the Respec config, of the spec is wrong.

[2013-04-22 10:46] marcoscaceres opened #16 "Use cases and requirements"
Document should define a section with use cases and requirements.

[2013-04-24 17:50] #3 closed, assigned to nobody

[2013-04-24 17:59] marcoscaceres opened #17 "Associate a web app with a manifest"
There is currently no declarative means for an web application to associate itself with a manifest. This would be good for autodiscovery by the UA, for search engines, and for when javascript is disabled.

Something like:

[code]

[2013-04-25 16:42] mounirlamouri opened #18 "Add recommendation to authors that the manifest should be localized to a language IIF the content is localized to that language"
It's been [recommended](http://lists.w3.org/Archives/Public/public-sysapps/2013Apr/0238.html) that we add:

[2013-04-25 18:14] hollobit opened #20 "Joint work with WebApps WG"
How do you think about it.
http://www.w3.org/2013/04/25-webapps-minutes.html#action10

[2013-04-25 23:00] #20 closed, assigned to nobody

[2013-04-27 16:59] #18 closed, assigned to nobody

[2013-04-27 17:01] mounirlamouri opened #21 "Typos introduced by #18"
Quoting @clouserw:

[2013-04-29 09:41] marcoscaceres opened #22 "Do we want so support additional viewmodes?"
The current manifest supports "fullscreen": true | false.

If people are really serious about supporting other view modes, then we can change the manifest to allow the various view mode values. Something like:

{
…
"viewModes": ["fullscreen", "maximized"]
...
}

Where viewMode is: A list that denotes the author's preferred view mode, followed by the next most preferred view mode and so forth. When

[2013-04-29 18:43] marcoscaceres opened #23 "Do apps need a short name?"
Many apps have a long name e.g., "The Weather Channel App" but when displayed in a context with little space (e.g., on an idle screen) the name won't fit. As such, many native apps provide an alternate short name.

For example, the "Github issues" application shows up as "Issues" on the iPhone. Same with "Robot Unicorn Attack 2", which shows up as "RUA2". When searching for an app (on the phone),

[2013-04-29 19:15] marcoscaceres opened #24 "Is name really required?"
Currently, "name" is the only required member in the manifest (it must be present at the root - otherwise, the UA halts installation - behavior matches FxOS).

However, name could simply be implied as "undefined" when missing (or the UA could assign the application a name), so not to halt installation. For example, a UA could just use the domain name as the name (foo.com).

Having such draconian e

[2013-04-29 19:38] marcoscaceres opened #25 "appcache_path missing appcache retrieval steps"
Current spec defines how to process the appcache_path member, but doesn't say when or how to retrieve the app cache file.

[2013-04-29 19:50] marcoscaceres opened #26 "Some security considerations no longer apply"
The following security considerations no loger apply:

And this one neither:

[2013-04-29 19:52] marcoscaceres opened #27 "Title of the spec should be generalized"
As the manifest is no longer bound to any particular application type, it should be generalized:

Maybe just:

Or:

Suggestions welcomed.

[2013-04-30 17:53] marcoscaceres opened #30 "Release notes object and its members is not defined"
The Release notes object and its members section is currently not defined.

[2013-04-30 17:54] marcoscaceres opened #31 "Permissions object and its members is not defined"
The "Permissions object and its members" section is poorly specified.

[2013-04-30 17:54] marcoscaceres opened #32 "Icons object and its members section poorly specified"
The "icons object and its members" section is poorly specified.

[2013-04-30 17:55] marcoscaceres opened #33 "Screen size object and its members is poorly specified"
The "Screen size object and its members" section needs some work.

[2013-04-30 17:56] marcoscaceres opened #34 "Locale object and its members is poorly specified"
The "Locale object and its members" needs some work.

[2013-04-30 17:56] marcoscaceres opened #35 "Developer object and its members is underspecified"
The "Developer object and its members" section needs some work.

[2013-05-02 10:02] marcoscaceres opened #37 "Update Latest Editor draft link"
http://www.w3.org/2012/sysapps/manifest/

[2013-05-03 08:50] #21 closed, assigned to marcoscaceres

[2013-05-03 08:50] #27 closed, assigned to nobody

[2013-05-03 08:51] #7 closed, assigned to marcoscaceres

[2013-05-09 17:03] marcoscaceres opened #38 "App URI should be RECOMMENDED but not required."
[From the mailing list](http://lists.w3.org/Archives/Public/public-sysapps/2013May/0044.html):

[2013-05-13 10:54] #38 closed, assigned to nobody

[2013-05-13 11:12] #14 closed, assigned to marcoscaceres

[2013-05-13 11:13] #6 closed, assigned to nobody

[2013-05-13 11:13] #4 closed, assigned to nobody

[2013-05-14 14:47] marcoscaceres opened #40 "Migrate to webapps"
Migrate the various administrative links to webapps.

Included the ipr page, the mailing list, etc.

[2013-05-16 08:42] #26 closed, assigned to marcoscaceres

[2013-05-16 08:42] #37 closed, assigned to marcoscaceres

[2013-05-16 08:49] #40 closed, assigned to nobody

[2013-05-17 08:30] marcoscaceres opened #42 "Orientation hinting"
Should we allow orientation hinting in the manifest. Many games prefer to be run in either portrait or landscape, while other apps support "auto".

[2013-06-06 09:32] jmajnert opened #46 "Content rating and disclosures"
Following the [onepf/AppDF](https://github.com/onepf/AppDF) example, do you think it would be of value to make it possible for app developers to disclose content ratings through the manifest?

[2013-06-06 17:56] marcoscaceres opened #47 "Do we need a way to express "System requirements"?"
In traditional software distribution, it is common for software developers to express minimum "system requirements" for an application, particularly in games. For example, DOOM 3 from apple's App Store has the following system requirements:

![screen shot 2013-06-06 at 6 22 32 pm](https://f.cloud.github.com/assets/870154/619443/b063a17e-cecd-11e2-905f-ce8d9abf904a.png)

As more sophisticated capab

[2013-06-06 18:10] #8 closed, assigned to marcoscaceres

[2013-06-07 06:01] #46 closed, assigned to nobody

[2013-06-19 16:08] AMorgaut opened #50 "The manifest as a compliant JSON Package"
As this manifest targets a JSON format and was first created to manage "packaged apps" I immediately thought about the CommonJS / Node.js package format. I mentioned it during the F2F meeting but missed until now to fill it as an issue.

You'll notice that the main manifest format properties were already defined in the Package format:
- **name**
- **description**
- **version**

**CommonJS** first

[2013-06-24 17:57] AMorgaut opened #51 "apps with multiple app cache manifest"
The app cache manifest is per HTML file.

Even if a web app starts from a single HTML file, the one declaring the web app manifest, it often use other HTML pages.

_the term "Web application" refers to a Web page (XHTML or a variant thereof + CSS) or collection of Web pages_
http://www.w3.org/TR/mwabp/#webapp-defined

Additional pages can be used as:
- dialog pages
- iframe sub-pages
- imported pa

[2013-07-01 07:38] AMorgaut opened #52 "Permissions in manifest"
Regarding permissions for Device APIs being listed in the manifest, I thought a previous proposal
- http://www.simonheckmann.de/proposal/

and the related discussion on the WHATWG mailing list to which I participated :
- http://lists.w3.org/Archives/Public/public-whatwg-archive/2011Apr/0268.html
- http://lists.w3.org/Archives/Public/public-whatwg-archive/2011Apr/0274.html

may worth a read

[2013-07-01 16:30] marcoscaceres opened #53 "Indicate that an app "works off line""
Elsewhere @sicking said:

[2013-07-12 21:02] #24 closed, assigned to marcoscaceres

[2013-07-17 15:54] #33 closed, assigned to marcoscaceres

[2013-08-22 16:19] marcoscaceres opened #60 "Duplicate version of the spec === confusion"
There are currently two version of the spec :(
http://www.w3.org/2008/webapps/manifest/

http://www.w3.org/2012/sysapps/manifest/

The Webapps version is the correct one, I think.

[2013-08-22 16:40] marcoscaceres opened #61 "Apps should have a means to know if opened from homescreen"
Apps that were launched after being installed might need a way to know if they were launched or navigated to.

Apple currently uses:

[code]

[2013-08-28 20:50] hollobit opened #62 "Predefinition of Permission types"
I think we need to standardize the permissions type.as predefined style  (e.g: http://developer.android.com/reference/android/Manifest.permission.html )

It can be support following use cases:
- app manager can notify the required permissions of application before installation
- user can grant the required permissions
- app launcher can make the restricted environment when application running (do

[2013-08-29 10:15] hollobit opened #63 "Content rating and Age restriction"
I think we need to support content rating and age restriction feature in the manifest format.

For example,  developers must label their applications according to ratings guideline, as like as levels (or available ages)
- Everyone
- Low maturity
- Medium maturity
- High maturity

It can make two use cases.
- application filtering on user devices (base on the user's age or user's policy)
- applicat

[2013-08-31 14:01] marcoscaceres opened #64 "Check "Enabling new types of web user experiences" for use cases"
Filter the following for relevant manifest things:

http://www.w3.org/QA/2013/08/enabling_new_types_of_web_user.html

[2013-09-02 14:35] #62 closed, assigned to nobody

[2013-09-17 09:32] marcoscaceres opened #65 "Quantum spec"
The spec is appearing at two places at once... And they are different :(

http://www.w3.org/2008/webapps/manifest/

http://www.w3.org/2012/sysapps/manifest/

[2013-11-13 18:17] marcoscaceres opened #67 "imperative means to request an app be installed"
be nice, in addition to having a declarative means, to also provide an API to install apps.

[2013-11-21 10:45] marcoscaceres opened #68 "Link type "manifest" should not be usable on anchors"
Putting the link type on an anchor kinda sucks for backwards compat. As in:

[code]

So it should be "not allowed".

[2013-11-21 12:58] marcoscaceres opened #69 "Use fetch instead"
The spec currently relies on HTML's "obtain" algorithm. However, it's probably better to use the fetch algorithm instead:

http://fetch.spec.whatwg.org/#concept-fetch

[2013-11-21 13:25] #64 closed, assigned to nobody

[2013-11-21 13:26] #63 closed, assigned to nobody

[2013-11-21 13:26] #65 closed, assigned to nobody

[2013-11-24 13:43] #16 closed, assigned to marcoscaceres

[2013-11-27 07:05] #69 closed, assigned to nobody

[2013-11-27 07:06] #68 closed, assigned to nobody

[2013-11-27 07:07] #67 closed, assigned to nobody

[2013-11-27 07:08] #61 closed, assigned to nobody

[2013-11-27 07:10] #53 closed, assigned to nobody

[2013-11-27 07:13] #51 closed, assigned to nobody

[2013-11-27 07:15] #52 closed, assigned to nobody

[2013-11-27 07:16] #50 closed, assigned to nobody

[2013-11-27 07:17] #11 closed, assigned to nobody

[2013-11-27 07:18] #12 closed, assigned to marcoscaceres

[2013-11-27 07:19] #13 closed, assigned to marcoscaceres

[2013-11-27 07:20] #22 closed, assigned to marcoscaceres

[2013-11-27 07:21] #25 closed, assigned to marcoscaceres

[2013-11-27 07:21] #31 closed, assigned to marcoscaceres

[2013-11-27 07:21] #30 closed, assigned to marcoscaceres

[2013-11-27 07:22] #34 closed, assigned to marcoscaceres

[2013-11-27 10:55] #47 closed, assigned to nobody

[2013-11-27 10:57] #42 closed, assigned to nobody

[2013-11-27 10:59] #35 closed, assigned to marcoscaceres

[2013-11-27 10:59] #32 closed, assigned to marcoscaceres

[2013-11-27 11:11] marcoscaceres opened #71 "fix links"
Link at top of document don't quite work. Need to be fixed until we publish.

[2013-11-27 11:42] AMorgaut opened #72 "camelCase more suitable to JSON and JS API"
I feel acting as a devil advocate coming back to that topic, but as I think the newly introduced naming convention, which is finally not the one we ended too before, introduce a new issue.

It is related to these issues:
- #7 (Inconsistant naming of members)
- #50 (The manifest as a compliant JSON Package)

In the first issue we said we needed a naming convention. Discussion was about choosing bet

[2013-11-27 12:19] mounirlamouri opened #73 "Why altname?"
I read the UC document and have not seen any reason why altname was added. Did I miss something?

[2013-11-27 12:21] mounirlamouri opened #74 "orientation property should be left to the Screen Orientation API specification"
I think it would be better to let the Screen Orientation specification handles the orientation property for the manifest. It would increase the chance of being consistent with the API. For example, the values currently in the manifest specification do not match the ones from the screen orientation api.

[2013-11-27 13:11] benfrancis opened #75 ""permissions" field"
The Firefox[1], Chrome[2] and Amazon[3] app manifests all include a "permissions" field which lists permissions the web app may require.

Is this considered out of scope for this specification?
1. https://developer.mozilla.org/en-US/Apps/Developing/Manifest#permissions
2. http://developer.chrome.com/extensions/declare_permissions.html
3. https://developer.amazon.com/sdk/webapps/manifest.html

[2013-11-27 13:18] ernesto-jimenez opened #76 "Standalone should not relate to fullscreen but no-chrome"
We are currently linking standalone mode with fullscreen.

In my opinion, this should be linked with getting rid of the chrome, not full-screen. @benfrancis and myself were discussing it in IRC and come up with the following reasons:
- In Mobile, getting rid of the chrome means "fullscreen", but that wouldn't be the case in desktop
- In Mobile, fullscreen usually means the status bar is not shown,

[2013-11-27 13:19] benfrancis opened #77 "Format of "icons" field"
The draft spec gives an example "icons" field as follows:

[code]

The Firefox [1] and Chrome [2] app manifests all use a format more like:

[code]

Out of curiosity, what are the use cases for the additional icon properties and therefore the reason for this difference?
1. https://developer.mozilla.org/en-US/Apps/Developing/Manifest#icons
2. http://developer.chrome.com/extensions/manifest/icons.ht

[2013-11-27 14:00] benfrancis opened #78 ""description" field"
The Firefox [1] and Chrome [2] app manifests include a "description" field which is a human-readable description of the web app.

Might this be something which could be included in the specification? Perhaps it might also be an alternative to the currently proposed "altname" field?
1. https://developer.mozilla.org/en-US/Apps/Developing/Manifest#description
2. http://developer.chrome.com/extensions

[2013-11-27 14:26] benfrancis opened #79 "Manifest localisation"
Has any consideration been given to the localisation of the information in a manifest such that different information may displayed to the user by the user agent, depending on the user agent's current locale setting?

For example, the Mozilla Open Web Apps manifest has a "locales" field [1] which allows locale-specific overrides to data contained in the manifest:

[code]
1. https://developer.mozil

[2013-11-27 14:43] #79 closed, assigned to nobody

[2013-11-27 14:44] #78 closed, assigned to nobody

[2013-11-27 16:01] #77 closed, assigned to nobody

[2013-11-27 19:46] mattbasta opened #82 "`dont-share-cookies-and-stuff` should probably mirror the HTML5 iframe "sandbox" attribute"
The `sandbox` attribute allows you to block same-origin access, prevent top-level navigation, block scripts, and blocking form submission.

This would be great for sites that wrap other sites as apps (consider everything.me) and could provide a way for users to standalone-ize their favorite sites without worrying about the site breaking out of the standalone environment.

[2013-11-28 16:00] benfrancis opened #84 "requestBookmark and offline"
When a user bookmarks a web app, is there any expectation that this has any effect on how much of that app is then available offline?

Open Web App manifests have an "appcache_path" field [1] which specifies a path to an appcache manifest. When the app is installed, the manifest will be fetched and parsed, and its static assets under the CACHE header will be cached. This means that by installing a

[2013-11-29 15:55] #73 closed, assigned to nobody

[2013-12-02 17:44] benfrancis opened #87 "Cross-origin requestBookmark()"
1. Can requestBookmark() be called cross-origin or does it have to be called from the origin of the URL being bookmarked?
2. Does the manifest have to be served from the same origin as the URL being bookmarked?

A use case for 1 might be a directory of web apps which wishes to allow a user to trigger the bookmarking of an app in a user agent from the directory without first loading the app.

A use

[2013-12-03 06:40] #71 closed, assigned to nobody

[2013-12-03 22:49] marcoscaceres opened #89 "Allow applications to request that the title of the document be shown"
It would be nice for developers to have a means to request that the title of a document be shown when an application is running standalone.

Note: no user agent that we've looked at supports this.

Signals of interest: Mozilla.

[2013-12-03 23:26] marcoscaceres opened #90 "Allow applications to request that an application be "searchable""
It would be nice if a standalone web application could request that the UA provide a means to search the content of the page being shown in the application. This would be akin to allowing cntr-f to be pressed on a desktop browser.

[2013-12-04 04:59] marcoscaceres opened #91 "Declarative (inline) manifest"
The platform currently includes ways to add metadata about a web application into a single page (e.g., using meta tags). It would be nice to be able to include the manifest itself using some declarative mechanism. This is in addition to an externally linked solution.

[2013-12-05 02:01] #72 closed, assigned to nobody

[2013-12-05 02:24] marcoscaceres opened #92 "`requestBookmark()` should be simplified to provide minimum functionality"
In the current spec, the `requestBookmark()` API supports passing a URL, and object, etc. This is really just syntactic sugar.

The same things can be achieved by using the declarative solution, in that the data can by dynamically generated in javascript and inserted into the DOM:

[code]

See related thread: http://lists.w3.org/Archives/Public/public-webapps/2013OctDec/0724.html

[2013-12-05 15:08] digitarald opened #93 "Whitelist URL patterns to open in same window"
Following https://bugzilla.mozilla.org/show_bug.cgi?id=886605 and other discussions.

Content apps are filled with external links that not all have a target="_blank" on them. Some content is included where the link behaviour can't be controlled, like ads.

A whitelist of URL patterns would fix this; which will open all links in a new window that are not whitelisted. This will fix a lot of review r

[2013-12-05 15:11] digitarald opened #94 "Whitelist URL patterns for external requests"
systemXHR is a powerful permissions and often the only reason packaged apps need to be privileged. CORS is not always applicable if your app runs against 3rd party APIs. A more fine-grained control would reduce the need for it.

Whitelisting URLs that your app can connect to via XMLHttpRequest in the manifest would be one solution.

An example would be the Blackberry Webworks access element [1](ht

[2013-12-06 03:36] marcoscaceres opened #95 "Do we need standalone mode?"
Assuming you just "bookmark to homescreen", @hixie suggests the following for controlling if chrome is available to an application or not: "wouldn't you just slide in some back button ui once there's a session history?"

So, basically:

[code]

[2013-12-06 03:59] marcoscaceres opened #96 "Standardized resource name for manifest"
@larsgk [commented](https://gist.github.com/marcoscaceres/7783977#comment-963172):

[2013-12-06 04:04] marcoscaceres opened #97 "Why does this spec replicate HTML features?"
[Elsewhere](https://gist.github.com/marcoscaceres/7783977#comment-963173), @pornel wrote:

We already have `<meta>`/`<link>` for most of the manifest:

[code]

Can be written today, without reinventing the wheel, in a backwards-compatible way:

[code]

And unlike JSON, it supports comments, internationalization and doesn't invalidate entire file because of a single trailing comma :)

[code]

[2013-12-09 06:58] marcoscaceres opened #98 "HTTP-based solution for loading manifests"
Explain how the manifests can be used together with [Web Linking](http://tools.ietf.org/html/rfc5988).

[2013-12-09 07:16] marcoscaceres opened #99 "icon width/height could just be `sizes`"
Could just replace `width`, `height` members of icon objects with a member that is the same as HTML's `sizes` attribute. Then we can just reuse HTML's processing algorithm for `sizes` attributes to get the width and height.

[2013-12-09 07:56] marcoscaceres opened #100 "Register `manifest` type with IETF"
[Registering New Link Relation Types](http://tools.ietf.org/search/rfc5988#section-6.2.1)

The registration template is:
-  Relation Name:
-  Description:
-  Reference:
-  Notes: [optional]
-  Application Data: [optional]

Registration requests should be sent to the link-relations@ietf.org mailing list, marked clearly in the subject line (e.g., "NEW RELATION - example" to register an "example" rel

[2013-12-09 23:07] #100 closed, assigned to nobody

[2013-12-11 05:21] marcoscaceres opened #105 "Remove "dont-share-cookies-and-stuff" till we know what it means"
The "dont-share-cookies-and-stuff" relates to [security and privacy](http://w3c-webmob.github.io/installable-webapps/#security-and-privacy) section of the use cases doc.

As it's not clear yet how it will work, and people have now had a chance to see it, it should be removed from the spec until we figure it out.

[2013-12-11 12:37] #60 closed, assigned to draggett

[2013-12-16 05:09] #99 closed, assigned to nobody

[2013-12-16 05:17] #94 closed, assigned to nobody

[2013-12-16 05:21] #87 closed, assigned to nobody

[2013-12-16 05:24] #84 closed, assigned to nobody

[2013-12-16 09:55] #92 closed, assigned to marcoscaceres

[2013-12-16 10:50] #91 closed, assigned to nobody

[2013-12-16 10:55] #105 closed, assigned to nobody

[2013-12-17 01:07] #89 closed, assigned to nobody

[2013-12-17 23:29] #75 closed, assigned to nobody

[2013-12-17 23:31] #82 closed, assigned to nobody

[2013-12-18 02:38] #90 closed, assigned to nobody

[2013-12-18 16:10] annevk opened #114 "URL Scope to which the manifest applies"
Given that it still seems likely we are keeping scoped service workers, manifests should adhere to the same URL scope somehow.

[2013-12-19 02:51] marcoscaceres opened #116 "Clarify the relationship between orientation and the Orientation API"
When we standardize the orientation stuff, the spec needs to be clear that it must be possible to override the manifest orientation using the Orientation API.

Need to also state that clearing the orientation lock through the API should make the app use whatever orientation is in the manifest (i.e., that becomes the default), rather than remove any restrictions.

[2013-12-19 03:51] marcoscaceres opened #117 "The need for UI controls"
[Elsewhere](http://lists.w3.org/Archives/Public/public-webapps/2013OctDec/0674.html), @sicking proposed:

[2014-01-02 01:43] marcoscaceres opened #118 "icon density should be supported"
Although discriminating on pixel density plays a big role in determining which icon to choose for a particular context, there are other factors that could come into play. In HTML, this is solved by the `link` element's `media` attribute.

I'm going to drop density and in a future version we can add a `media` attribute to the `icon` member to allow discrimination using media queries. It's possible

[2014-01-02 04:14] #98 closed, assigned to marcoscaceres

[2014-01-10 09:56] crdev opened #121 "Typo: "media type for a manifests""
`media type for a manifests` should be `media type for manifests`, across the document, perhaps

[2014-01-13 10:14] #121 closed, assigned to nobody

[2014-01-16 19:17] #76 closed, assigned to nobody

[2014-01-16 19:17] #116 closed, assigned to nobody

[2014-01-16 20:34] #74 closed, assigned to nobody

[2014-01-20 11:51] #95 closed, assigned to nobody

[2014-01-21 11:06] kenchris opened #131 "baseurl isnt defined for url member when not fetched from a document"
Let document URL be the URL of the document from which the manifest was fetched from.

This won't work for .wellknown/manifest or for local stored apps or packaged apps.

[2014-01-21 20:39] marcoscaceres opened #133 "Generalize the URL parts so they work generically with any URL type"
In particular, with app://

[2014-01-21 21:19] kenchris opened #134 "Reword url part"
Something like ""The url member is a string representation of a URL that should be loaded when activating a bookmark or application associated with the manifest. However, the user agent might..."

[2014-01-22 12:33] kenchris opened #135 "Describe that icons should use a lossless format"

[2014-01-22 15:59] #135 closed, assigned to nobody

[2014-01-22 18:05] marcoscaceres opened #137 "Add more examples"
Need to add an example or two per section.

[2014-02-03 18:57] marcoscaceres opened #141 "requestBookmark() and top-level documents"
Make it clear that requestBookmark() can only be invoked from top-level document.

[2014-02-11 13:55] marcoscaceres opened #142 "Specify how navigation works..."
Elsewhere, @sicking wrote...

[2014-02-11 14:03] #93 closed, assigned to nobody

[2014-02-11 14:18] #131 closed, assigned to nobody

[2014-02-11 14:18] #133 closed, assigned to nobody

[2014-02-11 15:43] #97 closed, assigned to nobody

[2014-02-11 15:43] #117 closed, assigned to nobody

[2014-02-11 15:43] #134 closed, assigned to nobody

[2014-02-11 15:43] #141 closed, assigned to nobody

[2014-02-14 18:44] #137 closed, assigned to kenchris

[2014-02-18 16:27] marcoscaceres opened #150 "Orientations doesn't match how Orientation API works"
@kenchris points out that the `orientations` member uses slightly different semantics than those in the orientation lock API. In the API, a dev expresses as set of orientations to lock into - in the manifest, the developer specifies only one (instead of a set) as the order is significant.

The spec should be changed to align with how the Screen Lock API works. The same algorithms should be used fo

[2014-02-20 11:39] marcoscaceres opened #152 "Indicate the class (type?) of web application."
@zolkis wonders if it would be possible to add one more member telling the "application class" or type, with values being:
- "navigator", "player", "phone", "game", [ "generic" | null ] as default, etc.

The use case is the following:
- in multiple platforms the system can enforce audio/video/etc related
  decisions, for instance when an incoming call comes, music playback is
  stopped/corked/fade

[2014-02-24 10:22] marcoscaceres opened #153 "Updating of icons, names, etc. from new manifest"
[Elsewhere](http://lists.w3.org/Archives/Public/www-tag/2014Feb/0039.html), @sicking wrote:

[2014-02-24 10:28] marcoscaceres opened #154 "Make installable apps sharable"
It would be nice if one could share installed web apps with other people. It might be possible to do this by just sending someone the URL to the manifest. The spec already makes a distinction between apps acquired from a HTML document and those acquired directly.

[2014-02-24 11:55] marcoscaceres opened #155 "CSS media features for display modes"
The primary use cases for display modes are styling related. As such, it would be beneficial for developers if display modes were a CSS media feature:

[code]

[2014-02-24 19:03] marcoscaceres opened #156 "extensibility machanism in processing algo"
It be nice to have an extension point for adding new manifest members in other specs.

[2014-02-25 14:58] marcoscaceres opened #157 "Drop `isHosted` and `requestBookmark()`"
To avoid plastering the Web with install buttons, we are removing the API. A better solution will be to leave it to the browser to suggest that a user add an application to the homescreen based on heuristics. See [Paul Kinlan's proposal](http://paul.kinlan.me/Add-to-homescreen-not-the-answer/).

[2014-02-25 15:16] #157 closed, assigned to nobody

[2014-02-25 17:52] marcoscaceres opened #161 "Integration with service workers"
Specify the relationship between this spec and [service workers](https://github.com/slightlyoff/ServiceWorker/).

Or get service worker to define the member and hook in through the extension point in the spec...

[2014-02-26 19:07] #156 closed, assigned to nobody

[2014-03-11 20:01] #154 closed, assigned to nobody

[2014-03-11 20:03] #153 closed, assigned to nobody

[2014-03-13 20:58] marcoscaceres opened #163 ""unknown" display mode not needed"
As we removed the API, we don't need "unknown" as a display mode any more. Originally, it was returned by the API.

[2014-03-13 20:59] marcoscaceres opened #164 "Talk of "bookmarking" not needed"
The spec currently talks about bookmarking... however, the manifest is a progressive enhancement that can be applied independently of bookmarking. Hence, all the bookmarking bla bla should be removed.

[2014-03-13 21:39] #163 closed, assigned to nobody

[2014-03-19 02:59] #150 closed, assigned to nobody

[2014-03-19 02:59] #164 closed, assigned to nobody

[2014-04-02 20:00] marcoscaceres opened #167 "shortcuts to content vs shortcut to app"
Elsewhere, @slightlyoff proposed:

[2014-04-07 00:28] marcoscaceres opened #168 "Conditional system for handling future extensions"
@mounirlamouri suggests maybe using some kind of condition-based syntax for dealing with specific use cases that only apply in certain situations. For example, with screen orientation, you might want to lock the orientation on a small device to portrait, while on a larger device (tablet) you want it to be unlocked.

[code]

[2014-04-07 00:50] mounirlamouri opened #169 "'display' should have a fallback chain and not be an array"
The specs says that some display modes might not be available but doesn't define a clear chain fallback and instead expect the developers to specify one with an array of different values. However, if the developer only put one value, the UA will still have to fallback to something at some point.

I would suggest the following fallback chain:
fullscreen -> minimal-ui -> standalone -> browser

I wou

[2014-04-07 22:41] mounirlamouri opened #172 "Define the interaction between 'fullscreen' display mode and the fullscreen API"

[2014-04-07 23:15] #169 closed, assigned to mounirlamouri

[2014-04-08 00:01] mounirlamouri opened #176 "Distinguish manifest v1 from manifest v2"
I think it would be good to keep the main document with manifest v1 features for the moment. We could maintain a fork of the document with v2 features and as soon as v1 goes into maintenance mode (LC or CR?), we could make v2 the main spec in the repository and v1 would be a fork.

The term "fork" could actually be a folder, to make things simpler.

@anssiko @kenchris @marcosc what do you guys thi

[2014-04-17 14:43] #176 closed, assigned to nobody

[2014-04-21 16:40] #152 closed, assigned to nobody

[2014-04-22 17:38] marcoscaceres opened #177 "Move CSP member to its own spec"
The CSP member currently in the spec has been deemed a V2 feature. As such, we need to move it to its own spec. We have a new repo just for this: https://github.com/w3c/manifest-csp

[2014-04-24 13:13] anssiko opened #180 "Comments in JSON"
[Elsewhere](https://groups.google.com/a/chromium.org/d/msg/blink-dev/qz2pd3MFPKg/vUK1CoHkzccJ) @sicking notes:

[2014-04-24 14:56] #180 closed, assigned to nobody

[2014-04-24 15:29] #177 closed, assigned to nobody

[2014-04-30 15:57] benfrancis opened #183 "start_url or start_path?"
Should start_url actually be start_path or launch_path if it's actually a path relative to the app origin rather than a full URL?

[2014-04-30 16:06] benfrancis opened #184 "Use of manifest data during web browsing"
At some point the wording of the draft specification was changed to indicate that the metadata in the manifest is not only intended to be used for the "bookmark to homescreen" or "install" use case, but at any time when a user agent loads a web app.

As I understand it the implication is that the contents of the manifest be considered a "progressive enhancement" for viewing a web app at any time,

[2014-04-30 21:18] #183 closed, assigned to nobody

[2014-05-01 16:13] marcoscaceres opened #185 "Clarfiy behavior of <link rel=manifest crossorigin>"
What is the relationship of the crossorigin attribute to the manifest link type? should the spec say something about that?

[2014-05-01 16:14] marcoscaceres opened #186 "Clarfiy behavior of <link rel=manifest media>"
What is the expected behavior when there is a media attribute present? Should it be ignored?

[2014-05-01 17:08] marcoscaceres opened #188 "Should load/error events fire when manifest is loaded?"
When the manifest is loaded using `link rel="manifest" href="whatever"`, should a load/error events fire when manifest is loaded?

[2014-05-01 18:49] marcoscaceres opened #189 "What happens when a `link rel=manifest` is removed from the head?"
What should happen here?

[code]

[2014-05-05 21:02] marcoscaceres opened #191 "Start_url should be resolved relative to manifest, not document"
The spec says:

Should say:

[2014-05-05 21:09] #191 closed, assigned to nobody

[2014-05-05 21:22] #172 closed, assigned to nobody

[2014-05-05 21:29] marcoscaceres opened #193 "Overreporting on some dev errors"
The spec says:

Issuing a developer warning here is a bit annoying, because it means having to go through the whole document finding stuff that is not supported. It also means that a lot of noise might be generated from any proprietary (members). Best to just ignore any unknown things silently.

[2014-05-05 21:47] #193 closed, assigned to nobody

[2014-05-06 17:26] mounirlamouri opened #195 "The fetch part of the specification should mention the crossorigin attribute"
The crossorigin attribute allows a developer to specify CORS flags when fetching. We should make this explicit in the part of "Fetching a manifest".

[2014-05-07 10:35] benfrancis opened #196 "Can any web site host a manifest for any app?"
This question was prompted by discussion around #183 (start_url vs. start_path).

Separate from the question of whether there can be multiple apps per origin and multiple origins per app (#114) is the question of whether only the app owner should be able to host a manifest for their app.

If anyone can host a manifest for any app then it is much easier for app stores/directories to create a direct

[2014-05-11 18:36] laurentperez opened #197 "icons member : src could be renamed to href"
given that http://www.whatwg.org/specs/web-apps/current-work/#rel-icon uses href, sizes and type attributes, and link rel icon is listed as a fallback if manifest icons is not present, it could be easier for the UA code to avoid switching between src processing and href processing in case of fallback

[2014-05-11 18:42] laurentperez opened #198 "icons member : processing should not relate to orientation"
currently a step says :  If type is undefined, move onto the next item in orientations (if any are left).

maybe it's a typo ? I don't see how icons relate to orientation.

[2014-05-11 19:03] laurentperez opened #199 "restrict manifest to https ?"
if a captive portal or a malicious MITM can replace the content of the manifest, it can masquerade a legit app icon (say, sms or contacts) on the user home screen

should the manifest be restricted to https context just like serviceworkers are ?

[2014-05-12 14:42] #197 closed, assigned to nobody

[2014-05-12 14:48] #199 closed, assigned to nobody

[2014-05-20 17:36] marcoscaceres opened #201 "`start_url` processing issues"
The processing model of the `start_url` contains some bugs:
1. If the URL is the empty string or `undefined`, then it should return the URL of the top-level browsing context.
2. If the URL is in error, it should return the URL of the top-level browsing context.

As such, to resolve the URLs correctly, the algorithm needs to take the document's URL as an argument (in addition to the manifest's URL)

[2014-05-20 21:32] #201 closed, assigned to marcoscaceres

[2014-05-20 21:41] #189 closed, assigned to nobody

[2014-05-22 16:27] #185 closed, assigned to nobody

[2014-05-22 22:04] #96 closed, assigned to nobody

[2014-05-23 14:27] #17 closed, assigned to nobody

[2014-05-23 14:27] #186 closed, assigned to nobody

[2014-05-23 14:27] #195 closed, assigned to marcoscaceres

[2014-05-23 14:27] #198 closed, assigned to marcoscaceres

[2014-05-23 15:19] #196 closed, assigned to nobody

[2014-05-23 20:16] #184 closed, assigned to nobody

[2014-05-24 11:25] #188 closed, assigned to nobody

[2014-05-26 18:48] marcoscaceres opened #205 "Fetch requests need a context"
According to the Fetch spec, requests need an [associated context](http://fetch.spec.whatwg.org/#concept-request-context). However, none of the ones listed in the Fetch spec appear to be suitable for our purposes.

Filed bug on Fetch spec requesting one: https://github.com/whatwg/fetch/issues/6

[2014-05-27 06:08] mikewest opened #207 "CSP directive controlling manifest loads?"
Two question here:
1. Do we need to add something to CSP to control the sources from which manifests can be loaded? e.g. `manifest-src 'self'` or the like? Or do you see this fitting into an existing category?
2. Do you envision the requests generated by a manifest (icons, currently, probably other stuff in the future?) being governed by the policy of the page which requested the manifest? Or the

[2014-05-27 12:22] krampstudio opened #208 "Include languages into manifest"
It would be also nice to be able to know which languages the web app supports.

[2014-05-27 13:12] #205 closed, assigned to nobody

[2014-05-27 19:46] marcoscaceres opened #209 "Restrict manifests to same-origin"
Discussion here:
http://lists.w3.org/Archives/Public/public-webapps/2014AprJun/0635.html

Basically, the proposal is to restrict manifest to be installed from same origin. You can still CORS-enabled share them, so that you can do other things with them (e.g., XHR them from another site to show them in a website catalog or whatever) - devs just won't be able to use them in the installation process

[2014-05-27 20:22] marcoscaceres opened #210 "[Meta] Test suite"
We needs us a test suite for the V1 feature set. This is a meta bug to track that.

[2014-05-27 22:47] jasnell opened #211 "Allow name to be a String or Language Map"
For the sake of i18n... allow the name property to optionally take the form of a json-ld style language map. e.g.,

[code]
or
[code]

[2014-05-30 11:24] AFBarstow opened #212 "What is the expectation re manifest "localization"?"
Marcos - the spec appears to be silent on localization of a manifest (f.ex. the name member could vary depending on the language). I presume this is intentional (as opposed to the extensive model used in the `widgets` standard) so it might be helpful to provide a hint/guidance/link to how localization should or could be handled. WDYT?

[2014-06-02 16:16] wwumit opened #214 "To avoid masquerading"
In the section about "Updating the manifest", it is indicated that:
To avoid one application masquerading as another, it is RECOMMENDED that users be made aware of any such updates using implementation or platform specific conventions.

I'm wandering whether the level RECOMMENDED is strong enough to avoid masquerading?

According to RFC2119:
1. MUST   This word, or the terms "REQUIRED" or "SHALL",

[2014-06-02 17:56] #214 closed, assigned to nobody

[2014-06-04 04:14] wwumit opened #215 "To support accessibility"
Considering accessibility requirement, should the manifest have an optional attribute to attach an audio name or an audio description for the web application?

Thanks!

[2014-06-04 08:42] miguelgarciaarribas opened #216 "Blink implementation link obsolete"
It's currently pointing to https://code.google.com/p/chromium/issues/detail?id=377671 when it should point to https://code.google.com/p/chromium/issues/detail?id=366145

[2014-06-04 14:08] #216 closed, assigned to nobody

[2014-06-04 20:45] #215 closed, assigned to nobody

[2014-06-05 10:28] justmarkup opened #217 "Add "maintainer" member"
I think it would be nice to add information about the maintainer/developer to the manifest.

This may look like the following:

[code]

At least FFOS, Chrome Apps and Ubuntu web apps have this information in their mainifest, so I wondered if this should be included here as well, maybe marked as optional?

@marcoscaceres what do you think?

[2014-06-05 14:49] #217 closed, assigned to nobody

[2014-06-05 21:57] wwumit opened #218 "Device API Permission information"
Some web application may require access to some resource on the device, such as camera, gps. Should there have some place to store the authorization information for these web apps to access such kind of resource, in the manifest.

In section 7.2, it is indicated that:

However, in designing these measures, implementors are advised to enable user awareness of information sharing, and to provide eas

[2014-06-06 01:04] #218 closed, assigned to nobody

[2014-06-10 20:10] #212 closed, assigned to nobody

[2014-06-10 20:12] #209 closed, assigned to nobody

[2014-06-12 15:58] #23 closed, assigned to marcoscaceres

[2014-06-12 23:11] marcoscaceres opened #225 "A means to control the "theme color""
When an application is launched in standalone mode (or any mode that shows a status bar), it would be nice to be able to have a way of controlling the color of the status bar.

Proprietary examples:
* IE' [mapplication-navbutton-color](http://msdn.microsoft.com/en-us/library/gg491732%28v=vs.85%29.aspx#msapplication-navbutton-color),
* iOS's [apple-mobile-web-app-status-bar-style](https://developer

[2014-06-16 19:36] #142 closed, assigned to nobody

[2014-06-17 15:04] marcoscaceres opened #226 "Need to define how to apply the manifest"
With `scope` (#114) and `service_worker` (#161) being added to the manifest, and display mode, it becomes important to state when the actual manifest is applied to the documents of an origin.

[2014-06-18 21:23] marcoscaceres opened #227 "Use input / output model for algos"
For algorithms, it would be nice if the spec used the input/output pattern seen in Web Components and Service Workers. Basically looks like:

Or similar. It makes things a bit easier to read.

[2014-06-24 14:19] yoavweiss opened #228 "Orientation, viewport dimensions and synchronicity"
While discussing `<picture>` with @brucelawson, @mathiasbynens and @andreasbovens, we started talking about the at-viewport CSS rule and how it should be defined inlined, to enable viewport based resource fetching (both for external CSS priorities, as well as for `<picture>` and `sizes`).

Then we started talking about the manifest's orientation flag, and how it can have a similar impact on the vi

[2014-06-30 19:49] marcoscaceres opened #229 "Clarify download priority"
In #228, @yoavweiss said:

Need to make sure the above is clear in the spec.

[2014-08-06 15:30] csuwildcat opened #230 "Require manifest file to be located at domain root"
After reviewing the specification, I wondered if the manifest could be required to live on the domain root?  Many interesting use cases are made possible by having a required, canonical location for the manifest, one is entity data. I had been contemplating introduction of something like an entity.json that would contain things like address/geo data for all physical locations tied to a domain enti

[2014-08-21 19:56] #230 closed, assigned to nobody

[2014-09-24 20:06] scheib opened #232 "Document why web manifest vs series of legacy tags"
I suggest including a brief explanation or summary as to why a single manifest file is preferred vs a series of meta or link tags that have been used prior to this specification.

[2014-09-29 11:38] benfrancis opened #233 "Manifest link relation in HTTP response header"
The idea of using a Web Manifest as a progressive enhancement to a web page suffers from a bit of a bootstrapping problem.

If the manifest is referenced in a link relation inside an HTML document, that HTML document may already have been rendered by the user agent by the time it has chance to download and process a manifest defining properties such as display mode and default orientation.

I thin

[2014-09-30 23:25] marcoscaceres opened #234 "Obtaining a manifest should be before processing"
Moving "Obtaining a manifest" section above processing would make the spec easier to follow, IMO.

[2014-10-07 22:37] marcoscaceres opened #235 "orientation values should only be those of "OrientationLockType""
The spec only talks about the orientation types the UA supports, but should explicitly exclude values that are not in the `OrientationLockType` enum of screen orientation.

[2014-10-08 17:02] marcoscaceres opened #236 "consolidate start_url processing"
The steps for processing a manifest currently handle what happens when a start_url results in `undefined`. However, this should really be handled as part of the steps for processing the `start_url` member.

[2014-10-08 21:29] marcoscaceres opened #237 "Spec doesn't deal with start_url being empty string"
When the start_url is an empty string, it should act like it's missing - which means resolving to the document's URL:

[code]

[2014-10-08 21:31] #237 closed, assigned to nobody

[2014-10-09 15:23] marcoscaceres opened #240 "Clarify 'cannot be used together with' means"
Elsewhere, @kenchris suggested:

As part of display mode and orientation.

[2014-10-09 15:24] #235 closed, assigned to nobody

[2014-10-09 15:24] #236 closed, assigned to nobody

[2014-10-09 18:50] donaldpipowitch opened #241 ""start_url" or "startUrl"? Snake case vs. camel case?"
Hi,

I don't wanna be _that_ guy who grumps about code styles. I'm just curious: was snake case instead of camel case an intended decision or just a random decision? I'm just wondering, because other popular manifest files in the web community prefer camel case (like `"devDependencies"` in `package.json`).

(I'm really just interested in the decision process. I don't think it's _that_ important.)

[2014-10-09 19:08] #241 closed, assigned to nobody

[2014-10-10 11:53] #234 closed, assigned to nobody

[2014-10-10 17:39] marcoscaceres opened #242 "Processing of icon src doesn't handle the empty string"
Should treat empty strings as `undefined`, as we do with `start_url`.

[2014-10-10 20:07] marcoscaceres opened #243 "URL reference is incorrect"
Should be pointing to WHATWG one ... :facepunch:

[2014-10-14 19:32] marcoscaceres opened #244 "Procesing doesn't deal with valid, but unhelpful, JSON"
Processing doesn't deal with the following valid, but unhelpful JSON documents:

[code]

[2014-10-15 10:18] #242 closed, assigned to nobody

[2014-10-15 10:18] #243 closed, assigned to nobody

[2014-10-15 10:18] #244 closed, assigned to nobody

[2014-10-15 10:25] marcoscaceres opened #246 "Dev warning issued even if icons is undefined"
Spec says

Additionally, should say the if unprocessed icons is not undefined.

[2014-10-15 10:38] #233 closed, assigned to nobody

[2014-10-15 10:59] marcoscaceres opened #247 "Fullscreen ref is wrong"
should point to WHATWG spec

[2014-10-15 11:01] marcoscaceres opened #248 "Spec should define URL's"
Spec should define URL as being a WHATWG URL, instead of citing WHATWG everywhere.

[2014-10-15 14:01] kenchris opened #249 "Not clear how the manifest URL can be a base URL"
1.  Let url be a new [WHATWG-URL] using value as input and manifest URL as the base URL.

The manifest URL includes /manifest.json or similar... That part should not be part of the base URL

Think of a clear way to reword.

[2014-10-18 22:54] madskristensen opened #250 "Example 1 shows `density` as a string - should be number"
The [specification](https://w3c.github.io/manifest/#density-member) states that the `density` property is a number, but is featured in [Example 1](https://w3c.github.io/manifest/#example-manifest) as a string:

`"density": "2"`

More specifically, the spec states:

`The device pixel density is expressed as the number of dots per 'px' unit` and `The value is a positive number greater than 0. If the

[2014-10-19 17:50] #250 closed, assigned to nobody

[2014-10-20 22:50] marcoscaceres opened #251 "Add validation schema for manifest format"
@madskristensen proposes adding a json schema for the manifest format.

This will require adding a section to the appendix that includes:
- [ ] short rationale for adding the schema.
- [ ] linking to the file.
- [ ] the Apache 2.0 license requirements? attribution?
- [ ] adding the actual schema below as a file to this repo.
- ???

[code]

[2014-10-20 23:42] #251 closed, assigned to nobody

[2014-10-20 23:56] #247 closed, assigned to nobody

[2014-10-21 17:52] marcoscaceres opened #253 "The curious case of the vanishing\mutating link element"
Just wondering, should we put something into the spec that, when fetching the manifest, watches for mutations to the relevant `link` element and cancels the download if the element no longer meets the criteria:
- the element is removed from the document
- the href changes - restart the download?
- the rel no longer has a manifest token

[2014-10-22 20:23] #246 closed, assigned to nobody

[2014-10-22 22:14] marcoscaceres opened #255 "Icon src with only whitespace should return `undefined`"
... this is to allow discarding `icons = [{src = "      "}`, which are not very useful.

[2014-10-22 22:58] marcoscaceres opened #257 "Manifest should be blocked by Mixed Content"
Fetching a manifest that results in mixed content should not work. Should mention this check in the obtaining manifest algo.
https://w3c.github.io/webappsec/specs/mixedcontent/

[2014-10-22 23:18] marcoscaceres opened #258 "Manifest should be blocked by Mixed Content"
Fetching a manifest that results in mixed content should not work. Should mention this check in the obtaining manifest algo.
https://w3c.github.io/webappsec/specs/mixedcontent/

[2014-10-22 23:18] #258 closed, assigned to nobody

[2014-10-22 23:29] marcoscaceres opened #259 "CSP on manifest itself is ... fun times"
The CSP of the document should be sufficient to also apply to the manifest itself. That is, the policy of the document should govern the CSP of the manifest too.

[2014-10-25 12:19] #248 closed, assigned to nobody

[2014-10-25 12:19] #255 closed, assigned to nobody

[2014-10-27 20:19] #259 closed, assigned to nobody

[2014-10-27 20:58] #253 closed, assigned to nobody

[2014-10-27 21:12] #249 closed, assigned to nobody

[2014-10-28 22:45] marcoscaceres opened #262 "add security consideration around data: and CSP"
add security consideration around data: and CSP - ssia.

[2014-10-29 07:51] PaulKinlan opened #263 "Clarification of CSP constraints for hosting manifests"
Just to clear my understanding of link rel="manifest".  It is possible to host it off domain (foo.com points to boo.com) unless the host document [constrains it via CSP](https://w3c.github.io/manifest/#obtaining)?

To cut a long story short, it would be possible for a service to host and aide the creation of manifests for a web app, as long as the start url is on the same domain as the host docume

[2014-10-31 00:21] #240 closed, assigned to nobody

[2014-10-31 00:21] #257 closed, assigned to nobody

[2014-11-04 13:20] danbri opened #265 "typo: manfiest"
section 6.2, step 3, "If Type(manfiest) is not "object"."

[2014-11-04 17:06] #265 closed, assigned to nobody

[2014-11-05 01:00] #207 closed, assigned to nobody

[2014-11-05 18:59] chaals opened #268 "URL for updating badge/tag (e.g. number of messages waiting)"
In most systems that provide an icon for a webapp, there is a way to get variable information. For example messaging apps provide a count of unread messages waiting, auction apps can provide information about the current highest bid, event apps may provide a countdown timer, etc.

We should add this function to manifest.

Essentially we need a URL for the source of the data, and some standard "sha

[2014-11-05 23:05] marcoscaceres opened #269 "add security consideration that manifests can contain user data"
Need to add a security consideration that a manifest can contain arbitrary user data in addition to proprietary extensions. As such, user agents should guard against malicious attempts to confuse processors.

The spec already says: "implementors need to impose their own implementation-specific limits on the values of otherwise unconstrained member types, e.g. to prevent denial of service attacks,

[2014-11-05 23:27] #228 closed, assigned to nobody

[2014-11-07 14:23] #229 closed, assigned to marcoscaceres

[2014-11-07 18:08] #232 closed, assigned to nobody

[2014-11-07 18:11] #262 closed, assigned to nobody

[2014-11-07 18:11] #263 closed, assigned to marcoscaceres

[2014-11-10 19:15] marcoscaceres opened #272 "Define identity of a web app."
* what identifies an app? An origin?
 * how does one update the app?
 * what happens if the scope changes?

[2014-11-12 11:20] mounirlamouri opened #273 "Expose the display mode in Javascript"
This is slightly related to issue #155 (but specific to JS). Shouldn't we expose the display mode in which the current browsing context is? After talking to some devrel folks at Google, the UC I was able to gather are:
- decide whether to promote "Add to homescreen";
- offer a different UI (like back button when in 'standalone');
- have data required to record usage metrics.

[2014-11-12 20:59] marcoscaceres opened #274 "Noisy "./well-known/manifest.json" is noisy"
Having "./well-know/manifest.json" will generate a lot of extra traffic every time someone wants to add an app to homescreen. We should drop this.

[2014-11-13 10:46] #274 closed, assigned to nobody

[2014-11-14 20:30] cvan opened #276 "Hope for external `start_url`s"
Chrome apps require local paths ([`app.launch.local_path`](https://developer.chrome.com/extensions/apps#manifest)), but they do allow [`webview`s](https://developer.chrome.com/apps/app_external#webview) and cross-origin XHRs via [`permissions`](https://developer.chrome.com/apps/app_external#external) (similar to Firefox's SystemXHR).

Similarly, Firefox apps do not allow external `launch_path`s ht

[2014-11-14 23:05] #276 closed, assigned to nobody

[2014-11-17 23:33] #273 closed, assigned to nobody

[2014-11-18 00:12] #155 closed, assigned to nobody

[2014-11-18 00:31] #269 closed, assigned to nobody

[2014-11-18 19:31] kenchris opened #279 "density doesn't make a lot of sense for SVG"
Should it take "any"?

[2014-11-24 12:14] jungkees opened #280 "Capability to check already installed web app"
Does the spec currently scopes or plans to add a capability (via script) to check whether a certain web app with a particular manifest has been already installed (e.g. added to homescreen, etc.)? Presumably, content providers might want to check this to promote services depending on such state.

[2014-11-24 17:29] #280 closed, assigned to nobody

[2014-11-26 17:00] craigfrancis opened #281 "Cookies and data collection policies"
This might be something for an extension... but in the UK (and Europe), there is a "cookie law" which is supposed to help website visitors understand the data that is being collected about them:

http://ico.org.uk/for_organisations/privacy_and_electronic_communications/the_guide/cookies

http://nocookielaw.com/

This comes from the concerns about the amount of tracking/data about people... and is

[2014-11-27 10:01] mounirlamouri opened #282 "Icon density parsing should have a developer warning"
`If result is NaN, +∞, or less than or equal to +0, let result be 1.0.`
Should probably be:

[code]

[2014-11-27 10:27] mounirlamouri opened #283 "Unknown display value should produce a developer warning"
If `orientation` isn't an expected value, the parsing algorithms recommend a developer warning. It should be the same for `display` so typos would be more easily detected.

[2014-11-27 16:58] mounirlamouri opened #287 "Manifest icon's 'type' should be a valid IMAGE mime type, not a valid mime type"
Because, really, I don't think we want an application/pdf for an icon but I might be wrong :)

[2014-11-27 20:59] #283 closed, assigned to mounirlamouri

[2014-12-03 02:16] marcoscaceres opened #288 "Link space / "deep linking""
It would be nice if, in addition to URL scope, there was a "link scope" that could allow the app to capture some URL space that means "open this in the app".

(will rewrite this! writing this in a hurry)

[2014-12-16 02:08] #282 closed, assigned to mounirlamouri

[2014-12-16 02:19] #268 closed, assigned to nobody

[2014-12-18 01:13] #287 closed, assigned to nobody

[2014-12-18 03:05] #281 closed, assigned to nobody

[2014-12-19 14:40] laurentperez opened #292 "manifest should be queried when app is launched from home screen"
I've tested https://github.com/GoogleChrome/samples/tree/gh-pages/web-application-manifest under Chrome 39+, Add to home screen works.

However, the manifest.json is not queried when I run the app from the home screen. If I change a manifest property like orientation, it will not update. If I run the page again from Chrome, Add to home screen creates a second icon, now I have two icons for my app,

[2014-12-20 05:28] marcoscaceres opened #293 "Clarify that start URL is not always `start_url`'s value"
Please note that the start URL !== `start_url` member (the user or user agent may have changed it when the site was added to home-screen or otherwise bookmarked).

[2014-12-20 05:39] #226 closed, assigned to marcoscaceres

[2014-12-20 05:39] #293 closed, assigned to nobody

[2014-12-20 05:53] #114 closed, assigned to nobody

[2014-12-20 10:30] #292 closed, assigned to nobody

[2014-12-20 12:31] benfrancis opened #294 "Allow multiple application contexts per app"
Currently it appears that an application is limited to a single application context per app. The application context is created when the app is launched, calls to window.open and hyperlinks with target=_blank can only open a browsing context, navigations to URLs within the scope of an app inside a browsing context will never result in an application context being created.

As an app developer I wo

[2015-01-01 04:24] marcoscaceres commented on #272
@opoto thanks! fixed the busted link. There is some ongoing work to fix cross-document references in the tool I'm using to generate the spec (Respec). That should allow for more seamless jumping between concepts and their definitions. I'm a bit hesitant to add (non-normative) clarifications for concepts defined in other specs, as every time I've done that it's not ended well: either the other docu

[2015-01-05 09:35] kenchris commented on #161
Well that would mean that the service worker might not have been installed when the app has been added to the launcher and thus might not work offline until launched second time.

With it in the manifest, the UA could make sure that the service worker is installed (which in return could depend on fetching of resources to make offline work etc) when added to the home screen and fail adding it in ca

[2015-01-05 12:15] benfrancis commented on #294
Chrome OS supports multiple windows per app https://developer.chrome.com/apps/app_lifecycle#create_windows so the Chrome Web Store might be a good place to look for existing use cases. We're unlikely to find use cases in native mobile apps because it simply isn't possible.

Given that a browsing context can create other browsing contexts and an application context is a type of browsing context, I

[2015-01-05 12:23] marcoscaceres commented on #294
It's not artificial until we find valid use cases (and use cases that are not covered by window.open). That's not to say there are no good use cases - but we should find those first and see who actually needs this (particularly people who are limited by window.open) ... and then, and only then, think about adding something like this.

[2015-01-08 04:40] marcoscaceres commented on #161
True. But there is no guarantee that an app will ever be installed at all, and the app should work offline regardless (because 1. the UA might not support manifests, and 2. the user declined to install it, but still wants to access the app when offline - for example, the user is on vacation, they visited a restaurant's website, restarted their phone, and now want to view the website but offline).

[2015-01-08 04:43] marcoscaceres commented on #288
Closing issue and will reopen if using scope is insufficient.

[2015-01-08 04:43] #288 closed

[2015-01-08 04:45] marcoscaceres commented on #227
Not going to bother with this. No one is complaining that the way the spec is currently written is problematic.

[2015-01-08 04:45] #227 closed

[2015-01-08 04:49] marcoscaceres commented on #168
Closing this issue until we actually need to deal with it.

[2015-01-08 04:49] #168 closed

[2015-01-08 05:43] marcoscaceres commented on #294
@benfrancis wrote:

So, [looking at why Chrome apps seem to need this](https://github.com/search?utf8=%E2%9C%93&q=%22chrome.app.window.create%22&type=Code&ref=searchresults
)... it appears that they are used by background and event pages (`background.js`, etc.):

Because js-based background and event pages have no DOM or representation, it makes sense to sometimes pop-up a window to allow the user

[2015-01-08 09:24] kenchris commented on #161
The offline etc won't depend on the manifest support, it just means that the first launch after added to the home screen will already have the service worker ready and if the app developer decides, work offline, have push messages etc. Without this, the user might first have it on second launch.

Is there another way do fix that issue? Another option would be to have some event to be called when a

[2015-01-09 00:17] marcoscaceres commented on #161
My working assumption is that installing just reopens the browser but, possibly, in a different display mode. Can you help me understand the issue a bit? This is what I assume happens:

1. user goes to `https://foo.com`.
1. foo.com registers a SW.
1. Time passes, pages are reloaded. SW is happily doing its thing.
1. Browser or user decides "this is install worthy! I'm going to keep this".
1. foo.c

[2015-01-09 03:52] marcoscaceres commented on #208
I'd like to close this issue to allow us to roll out an initial version of the spec. We can then begin gathering feedback and seeing how people adapt manifests to different languages in the wild. We have a good set of possible solutions, which we can easily add to the spec and implementations once we see what happens on the web.

[2015-01-09 03:52] #208 closed

[2015-01-09 03:55] marcoscaceres commented on #211
Closing this for now. See https://github.com/w3c/manifest/issues/208#issuecomment-69289966

Once we get a better idea about how people are using this, we can reopen and add this to the spec.

[2015-01-09 03:55] #211 closed

[2015-01-09 03:59] marcoscaceres commented on #167
Deferring this feature request till we have more experience with a more limited set of manifest features (the ones currently in the spec).

[2015-01-09 04:00] marcoscaceres commented on #294
Closing for now. Will return to this once we see what people start making.

[2015-01-09 04:00] #294 closed

[2015-01-09 04:11] marcoscaceres commented on #161
Let me put it a different way: let's see how we go initially without having this in the spec... at least allow Chrome and Gecko to catch up by supporting the same basic set of features.

It's going to be a few years before service workers are in all browsers. We have a better chance of enabling the manifest's basic functionality across a larger set of browsers if we don't put in a dependency on SW

[2015-01-09 05:20] marcoscaceres commented on #210
Closing for now. Will find a way to do interop testing later.

[2015-01-09 05:20] #210 closed

[2015-01-09 13:38] benfrancis commented on #294
Fair enough. So to confirm, as the spec is currently written calling window.open() from an application context will always create a browsing context without the manifest applied? The only way to create an application context with the manifest applied is by launching an app?

Just for refrerence, here is the algorithm from Jonas' original application scopes proposal, which I agree with:

https://gr

[2015-01-11 23:20] #279 closed

[2015-01-11 23:22] marcoscaceres commented on #161
Not hearing any objections, I'm closing for now.

[2015-01-11 23:40] marcoscaceres commented on #294
correct.

Correct. This could also help to mitigate a kind of masquerading attack: as opening an app with window.open can create a clear overlay with browser chrome.

I think parts of Jonas' proposal is very OS specific - it makes UI assumptions (e.g., showing a chooser). For instance, it wouldn't make sense in iOS - where these kinds of navigation are handled automagically (they get routed throug

[2015-01-12 03:07] marcoscaceres commented on #294
Can you walk through the above sequentially from the following scenarios below? I want to make sure we are on the same page (hehe, no pun intended).

We assume the following two apps are installed:

### App 1 - Foo!
  * short name: "Foo!"
  * scope: is foo.com/app.
  * display mode: standalone.
  * orientation: portrait.
  * start url: foo.com/app/start.html

### App 2 - Bar!
  * short name: "Bar!

[2015-01-12 12:44] benfrancis commented on #294
Can you explain this further? I'm not sure I understand what you mean.

Sorry, perhaps I should have explicitly pointed out that the quote was taken from a proposal specific to Firefox OS, not for this W3C specification, it was intentionally OS-specific. It was the general algorithm I was citing, not the specific UI details.

That's fair enough. An Android/iOS/Windows/OS X etc. implementation may

[2015-01-12 13:05] benfrancis commented on #294
Looks fine. (Terminology nit: Remains "standalone" without browser chrome, not "fullscreen").

...

I would actually go further than this and say that the user agent MAY just automatically switch to the app and carry out the navigation there, rather than prompting the user. Once an app is installed, it is registered as managing that part of the web, and should always do so. But that should probabl

[2015-01-13 00:20] marcoscaceres commented on #294
On January 12, 2015 at 11:05:44 PM, Ben Francis (notifications@github.com) wrote:

Agree. That's a UX decision. I personally wouldn't like this, as when I'm "surfing the web" I generally don't want to be taken out of that context. 

Again, this is something for UX people to play around with. IMO, it could become really confusing if multiple versions of an app were running at the same time: thinkin

[2015-01-13 06:39] marcoscaceres commented on #272
[Elsewhere](https://github.com/w3c/manifest/commit/a2e8c31ecda1ca7d5673a02e08698e5cf64b5df2#commitcomment-9254539), I proposed that identity be handled by the OS.

![screenshot 2015-01-13 16 35 27](https://cloud.githubusercontent.com/assets/870154/5716890/9616dbe0-9b42-11e4-8d16-6b91d17815d0.png)

[2015-01-13 07:55] jmajnert commented on #272
@marcosc - In https://github.com/w3c/manifest/commit/a2e8c31ecda1ca7d5673a02e08698e5cf64b5df2#commitcomment-9254539  you wrote:

I'm afraid that I don't fully understand your notion of identity. Why do we even need to have application identity in the manifest spec? At one point the manifest was regarded as just another resource with additional info about the app.
Application identity is hard to do

[2015-01-13 11:51] benfrancis commented on #294
Try using the Android Facebook app. By default it will open external links in a very basic overlay on top of the app rather than respect my choice and use my fully featured default browser. In my opinion, if I click on a hyperlink which doesn't fall within the scope of an installed app, it should open as a new tab in my browser, not stay inside the context of the app with some kind of stripped dow

[2015-01-13 12:46] benfrancis commented on #272
That sounds better.

This allows/consequences:

Is it therefore left up to the OS to determine to which URL scope the granted permissions apply? I assume that scope could provide a hint, but that the maximum scope of permissions should still be limited to the app's origin?

So would it be fair to say that from the point of view of updates, the manifest URL does identify the app? It's just that for

[2015-01-13 12:58] benfrancis commented on #272
I actually think this would be hugely valuable to define here. Making a URL the identity of an app would be a big step in solving the current fragmentation of "web apps" on various platforms. Rather than app stores defining the identity of apps separately for each app store and OS, the web itself would be the single source of truth, app stores would just catalogue the apps available on the web, al

[2015-01-13 13:11] jmajnert commented on #272
I just don't think that the manifest spec in its current form (with all the requirements and restrictions documented in this repo) is fit for defining identity.
Please consider the requirement for multiple apps per manifest or the fact that `start_url` is not a mandatory member of the manifest. It seems that the manifest is just a collection of additional info about app(s).

So: define identity in

[2015-01-13 13:37] benfrancis commented on #272
If defining the identity of a web app is outside the scope of the "Manifest for web applications" specification, then where should it be defined instead? It seems like an important thing to standardise and I'd like to have that conversation.

I don't think anyone is suggesting multiple apps per manifest, just multiple manifests per manifest URL. I'm not sure where this requirement came from as I'v

[2015-01-13 14:17] jmajnert commented on #272
What I'm saying is that I just don't see how manifest URL could be an app identifier when:
* multiple manifests may have the same URL (dynamically chosen based on HTTP headers etc)
* multiple apps can use the same manifest hosted at the same URL
* the manifest itself doesn't have to point to a `start_url` and even if it does, it is just a hint for the UA, which may choose to ignore it. So it doesn

[2015-01-14 00:30] marcoscaceres commented on #294
This is generally a business decision. You don't want the user to leave your app - but you want them to complete the task they need to complete (e.g., reading a news article, viewing a funny picture, etc.). Thus this need a good balance between what developers want and what users wants.

The overlay might provide that choice to the user, as Twitter on iOS does:
![screenshot_2015-01-14_10_14_15](ht

[2015-01-14 00:38] marcoscaceres opened #301 "Clarify launching from a deep link."
The spec currently says:

This doesn't handle the case where an app needs to open to a URL that is within its scope (i.e., to handle "deep linking").

[2015-01-14 06:04] marcoscaceres commented on #272
On January 13, 2015 at 11:11:45 PM, Janusz Majnert (notifications@github.com) wrote:

Probably. It's why I left it out in the first place... however, it doesn't hurt to throw around a bunch of ideas to see what sticks. Clearly, it's possible to isolate and identify apps in OSs (even if problematic, as you pointed out). 

To be clear, it doesn't matter that there is no mandatory start_url field, as

[2015-01-14 06:06] marcoscaceres commented on #272
On January 14, 2015 at 12:17:49 AM, Janusz Majnert (notifications@github.com) wrote:

Agree. These kinds of URLs are not suitable identifiers for this purpose. IMO, best to just have the system identify an app for itself however it wants. 

Just a clarification: we don't do CSP through the manifest for web apps; though it could be useful for packaged apps.  
 

The humble URL + having scope is "go

[2015-01-14 07:04] marcoscaceres commented on #272
@benfrancis, @jmajnert, how about https://github.com/w3c/manifest/commit/afe3bf8949af3fb9d70b9094fa4a6f385047a8e4 ?

[2015-01-14 08:53] benfrancis commented on #161
@marcoscaceres I'd like to propose re-opening this, I didn't realise it had been closed. I think it's fine if some implementations don't get around to implementing this property for a while, nobody supports the scope property yet either.

I think this is the key point. The service_worker property would not be the only way for a given Service Worker to be registered, it would just be a way of ensur

[2015-01-14 09:42] benfrancis commented on #272
@marcosc Despite the arguments put forward to the contrary I do still think the manifest URL would make the best identifier, but if not all implementers want to do this then I think leaving identity down to the implementation is OK.

If identity is left down to the implementation, does it even need mentioning in the spec? You mentioned before that the manifest URL can be used for the purpose of up

[2015-01-14 09:53] benfrancis commented on #161
I don't think this is quite how it would work on all operating systems. There's no guarantee that things like cookies, IndexedDB databases and Service Worker registrations would survive the transition from the browsing context in the browser app to the application context in the OS. The OS might even use a different rendering engine to the browser the app was installed from.

[2015-01-14 09:57] tobie commented on #161
I understand the security concerns here, but until that issue is solved and the UX is seamless, this is not the Web, it's a crappy, subpar native experience that happens to use Web technology.

[2015-01-14 11:42] jmajnert commented on #272
afe3bf8 does a good job of not saying anything about constructing the identifier. @benfrancis question stands - where is the identity used in the manifest spec and can we do without it?

[2015-01-15 01:01] #301 closed

[2015-01-15 01:08] marcoscaceres commented on #272
Ok, will kill it.

[2015-01-15 05:03] marcoscaceres commented on #161
Maybe @jakearchibald can help here with an illustrative example... or at least tell me how wrong I am :)

The problem is not one of support, it's about use case and functionality.

This is the bit I really don't understand - and I need some enlightenment here. As far as I can see, it means throwing away all the registration machinery that a developer gets with `navigator.serviceWorker.register()`.

[2015-01-15 11:27] jakearchibald commented on #161
I haven't really been involved in this proposal so far, so I'm coming at this fresh, apologies if I'm retreading old ground.

# Uses

* If the added-to-home-screen site has a different instance of origin storage & ServiceWorkers, a declaration in the manifest means these storage instances can be populated by the SW at the time the user adds to home screen, rather than on first run. However, this w

[2015-01-15 11:44] kenchris commented on #161
im more thinking whether it might be more interesting and future proof to be able to run some JS code when "installing/adding to homescreen". This code should then succeed or fail (meaning failure would mean failure to add to homescreen). That code could then install the service worker (or fail)

[2015-01-15 11:47] jakearchibald commented on #161
I thought about that too, my brain did this:

1. Actually, it'd be nice to run any code as part of install
1. Hmm, but that gets tough when it comes to async code
1. We need something to signal completion, like a callback or a promise
1. Putting this code in json, it should go in another file
1. Oh shit I just reinvented ServiceWorker

[2015-01-15 12:43] benfrancis commented on #161
## Install from the app

marcoscaceres wrote:

What do you think would be thrown away? Would this not just be a declarative equivalent of navigator.serviceWorker.register() which in fact calls that method under the hood?

That's a fair point. I would say:
* We should consider the case where service worker registrations don't survive the install process. I agree this could be considered a bug, but

[2015-01-15 13:01] jakearchibald commented on #161
@benfrancis

Why would you want to offer ServiceWorker features to home-screen-launched but not browser visited?

That doesn't feel right if the browser & home-screen-thing share storage and SW. I wouldn't expect removing a home screen icon to remove features I previously had in the browser, maybe even features that were registered in the browser. If the home-screen-thing has a different storage &

[2015-01-15 13:53] benfrancis commented on #161
My point here was just that this could be a use case similar to the app store use case where the user may install the app before having used it, then it would be nice if the Service Worker was already registered the first time they launch the app. That wouldn't prevent the same Service Worker from being used in the browser if the user navigated to https://evernote.com/Home.action.

Not necessarily

[2015-01-16 01:50] marcoscaceres commented on #161
This is exactly what I don't want to ever see happen - and what worries me most about SW in the manifest. IMO, declarative solutions that allow for this level of discrimination ends up harming users most of all, because it (unwittingly) ends up only making features available to a subset of user agents - even if the developer wants to do the right thing, the manifest simply can't help them there. T

[2015-01-16 10:50] foolip opened #304 "Consider making display a space-separated list of tokens"
http://w3c.github.io/manifest/#display-member

This is a bit speculatory, but on Android there are a lot of flags for different variants of fullscreen:
https://developer.android.com/reference/android/view/View.html#setSystemUiVisibility(int)

*If* there are aspects of display mode that are conceptually orthogonal *and* that can be controlled independently on Android and other platforms, it may mak

[2015-01-16 10:57] kenchris commented on #304
I think that at least we need to look at immersive mode which is supported on newer Android versions.

Fullscreen on Android doesn't mean that the OS navigation buttons are hidden, but immersive allows both statusbar and navigation buttons to be so, but also making both appear (overlayed) when swiping up or down from outside the screen. Games, in particular are starting to take advantage of this.

[2015-01-16 12:54] foolip commented on #304
If the Fullscreen API use immersive mode I guess that could be used to replicate the "default mode first, then immersive", but my colleague @mo speculates that the reason Android apps currently use this model is that immersive mode is so new that you'll want to enable only after launching based on run-time checks.

There's also SYSTEM_UI_FLAG_LOW_PROFILE where the buttons become little dots...

[2015-01-16 15:17] marcoscaceres opened #305 "check against security/privacy questions"
https://mikewest.github.io/spec-questionnaire/security-privacy/

[2015-01-16 15:24] marcoscaceres commented on #305
Need to run through this list before we send to webappsec. Need to make sure we have good answers to any questions that apply or they'll eat us alive.

💀🙈🙉🙊

[2015-01-16 15:43] mikewest commented on #305
Yes. We do that. Eating people, I mean. Alive.

[2015-01-16 15:44] mikewest commented on #305
(The document is a total strawman; I think the questions are good ones, but the document needs a lot of work. Your feedback would be welcome!)

[2015-01-16 16:50] marcoscaceres commented on #305
On Saturday, January 17, 2015, Mike West <notifications@github.com> wrote:

I've seen it. It's just.. not right :)

[2015-01-19 05:18] marcoscaceres commented on #304
Allowing display to be a space-separated list of tokens could make sense. However, I'm inclined to sit on this for a bit and see how we go with initial implementations. The current set of choices in the spec represents agreement amongst potential implementers on what can be supported across the largest set of OSs. As such, I wouldn't want to expand that list until we start getting more feedback fr

[2015-01-19 07:26] marcoscaceres commented on #305
(Can other people please check this ... I wrote these out in long form in case we want to integrate this at various points in the spec)

### deal with personally-identifiable information?
No. Not more than for any other resource.

### deal with high-value data?
This specification does not directly deal with high-value data. However, installed applications and their data could be seen as "high valu

[2015-01-19 08:21] jmajnert commented on #305
lgtm

[2015-01-19 21:17] foolip commented on #304
That's fine by me, I'm not involved with implementing this and so can't make very concrete suggestions, I just wanted raise this in case it had not been considered. I think that as soon as someone tries to implement the fullscreen or minimal-ui mode on Android the question will become relevant.

[2015-01-28 03:21] marcoscaceres commented on #304
Closing for now.

[2015-01-28 03:21] #304 closed

[2015-01-28 05:48] marcoscaceres opened #308 "[meta] transition doc. to CR at W3C"
Planning bug for CR.

For all requests to advance a specification to a new maturity level other than Note the Working Group:

* [ ] must record the group's decision to request advancement.
* [ ] must obtain Director approval.
* [ ] must provide public documentation of all substantive changes to the technical report since the previous publication.
* [ ] must formally address all issues raised about

[2015-01-28 13:02] slightlyoff commented on #161
I can't agree with most of @benfrancis's logic; evernote has created their own tortured world and they have lots of ways out -- they don't need the manifest to do it for them.

That said, I'm OK with punting on integration for now and leaning on the implicit connection between the document being loaded from `start_url` and a controlling SW.

UAs will have to implement a rule that says that if ther

[2015-01-28 18:08] skddc commented on #161
Serious apps that exist today don't use SW, so that logic would exclude basically every app that doesn't switch for some reason -- maybe no other reason than satisfying this arbitrary requirement. It might not be very popular, but AppCache exists and is being used today.

[2015-01-28 18:50] domenic commented on #161
This seems like an area where UAs will compete. @slightlyoff feels strongly that a "real app" must have a SW, and his perspective will presumably carry over into Chrome's product direction. Other vendors will likely be more lenient. Each will produce a different user experience, and we'll find out which makes users happier through experience.

[2015-01-28 19:11] skddc commented on #161
*searching the Internets for pictures of unicorns and rainbows*

I know how much some people like SW. However, I don't see how "real apps use SW" is a reasonable opinion, that can't be altered in the slightest by app developers and app hosters giving feedback.

You probably wouldn't go ahead and require IndexedDB to be used over localStorage for considering an app to be "a real app". Yet, that's b

[2015-01-28 19:20] domenic commented on #161
@skddc all I can say is that you (as a web developer) actually have some of the most power here. If you and others end up having to display "get Firefox to install this app to your homescreen!", that might cause Chrome to reconsider its product direction.

[2015-01-28 19:22] domenic commented on #161
(Alternately you could even consider creating dummy service workers that pass whatever heuristics Chrome ends up with---and if we see a lot of these in the wild, Chrome will either try to play a cat-and-mouse game with developers to evolve those heuristics, or give in.)

[2015-01-28 20:26] skddc commented on #161
Good points!

As I said, just dropping some feedback, and will continue doing so no matter what the implementation ends up doing. (Although in the interest of our app developer customers at 5apps I'd wish for them not having to do that, but we might end up implement it for them, like we do with other quirks of the Web Platform).

[2015-01-29 00:58] marcoscaceres opened #309 "Clarify display-mode relationship to iframes and legacy content"
we need to look at how display-mode might be used by legacy content and detail how it should act in iframes etc.

[2015-01-29 01:01] #305 closed

[2015-01-29 04:02] marcoscaceres commented on #309
@kenchris can you please give a summary of what's come up on blink-dev?

Options I can see:

 * legacy content doesn't see `display-mode` media feature.
 * legacy content does see `display-mode` media feature, and it just defaults to browser.
 * iframes (including cross-origin) just inherit from the above.

[2015-01-29 04:58] marcoscaceres commented on #161
I'm putting the spec into CR for a year. That should give us ample time to experiment. Note that Service Workers won't land in Firefox stable for ~6+ months (I'm still betting on Oct 2015) so we will be watching closely Chrome's experience with installability signals.

I'd also like to throw support for what @slightlyoff and @domenic said. I imagine we (browser vendors and hopefully search engines

[2015-01-29 18:48] mikewest commented on #305
Oh, hey! Sorry, I missed the update. This is nice to see!

Did you find the questionnaire helpful at all? Were any pieces simply nonsensical or unhelpful? Were any questions confusing?

[2015-02-03 12:01] marcoscaceres commented on #305
Extremely! it prompted me to rethink a bunch of stuff from different angles. As you can see from https://github.com/w3c/manifest/commit/63f8448274a393faf9e0e31874621116d01e1971, this yielded a lot of additional considerations originally missing from the document.

No. It was broad in its approach (in a good way, as it covered both declarative + imperative APIs as well as data formats) and the ques

[2015-02-05 22:44] slightlyoff commented on #161
@skddc : the goal with the SW requirement is that the lack of offline for an installable app _be attributed to the app_. If apps insist on providing poor user experiences, our goal as a UA is to help users understand that it isn't a failing of the web as a platform. Requiring a SW helps in this area because it:

 - Sets the baseline assumption at "installable things work offline". Top-10 apps will

[2015-02-05 23:03] skddc commented on #161
It's not as new as you make it out to be. Used correctly, AppCache does offline already for a considerable number of simple use cases. We've been using it for years now, and your ignoring it or Jake's calling it names in conference talks don't change that fact.

Anyway, if you want people to use polyfills to cheat Google algos, then so be it. It's easy enough to implement.

[2015-02-05 23:06] skddc commented on #161
... obviously, downloading assets on install/add-to-home actions if there's an AppCache manifest still needs to work, though.

[2015-02-06 09:16] jakearchibald commented on #161
@skddc

Whoa, where did *that* come from? Bearing in mind my [article](http://alistapart.com/article/application-cache-is-a-douchebag) and subsiquent talk on appcache is about an eventual *success* story, and is about helping devs achieve something useful with appcache by highlighting the common pitfalls, what's the basis of your sniping?

[2015-02-06 09:22] jakearchibald commented on #161
(what my article and talk didn't cover is the huge security issues of appcache, to sites using appcache & appcache as an attack vector. It needs deprecated, quickly)

[2015-02-06 11:10] slightlyoff commented on #161
From the Chrome team perspective, I can say that we will rip AppCache out of the product as soon as our largest users are converted to SWs. I expect that to happen this year. Supporting dead-tech-walking in manifest flows is an easily preventable error.

[2015-02-06 11:17] jakearchibald commented on #161
I'm told that Mozilla are just as keen, if not keener, to remove appcache from Firefox.

[2015-02-06 12:14] benfrancis commented on #161
So... back to the topic. The conclusion is that currently Service Workers don't need to be integrated with the web app manifest because user agents should ignore manifests for apps which don't also register a Service Worker and not offer to install those apps. Apps installed via a manifest will always work offline because they can't be installed unless a Service Worker is already registered, and i

[2015-02-06 14:19] marcoscaceres commented on #161
@jakearchibald wrote:

Yeah, our implementation has... um.... "issues". Hopefully it will be marked as deprecated soon.

[2015-02-06 14:37] marcoscaceres commented on #161
No. It's why I'm insisting we look at other uses - like using them to create beautiful speed dial boxes.

Yes. An experience that I can't access when I'm offline is not an experience: it's just an `about:blank` web page :( That should hopefully never happen for a web app.

2) Is the registration of a Service Worker alone really a good indication of quality, or that the app provides an offline expe

[2015-02-06 15:26] skddc commented on #161
Sorry, nothing personal. You just rant a lot about it in public.

You'll completely remove support for a working Web Platform spec from your browser, rendering currently working offline apps broken?! It's not a `<blink>` element exactly. People rely on this to cache their app assets today.

Would be great if you could link us a resource covering that! Much appreciated.

... where it currently supp

[2015-02-06 18:49] nuxodin commented on #161
isn't AppCache polyfillable with ServiceWorkers?

2015-02-06 16:26 GMT+01:00 Sebastian Kippe <notifications@github.com>:

--
Freundliche Grüsse
Tobias Buschor

shwups GmbH
Talstrasse 1
9000 St. Gallen

+41 76 321 23 21
shwups.ch

[2015-02-08 00:47] Volker-E commented on #225
@marcosc I'm with you here, in various use cases we're crowding web pages with `meta` tags targeting just a small group of users, on the other hand trying to squeeze out every bit to make pages perform better.

I'd like to see the possibility to include a "default theme color" in the manifest and if some people wish, they could override it with a maniputable `meta` tag per page.

[2015-02-08 23:14] marcoscaceres commented on #225
On February 8, 2015 at 10:47:32 AM, Volker E. (notifications@github.com) wrote:

Yeah, I'd also like to add this. However, I'm want to wait a bit until we get manifest into some products. At the very least, I guess I can draft it up and just leave it sitting in a feature branch.

 

[2015-02-09 08:50] kenchris commented on #309
Sorry for being late about this, but been too busy!

* ChromeOS wants to use display-mode for existing chrome apps (and is adding support for minimum-ui) and existing standalone mode

[2015-02-09 10:35] jakearchibald commented on #161
Almost. The only difference is ServiceWorker only lets one SW be in charge for a given registration, whereas appcache allows a new tab to be controlled by a newer cache, while an old tab remains controlled by the older version.

[2015-02-09 12:17] marcoscaceres commented on #309
I think we will do the same - and likely to work independently of manifest (i.e., a normal web page will match `display-mode: browser`). We already have support for most of the modes on desktop (fullscreen, standalone, and browser). We don't plan to do a minimal-ui right now.

[2015-02-09 12:24] kenchris commented on #309
Yes, so we could add some text saying that it would be fine to support it even without the manifest or with different manifests (like ChromeApps)

[2015-02-09 13:52] marcoscaceres commented on #309
Absolutely! Though we might get asked to split it into a new spec.

[2015-02-09 18:41] slightlyoff commented on #161
A sufficiently advanced polyfill can provide this behavior using separate
caches per Client.

On Mon, Feb 9, 2015 at 2:35 AM, Jake Archibald <notifications@github.com>
wrote:

[2015-02-11 06:16] yejingfu opened #310 "Add recommended width and height"
Hi,
The spec seems not addressing the main window attributes such as width and height. For packaged apps, it's really nice to define the original window size when launching it. I am wondering if the spec can have window attributes like below:

    "window": {
        "width": 500,
        "height": 600
    }

If it's absent in manifest, the default size should be used.

[2015-02-11 06:19] marcoscaceres commented on #310
@yejingfu, unfortunately, packaged apps are currently outside the scope of this spec.

[2015-02-11 06:41] yejingfu commented on #310
@marcoscaceres Thank you for the information.
The window attributes are not limited to packaged apps IMO. It's also beneficial to web app.
Throughout the spec, I just find the "Display" modes do the similar thing: fullscreen, standalone, minimal-ui, browser. If the app is running in "standalone" or "minimal-ui" modes, it would be better to define the window original size. What do you think?

[2015-02-11 06:45] marcoscaceres commented on #310
Personally, I don't think apps should be able to define their own sizes. This causes a lot of usability ad accessibility problems (e.g., when a pop-up is created, and a user zooms in because text is too small, but there are now no controls to scroll - or everything gets mangled). Apps should be designed to be adaptive to any layout, not expect a fixed size.

[2015-02-11 07:11] kenchris commented on #310
I would actually say that this has nothing to do with packaged apps. It could very well be for any app.

On the other hand, many desktop apps (like Windows apps) have a minimum size. You could say that web apps should work at any size, but some apps are just not useful when smaller than a certain size (think about implementing Autocad or similar)

[2015-02-11 07:23] kenchris commented on #310
I would be OK with adding

"min-width" and "min-height"

[2015-02-11 07:55] marcoscaceres commented on #310
@kenchris, but you can prevent the content from being too small using "min-width" and "min-height" in CSS already. That prevents the content from being squished to an unusable level, while allowing the window to be resized to whatever size the user wants... ok, yes, that is a sad solution :)

so yeah, "min-width" and "min-height" wouldn't be terrible, but to what display mode would they apply?

[2015-02-11 09:16] skddc commented on #310
... makes sense I think. And it would only apply to installed apps on desktop OSs I guess.

[2015-02-11 09:44] marcoscaceres commented on #310
I can't disagree. Next question is, who is planning to support these kinds of floating window apps? We have no plans ATM to support this in Gecko.

[2015-02-11 09:52] marcoscaceres commented on #310
Looking at browsers, the `min-width` is 350px on Firefox, and 400px for Chrome, and 505px for Safari. Why not just let the UA decide what the min-width is?

[2015-02-11 09:59] kenchris commented on #310
This would apply to ChromeOS apps and it will also apply to Crosswalk on desktop linux systems.

Because the apps know better? :-) We got this requirement from the Deepin linux desktop which uses lots of web apps.

[2015-02-11 10:05] marcoscaceres commented on #310
So Deepin linux is going to implement manifest or use cross-walk?

[2015-02-11 11:03] kenchris commented on #310
We are looking at the latter

[2015-02-11 11:09] marcoscaceres commented on #310
Ok, sorry for all the questions. I want to make sure that if we are going to add something it will be used for sure.

[2015-02-11 11:20] kenchris commented on #310
the question that I have is what this should apply to, inner or outer bounds?

Chrome Apps makes this distinction: https://developer.chrome.com/apps/app_window#type-BoundsSpecification

[2015-02-11 11:47] skddc commented on #310
So Open Web Apps won't be replaced by this spec at some point? I'm using OWAs on my Linux and OS X desktops.

[2015-02-11 11:49] marcoscaceres commented on #310
Maybe. That's and ongoing discussion.

[2015-02-11 11:57] skddc commented on #310
In any case, desktop OWAs and FF Marketplace for Desktop were just officially announced as "public beta" with FF 35, so the use case is obviously there.

[2015-02-11 11:57] marcoscaceres commented on #310
@kenchris "The minimum width of the content or window" sounds most interoperable. The OSs  are allowed to put whatever chrome around the app as required by their conventions.

[2015-02-11 12:02] marcoscaceres commented on #310
Agree about the use case. However, marketplace is currently not aiming to be a consumer of this spec AFAIK. I'm also not sure how they handle window sizes? Any idea? I can't see anything in their [manifest format](https://developer.mozilla.org/en-US/Apps/Build/Manifest).

[2015-02-11 12:40] skddc commented on #310
Yes, afaik it's all done automatically with no config option. No idea how it's handled exactly, but it seems like an arbitrary minimum size to me.

[2015-02-13 05:51] dret opened #312 ""manifest" link relation type should be registered per RFC 5988"
It would be great to see the new link relation type be registered with IANA. If that helps, I'd be more than happy to add that to the "IANA Considerations" section.

[2015-02-13 06:34] marcoscaceres commented on #312
On Friday, February 13, 2015, Erik Wilde <notifications@github.com> wrote:

That would be great! Thanks for your help.

[2015-02-13 16:26] dret commented on #312
ok, will do sometime next week, i guess. it'll simply take the standard registration template from RFC 5988 and add a section to the "IANA Considerations". the result will look similar to http://tools.ietf.org/html/rfc6892#section-4

[2015-02-14 11:50] marcoscaceres commented on #312
Thanks. If you find you are too busy, I'm happy to give it a go and can ping you to check over the PR.

[2015-02-15 00:51] dret opened #313 "JSON-LD view"
just out of curiosity: it seems that the processing model for the manifest data at least sometimes requires a sequence of items to be represented (as opposed to a set). at least this is how i read how icons must be processed (http://www.w3.org/TR/appmanifest/#icons-member). i am wondering if this can even work for the JSON-LD "view" that's proposed later on. RDF is notoriously bad with sequences,

[2015-02-16 02:55] #312 closed

[2015-02-16 02:56] marcoscaceres commented on #312
Sent request to IANA too.

[2015-02-16 02:56] marcoscaceres commented on #312
(well, to ietf)

[2015-02-16 03:42] marcoscaceres commented on #313
I'm thinking of dropping the JSON-LD stuff, tbh. It's something that was added for the linked data community, but I haven't heard anyone outside the W3C asking for it. Any issues related to the JSON-LD can then be handled in a separate spec by the linked data folks.

[2015-02-16 03:45] marcoscaceres commented on #308
Unfortunately, the W3C won't support live updates to CR documents - so, it's pointless to go through this. I'm going to record in that the spec is ready to implement, but keep the document as a WD. Once we have 2 interoperable implementations and the spec is long done, we can hand the spec over to the W3C to appease the patent lawyers and government officials.

[2015-02-16 03:45] #308 closed

[2015-02-16 04:18] dret commented on #313
exactly. layering is good. i wish everybody would see it this way.

[2015-02-16 04:24] marcoscaceres opened #315 "Move to using Echidna"
The w3c is making is possible to automatically have drafts pushed to TR, which partially overcomes the stale spec problem.

https://github.com/w3c/echidna

[2015-02-17 02:38] #313 closed

[2015-02-17 03:09] marcoscaceres commented on #315
I need to get the id numbers from each of the editors. Can each of you go to: https://www.w3.org/users/myprofile and get the ID number in the URL? Please see: https://github.com/w3c/echidna/issues/85#issuecomment-74595519

[2015-02-17 03:10] marcoscaceres commented on #315
//cc @anssiko @kenchris  @mounirlamouri

[2015-02-17 07:47] kenchris commented on #315
https://www.w3.org/users/57705

[2015-02-17 08:18] anssiko commented on #315
@marcoscaceres My ID is 41974.

[2015-02-17 21:36] digitarald opened #317 "Desktop web apps should be able to declare their viewport size"
**Real life use cases:**
- Cut The Rope is designed for a 3 to 4 viewport ratio and looks best at 640 by 480. If opened in a different ratio, the game will be letterboxed which should be avoided.
- Wunderlist is optimized for using minimal screen estate and looks blown up when resized too far. To look best on first launch, a developer should be able to specify recommended window size.

Display mod

[2015-02-17 21:44] kenchris commented on #317
This is related to #310

[2015-02-18 02:26] marcoscaceres commented on #317
Duplicate to #310.

[2015-02-18 02:26] #317 closed

[2015-02-18 10:03] mounirlamouri commented on #315
45389

[2015-02-20 07:19] marcoscaceres commented on #310
I wonder if this is too limited. Do you really want to here what `<meta viewport>` does?

[2015-02-20 07:26] marcoscaceres commented on #310
Here is some initial text for review:
https://github.com/w3c/manifest/commit/64afa4827bd556ed8485f81d63505b1fc56844a7

[2015-02-20 07:27] marcoscaceres commented on #315
Feature branch: https://github.com/w3c/manifest/tree/echidna

[2015-02-25 01:38] yejingfu commented on #310
Thank you @marcoscaceres and @kenchris . Currently I am implementing it in Crosswalk for desktop Linux. Just for clarification, the `width` and `height` just define the original window size. Does it make sense to add the additional `min-width` and `min-height` to set the minimum window size if we want to prevent window being smaller than certain value?

[2015-02-25 01:44] marcoscaceres commented on #310
Personally, I would prefer the width/height describe the minimum, and then let the platform pick the default size (if normally larger). Is that workable, or is it too inflexible?

[2015-02-25 02:47] yejingfu commented on #310
It's workable. I am just curious if `width/height` describe the minimum size, user could not resize (by dragging window corner for example) window to be smaller. Per my understanding, the `width/height` define the preferred size which may display the window in comfortable view port. Then it may be better to describe the minimum size with the additional `min-width/min-height`.

[2015-02-25 04:28] marcoscaceres commented on #310
@yejingfu @kenchris, sorry: do you think width/height should be the size at which the window opens? The min/width and height still need to be restricted by the UA, given platform conventions (the system/UA can't guaranteed the minimum or even the requested size).

If the width and height are smaller/larger than allowed by the UA/System, the UA makes width and height the min/max allowed. Fitting th

[2015-02-25 06:00] alxlu commented on #310
Allowing developers to control the size at which the window opens would enable developers to provide a better experience for certain types of apps. If someone is writing an app that is taller than it is wide (e.g. a simple calculator), it may be good to have some control of how the app is initially shown. That being said, I'm not sure how common those scenarios are.

[2015-02-25 08:28] kenchris commented on #310
Well on ChromeOS some apps use it. For instance you probably never want a calculator to start up in fullscreen etc as you expect to have to open at the same time as other windows, as it is a complimentary tool

[2015-02-25 08:35] kenchris commented on #310
I personally think that there are multiple use cases.

* Some want to enforce a minimum width. Depending on your app, there is only so much you can do to make it still useful at smaller sizes... like a calculator with just room for one button is useless.
* Minimum width doesn't necessarily mean that that is the preferred app size, just that the app still works at that size, so I guess that - espec

[2015-02-25 08:37] kenchris commented on #310
ChromeApps basically have

"bounds": { "width": ..., "height":,..."min-width", max-width, ... and even the top and left coordinates

[2015-02-25 22:27] marcoscaceres commented on #310
Although the use cases and requirements for this feature are extremely clear, I'm still really worried about adding this. As it stands, we only have one potential consumer of this feature. In Gecko, we are not planning to support anything like this right now  - and it's not clear to me if Chrome or any other UA is going to support this (even if Chrome OS does).

Can I suggest initially doing a `ch

[2015-02-26 00:21] yejingfu commented on #310
How about adding the bounds spec like below:

    "chromium_bounds": {
        "width": 500,
        "height": 600,
        "min-width": 250,
        "min-height": 300,
        "max-width": 800,
        "max-height": 1000
    }

The `min-width/min-height` and `max-width/max-height` can be optional.

[2015-02-26 02:01] marcoscaceres commented on #310
that seems fine - just remember that you will need to treat all of them as optional if this lands in this spec.

[2015-02-26 02:07] yejingfu commented on #310
Yes, all fields should be treated as optional. Thank you for pointing out.

[2015-03-02 18:05] alxlu opened #319 "Native API Permissions"
Would it be possible to revisit the discussion regarding permissions for Native APIs? There seems to have been some discussion earlier here: https://github.com/w3c/manifest/issues/218 and https://github.com/w3c/manifest/issues/75.

We have APIs for hosted apps that would benefit from being able to define how much access each URI has to certain types of APIs in the manifest.

Thanks!

[2015-03-03 01:09] marcoscaceres commented on #319
@alxlu, happy to discuss. However, please first read this post:
https://marcosc.com/2014/12/why-manifests-and-permissions-dont-mix/

If you feel there is something new to add to the discussion, please let me know!

[2015-03-03 17:20] AFBarstow opened #320 "Clarify "scope" in step #3 of Section 3"
Step #3 in Section 3 says

[[
3. If target is same origin as scope and target's pathname starts with scope's pathname, return true.
]]

The term "scope" is used twice in that sentence and since it is not explicitly qualified, its meaning is unclear to me. Since "scope" is italicized (via <var>), it seems like it could be a variable (but there is no explicit "scope" variable) or perhaps it is "scop

[2015-03-04 00:53] marcoscaceres commented on #320
Good catch. Should indeed be "scopeURL".

[2015-03-04 05:58] marcoscaceres opened #322 "Add a lang member"
[Elsewhere](https://lists.w3.org/Archives/Public/public-i18n-core/2015JanMar/0072.html), Addison Phillips pointed out:

I'm inclined to add a `lang` member.

[2015-03-04 06:30] marcoscaceres commented on #319
Some, yes. But those (that bombard the user with permission at the wrong time) apps will likely fail - note that iOS has the same problem, yet developers overcome those problems: There is an increasing trend towards [doing permissions the right way](http://techcrunch.com/2014/04/04/the-right-way-to-ask-users-for-ios-permissions/). And with the Permissions API, we are going to enable the same patte

[2015-03-04 06:49] marcoscaceres opened #323 "Add note about i18n"
The note should include:

 * [x] The spec should details how we expect developers to localize content. Like by: `<link rel=manifest href='manifest?lang=en'>`
 * [x]  An example showing the use of a language other than English.
 * [x] Add discussion of obtaining a correctly localized reference, particularly for use in cases where the source page itself has used language negotiation.

[2015-03-04 22:04] mounirlamouri commented on #322
I would suggest to not add 'lang' without a full i18n story. If we were to re-use Mozilla's Manifest way to handle i18n, we might want to have default_locale instead of lang.

[2015-03-04 22:05] mounirlamouri commented on #323
With the current Manifest 18n support, it seems that HTTP headers could do?

[2015-03-05 04:17] alxlu commented on #319
One of the factors that made us feel it was worthwhile to include permissions in the manifest is that it adds a secondary layer of security. Many sites contain analytics, ads, or other content not under the site owner's control. If a third party is compromised or malicious, and is included in a site using a script tag, they could end up calling certain APIs. Having a declared manifest would preven

[2015-03-05 04:48] marcoscaceres commented on #322
@mounirlamouri

Please see Addison's comments - this is not related to localization - this is about primary language in which the content of the manifest is written.

And we do have a full i18n story, it's: "adapt your manifest based on user input to your web app... like you do with every other document on your site":).

[2015-03-05 06:16] marcoscaceres commented on #319
Sure. That's a totally valid point - but I think it's still just one way of dealing with the problem, and only gets you half way there.

For instance, an app could ask for permission to "contacts", the user could grant permission to the app, the injected script now simply uses a "[confused deputy attack](http://en.wikipedia.org/wiki/Confused_deputy_problem)" to steal the user's contacts. That is,

[2015-03-05 06:42] marcoscaceres commented on #323
There is a ton of things that could be used, from geo-ip lookup, to HTTP headers (accept-language or whatever), a URL string, and just simply allowing the user to choose their own language (and update the link element's URL, as above)... basically, whatever sites do today. It all works, and it's all good :dancer:

[2015-03-05 13:53] benfrancis commented on #319
@alxlu wrote:

Can you give some examples of APIs you'd like to expose to the web? Perhaps they are APIs we can work towards standardising? Are they things which could safely be exposed to any web page with informed user consent, or would they require some kind of code review and code signing process by a trusted party?

You might be interested in reading my privileged hosted apps proposal, and th

[2015-03-05 15:00] marcoscaceres commented on #319
No. But then again, in all honesty, I seriously don't know what a "hosted app" is. I know what a web application is however (as per HTML), so I'll like to just have those just work everywhere and avoid having some new tier of web application.

[2015-03-05 16:16] marcoscaceres commented on #310
Closing feature request for now. Will reopen if other implementers request this feature.

[2015-03-05 16:16] #310 closed

[2015-03-05 16:23] marcoscaceres commented on #10
Concluded that there is not much we can do about this. JSON is a crappy format for this kind of data.

[2015-03-05 16:23] #10 closed

[2015-03-06 05:32] marcoscaceres opened #326 "A way to link to related applications"
It would be nice if there was a way for web apps to indicate that there is an equivalent native app - by providing a link to an application store or marketplace.

Apple, for instance, provides "[app banners](https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/PromotingAppswithAppBanners/PromotingAppswithAppBanners.html)":

[code]

And Microsoft has th

[2015-03-06 05:33] marcoscaceres opened #327 "Convert "Icon object" into a generic "image object""
The icon object can really just serve as a generic image object. This could then be reused in the future to, for instance, support splash screens.

[2015-03-06 09:03] kenchris commented on #327
ok, any idea?

[2015-03-06 09:10] kenchris commented on #319
a hosted app is a non-packaged app :-) thus it is a web app as well, but not all web apps might live on a server and they might be packaged up or be hybrid apps. The definition is quite simple and clear

[2015-03-06 09:31] #320 closed

[2015-03-06 09:49] marcoscaceres commented on #327
It's only an editorial change in the spec right now. The `icons` member just takes a list of "image objects" instead of "icon objects".

[2015-03-06 09:50] marcoscaceres commented on #9
There is some renewed interest in this coming from potential implementers.

[2015-03-06 10:03] marcoscaceres commented on #327
Splash screens can be done by simply changing the concept of "icon object" to "image object":
https://github.com/w3c/manifest/pull/325

Roughly:
{
  "icons":  [{"src": "..."}, {"src": "..."} ],
  "splashscreens": [{"src": "..."}, {"src": "..."} ],
  "theme_color": "green"
}

The theme_color can serve as the background for a splash screen. The splash image can just be centered in the middle of the

[2015-03-06 10:09] anssiko commented on #9
I'll check whether there has been more recent feedback on the launch screen feature in Crosswalk.

[2015-03-06 10:25] anssiko commented on #9
Quick poll result: most of our users seem to be using the Cordova splash screen plugin:
https://github.com/apache/cordova-plugin-splashscreen/blob/master/doc/index.md

[2015-03-06 10:26] kenchris commented on #327
Well, then you assume that people will supply splash screens that covers the whole viewport and in multiple sizes (there are so many different screen sizes). Current splash system usually adds the image in the middle or makes used of 9-piece images which have stretchable areas.

[2015-03-06 10:28] kenchris commented on #9
Which is due to most of our users using Crosswalk with Cordova integration and in that scenario that is the only thing they can use :-)

[2015-03-06 10:29] kenchris commented on #326
On blink-dev there is currently a discussion/proposal for adding app banners based on web app manifest

[2015-03-06 11:19] marcoscaceres commented on #322
@mounirlamouri still want your ok on this: https://github.com/w3c/manifest/commit/cbd8343df1ea4bb1c29abc6a1804954159e0737a

[2015-03-06 11:25] marcoscaceres commented on #319
It seems that a "hosted app" is a thing that uses the web platform (HTML, CSS, JS) - but relies on, or has been extended with, proprietary APIs and/or a proprietary URI scheme. Anyway, let's keep on topic.

As I stated above:

Right now, we don't have that AFAICT.

[2015-03-06 11:26] marcoscaceres commented on #326
oh? Link please!

[2015-03-06 11:29] marcoscaceres commented on #327
What I was assuming was they would provide a range of them, but not cover the whole screen (they would be centered, as you said). What is not covered by the image would be filled by the theme_color (in the background).

[2015-03-06 11:40] kenchris commented on #327
That could be considered a "splash" but that will not allow creating a fake outline of the app UI, which people can do and are encouraged to do on iOS

[2015-03-06 12:11] benfrancis commented on #319
Sorry, I realise this is off topic but it's really interesting and I think a valuable part of the W3C web app manifest spec is about defining what a web app actually *is*. We can't really discuss granting permissions to something unless we know what that thing is :)

My take is that apps that use HTML/CSS/JavaScript but are packaged (and/or use a proprietary URI scheme) are by definition *not* web

[2015-03-06 12:53] kenchris commented on #319
Ok, so hosted app in Chrome sense is just an app which has been added to the home screen and as that can be seem as an indication that it is more trusted, it might be able to use some privacy sensitive features (notifications etc) without asking for permission.

On Win10 it seems that MS is going in a similar direction. It seems that they might allow access to a few experimental (proprietary???) A

[2015-03-06 12:56] kenchris commented on #319
I think what MS is doing, is granting access to a few extra APIs for hosted web apps which are installed through their store.

Chrome will be granting access to a few extra APIs (being standardized, ie not really proprietary) for hosted web apps installed from the universal store called the world wide web :-)

[2015-03-06 12:57] kenchris commented on #319
https://pbs.twimg.com/media/B_Gyqw2WsAAYuS7.jpg:large

[2015-03-06 12:58] kenchris commented on #326
https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/HSSqpbYd8W8

[2015-03-06 13:34] benfrancis commented on #319
Yes that matches my interpretation.

A web app is a collection of web pages dedicated to a particular task. You can discover new web apps through the web browser, and when you find something you want to keep you can "install"/"pin" it to your device to break it out of the browser and use it standalone.

Some people think that a web app installed to your device should be able to get access to featu

[2015-03-06 16:18] benfrancis commented on #326
This sounds bad for the web as it risks further fragmenting the web into multiple walled gardens of content. Whether or not to include this in the spec probably comes down to what is the lesser of two evils:
a) Putting up with the current slam-door approach of mobile web sites which force users to download a non-web app based on a UA string by refusing to display, and the use of proprietary meta t

[2015-03-06 19:12] alxlu commented on #326
This could be good for avoiding some user confusion as well. If this is included in the manifest it would help with a scenario where users end up installing both the native app and 'pinning' the hosted app.

I agree that it is a bit odd. However, on several platforms, loading the web url triggers the actual app store to launch. This still puts the user on a page that describes the app, but I don't

[2015-03-06 19:21] benfrancis commented on #322
Note that:
* Having multiple manifest files per app prevents the manifest URL being used as an app identifier.
* Having a dynamically generated manifest prevents the manifest being signed for the purpose of granting permissions.

I know that neither of these requirements are things that everyone agrees on, but I wanted to call out that they may make certain things impossible in the future.

And FW

[2015-03-06 23:17] alxlu commented on #319
Okay, so it looks like it may still be too early to discuss details regarding permissions. There appears to be a CG being proposed that will provide guidance to the different WG's.
https://www.w3.org/community/trustperms/
It might be a good idea to wait and see what they have to say.

https://groups.google.com/forum/#!msg/mozilla.dev.webapi/pCY77YAg_i4/HxS89bvQ7wsJ

These may be interesting to us.

[2015-03-06 23:21] alxlu commented on #327
Do you know of any iOS apps that do this that I can download and try out? I'm interested in seeing how that looks/feels.

That being said, isn't this a much bigger challenge for hosted webapps because of the much larger variations in screen sizes (and other factors)?

[2015-03-06 23:45] opoto commented on #319
Wouldn't @benfrancis's proposal help solving the issue of the [missing trusted app model identified in SysApps WG](http://www.w3.org/2014/07/permissions/minutes.html)? W3C drafts already highlighted the need for such restricted permissions,  e.g. [TCP and UDP sockets](http://www.w3.org/TR/2014/WD-tcp-udp-sockets-20141202/#security-and-privacy-considerations). It has not been as far as defining the

[2015-03-07 15:47] marcoscaceres commented on #327
Closest I found is iCurrency - but I don't actually know if it's using a splash screen. It does show the app layout first, then shows numbers. I don't think it's a great example. The rest of the apps on my phone either don't show a splash or show the centered splash screen.

[2015-03-07 16:01] marcoscaceres commented on #322
On March 7, 2015 at 5:21:38 AM, Ben Francis (notifications@github.com) wrote: 

There seems to be some confusion about the use case: having `lang` helps with font selection for the purposes of display (please, all, read Addison's email carefully!), which is different to the localization that is used by Mozilla's manifest format or the alternatives proposed in other bugs. 

That is to say, `default

[2015-03-07 16:01] marcoscaceres commented on #326
On March 7, 2015 at 2:18:21 AM, Ben Francis (notifications@github.com) wrote:

It's the reality, tho. Please go and check Alexa's top 100 on iOS (and probably on Android): the majority of web apps are door slamming. Also, pretending the web is good enough by not providing this capability, when the Web is clearly not right now, doesn't help end-users (and just leads to either proprietary solutions

[2015-03-07 16:01] marcoscaceres commented on #326
On March 7, 2015 at 5:12:46 AM, Alex Lu (notifications@github.com) wrote:

Neither do I - it seems like a good thing. What would be bad is if you ended up at a fake or wrong store. 

The UA would need to somehow verify that URL is actually for a real store (and maybe for a real app).   

[2015-03-07 16:01] marcoscaceres commented on #319
On March 6, 2015 at 11:34:28 PM, Ben Francis (notifications@github.com) wrote:

Or reopen it in the browser :) It's just fancy bookmarking. 

Yes, that's something that has come up in various contexts - though I don't think anyone has gone as far as to actually enable any such thing. 

It doesn't work, for the reasons mentioned in #272 (many to many relationship). AFAICT, it's an implementation de

[2015-03-07 16:01] marcoscaceres commented on #9
On March 6, 2015 at 8:28:59 PM, Kenneth Rohde Christiansen (notifications@github.com) wrote:

We can probably learn a lot from Cordova, like adding the minimum duration before removing the splash screen.  

[2015-03-07 16:01] marcoscaceres commented on #327
On March 6, 2015 at 9:40:38 PM, Kenneth Rohde Christiansen (notifications@github.com) wrote:

(before you reply: we should probably move this discussion to the splash screen bug #9!) 

OK, but we can't follow iOS here: unlike with iOS, there are a billion different screen sizes/dimensions/density combinations that an app built for the web is supposed to adapt to (and that's just Android! add FxOS,

[2015-03-07 16:02] #309 closed

[2015-03-07 16:50] marcoscaceres commented on #326
Just gonna put this here: http://idontwantyourfuckingapp.tumblr.com

[2015-03-07 17:10] mounirlamouri commented on #326
What about having the id instead of the full URL?
The Google Play Store has something like "com.foo.bar". The iTunes store has some "idXXXXXXX". Those ids might be more long terms than URLs. UAs could even have ways to direct to the store that matches the user's location.

Note also that maybe instead of "android" and "ios" we could have "play" and "itunes". The name of the store might be better t

[2015-03-07 17:12] mounirlamouri commented on #9
How are Crosswalk applications handling the different screen sizes?

[2015-03-07 17:14] mounirlamouri commented on #225
Why do we need theme color in the Manifest? Is anyone going to use it? It can't be used in Chrome because the theme color needs to be available at first paint and we can't have the Manifest available at first paint.

What makes you think theme-color in the Manifest is better than having it as a <meta> tag?

[2015-03-07 17:20] mounirlamouri commented on #322
But if we end up having some ```locales``` array like the Firefox Manifest, ```lang``` might be a bit pointless? Or would you re-use ```lang``` in there and it would apply for the scope? In which case, the way we would handle override would be a tad different from what Mozilla currently do. If you have no problem with that, I'm fine with adding ```lang```. (Note, I think it would kill ```default_l

[2015-03-07 17:50] alxlu commented on #326
The Google Play Store has something like "com.foo.bar". The iTunes store has some "idXXXXXXX". Those ids might be more long terms than URLs. UAs could even have ways to direct to the store that matches the user's location.

That seems to be how AppLinks.org does it too. But if a new vendor decided to show up, all of the UA's would need to change to accommodate it. That being said, if we are going

[2015-03-07 20:19] Volker-E commented on #225
@mounirlamouri Thanks for clarification. Reason for color in manifest (if there weren't the first-paint problem): Cacheability & not cluttering HTML output with directives just useful on a minority of applications.

[2015-03-07 20:22] kenchris commented on #319
Just wanted to point out that for Crosswalk (which can package up your app to have it distributed in the Play store) also makes use of a xwalk_permissions extension, so ms_permissions for now would be fine.

[2015-03-07 20:26] kenchris commented on #327
True, and that is why we support using 9-pieces images - or to split your image up into 9 pieces. Cordova supports the exact same. With a bit of work this can emulate most UIs.

Basically all build in apps on the iPhone use a "launch screen", which then fades into the real ui... there is no text on any launch screen done by Apple (and it is not recommended in their guides)

[2015-03-08 12:18] marcoscaceres commented on #225
We would like to be able to use `theme_color` in other contexts, like for making speed-dial cells (together with the icons).

Yes, you would need to manage the theme color until the manifest is applied. However, once it's applied, then theme color would be available on first paint. It's not really different from, say, default orientation.

[2015-03-08 12:24] marcoscaceres commented on #327
@kenchris I'm trying to understand how Cordova does the 9-piece thing you mentioned, but I don't see it in their docs?:

* https://cordova.apache.org/docs/en/4.0.0/config_ref_images.md.html
* https://github.com/apache/cordova-plugin-splashscreen/blob/master/doc/index.md

Am I looking at the wrong docs?

[2015-03-09 11:01] mounirlamouri commented on #225
It seems that there is enough support for it. Closing.

[2015-03-09 11:01] #225 closed

[2015-03-09 11:05] anssiko commented on #9
@mounirlamouri For the background image, we're using the 9-patch image method. Android uses something similar for stretchable bitmaps, see http://developer.android.com/guide/topics/graphics/2d-graphics.html#nine-patch

[2015-03-09 12:31] marcoscaceres commented on #9
Ok, there are two solutions here I can think of... 

1. we support patch images, as per Android: from playing around, it appears that patch images are just PNGs with a 1px transparent border around the image. In that border, black pixel lines indicate what the stretchable areas are (you can have patterns like: __  _ __ ____ __). Android uses a `.9.png` file extension as the way to tell the OS that

[2015-03-09 12:40] kenchris commented on #9
You don't really need to hardcode the patching in the image files, it could very well be specified in markup

[2015-03-09 12:43] kenchris commented on #9
How does 1 allow you to define how to scale the patch areas? like stretch, repeat etc? It probably also won't work with any lossy format like jpeg

[2015-03-09 12:44] marcoscaceres commented on #9
Markup? you mean like option 2? But then we would be recreating what CSS does :(  

On March 9, 2015 at 8:40:50 AM, Kenneth Rohde Christiansen (notifications@github.com) wrote:

[2015-03-09 12:46] marcoscaceres commented on #9
On March 9, 2015 at 8:43:27 AM, Kenneth Rohde Christiansen (notifications@github.com) wrote:

Yes, this is true. It's a pretty cheap solution restricted to .png (and maybe .webp), probably doesn't work with vectors either. 

[2015-03-09 12:48] kenchris commented on #9
Would it be too bad? like

"image.png 30px stretch 30px stretch 20px repeat 20px repeat"

I guess the image would work, but it would then only work with non-lossy formats like PNG (WEBP?)

[2015-03-09 12:58] anssiko commented on #9
I would prefer not to reinvent CSS for launch screen, nor put CSS in JSON. Vote for option 1 to address the most common use case first, make it dead simple, while ensure it is extensible to allow experimentation and future extensions.

We could just recommend people to use a lossless format. That should be obvious for most web developers anyway.

I could see how we might get bonus points if develo

[2015-03-09 12:59] marcoscaceres commented on #9
On March 9, 2015 at 8:48:12 AM, Kenneth Rohde Christiansen (notifications@github.com) wrote:

Personally, I think it's better just to encode this information directly in the image file. 

However, the above would be simple to parse so long as we don't combine URL and stretching information together.

Yeah, that's the tradeoff. However, we would get all those 9-patch images already being used on An

[2015-03-09 13:00] kenchris commented on #9
@anssiko you need to be able to rely on the drawn lines :-) lossy formats will not make that possible

[2015-03-09 13:09] anssiko commented on #9
I guess we'd be fine mandating the use of PNG since it AFAIK addresses all the known requirements, has a spec blessed by ISO/IEC and W3C, and is the format used by the native platforms for the same purpose.

[2015-03-09 13:30] nuxodin commented on #9
What about putting a html-document as the splash-screen url?

splash: "splash.html"

And maybe, the implementor will cache this document as a static image?
But, hm, this will make animated gifs impossible...

2015-03-09 14:09 GMT+01:00 Anssi Kostiainen <notifications@github.com>:

--
Freundliche Grüsse
Tobias Buschor

shwups GmbH
Talstrasse 1
9000 St. Gallen

+41 76 321 23 21
shwups.ch

[2015-03-09 13:33] benfrancis commented on #319
I fail to see the point of creating a manifest for a bookmarked start_url which just opens in a browsing context in a browser tab and can be navigated to any URL, it doesn't seem to provide anything that HTML couldn't already provide for that page (application-name, rel=icon etc.), most of the properties become meaningless.

To me the whole point of a web app manifest is to describe a defined URL

[2015-03-09 14:51] anssiko commented on #326
"related_applications": [
    {
      "vendor": <vendor name, such as "itunes">,
      "id": <uniquely identifies the app for the vendor, could be any string, UUID, ID, URL>
    },
    {
    // ...
    }

@kenchris and I think it is probably better to not require the `id` to be an URL that can be navigated to, just an `id` that is understood by the `vendor` is enough.

Quickly looking at the state

[2015-03-09 15:00] anssiko commented on #9
@nuxodin You mean, create the 9-patch image from a snapshot of the HTML page? Or just create a fixed sized splash screen in landscape and portrait? That would not work e.g. on desktop where the window can be resized while the launch screen is being displayed. Also, you may have multiple monitors of different resolutions or aspect ratios.

There are some implementability concerns with using an HTML

[2015-03-09 15:31] marcoscaceres commented on #9
@nuxodin : Yes, this is basically the whole point: on some OSs, booting up the webview is just too slow. Otherwise, you would not need the splashscreen at all. The `index.html` would serve just fine (e.g., on FxOS, we don't need splash screens because we can get a webview up in 200ms). This is why we originally rejected adding splash screens to this spec. Maybe Moore's law will allows us to overco

[2015-03-09 15:47] nuxodin commented on #9
Yes, snapshot of it.

the launch screen is being displayed. Also, you may have multiple monitors
of different resolutions or aspect ratios.

On desktop, it should be ok loading the cached splash-screen-html without
making a snapshot. But i see the problem...

On installing the web-app and on changing the last-modified of the manifest
(or the version?)

provided by the static 9-piece image?

HTML /

[2015-03-10 06:01] slightlyoff commented on #326
These are my proposals, so I feel I should chime in with a few points:

1.) I don't think this is anything more than crappy-header de-crufting. This stuff is already in the web. This lets us move it out of precious `<head>` bytes and into a single location. Doing prefixed stuff inside the manifest hardly helps
2.) part of the goal is to put the slam-door prompting that @marcosc and I hate in (more

[2015-03-10 06:05] slightlyoff commented on #9
Starting up a renderer process in all chromium-derived runtimes can require multiple process starts. We need to paint faster than that. We must allow an image. If a URL, it should be a URL that could be run once on the device, snapshotted, and re-rastered at next start without renderer startup.

[2015-03-10 14:25] marcoscaceres commented on #9
mechanism developers have to learn.

That's not true. CSS border-image has been around for many years, tho it never found much use. Also, it's not like it's a huge burden to learn, plus there are a lot of tools that easily allow you to make 9-patch images (both on the web and offline - including any off the shelf graphics program). The benefit is also that we don't need to introduce any new image

[2015-03-10 15:51] marcoscaceres commented on #322
No, because `lang` is still the primary language (i.e., it's the same as `default_locale`).

That's fine. Mozilla's model leads to very unmanageable nested structures.

I'm fine. I'll take this as agreement. :+1:

[2015-03-10 15:52] #322 closed

[2015-03-11 10:00] bufferoverflow opened #328 "add a license field"
In many cases a web application and web apps are available under a specific open source license.
It would be beneficial and helpful for collaboration on web applications if a license filed would exist within the manifest.

A very good definition of such a field using SPDX license identifiers can be found here:
https://docs.npmjs.com/files/package.json#license

[2015-03-11 13:44] marcoscaceres commented on #328
@bufferoverflow, although that is certainly valuable information, metadata that is not used consumed and used by the user agent is outside the scope of this spec.

A more appropriate for the display such information might be a a HTML file (or, indeed, in a package.json file).

[2015-03-11 15:11] marcoscaceres commented on #319
@alxlu, let us know your decision so we know how to proceed. I'm inclined to close this bug pending an actual API that requires permission in the manifest, but would like your consensus before doing so.

@benfrancis, please reopen the identity bug if you want to discuss identity. Although identity is related to this, I would prefer to keep this bug on topic of permissions.

[2015-03-11 17:03] marcoscaceres commented on #161
Reopening based on discussion with Mozilla and Google.

[2015-03-11 17:04] marcoscaceres commented on #161
Note: site's pre-registration win.

[2015-03-11 17:07] marcoscaceres commented on #272
Reopening based on discussion with Mozilla and Google. Proposal is to force same origin on manifest in the hope that manifest's identity makes the URI unique.

Note: this doesn't solve the issue, as you can have apps:
*  foo.com/a/
* foo.com/b/
* foo.com/N/

All point to `foo.com/manifest`, so I don't see what this solves.

[2015-03-11 19:53] marcoscaceres commented on #326
@mounirlamouri, will you put together a proposal for this?

[2015-03-12 08:34] jmajnert commented on #272
This would make some sense if the start_url was an obligatory field and it pointed to a single entry point of the application. This way app devs would find it hard to use the same manifest for different apps.

[2015-03-12 10:06] marcoscaceres commented on #272
On Thursday, March 12, 2015, Janusz Majnert <notifications@github.com>
wrote:

I love making stuff hard to use:). Specially when it's still easy to just
dynamically bypass.

Anyway, I'm going to add the restriction and then let UAs deal with it.
Still think this a terrible idea on so many levels, but whatever.

If I'm right, the issues will surface quickly and implementers will be
forced to backtr

[2015-03-12 10:18] jmajnert commented on #272
:-)
As with every piece of tech, you can use it in ways that the creators didn't plan for and possibly shoot yourself in the foot.

The manifest can either be a collection of supplementary information about an app (or apps), or a document defining one application. It can't be both.
We should decide which way we want it to go.

[2015-03-12 14:46] marcoscaceres commented on #328
Closing this for now.

[2015-03-12 14:46] #328 closed

[2015-03-12 19:04] alxlu commented on #319
Yes, I think we can close this for now. Currently, we will vendor prefix the field and the capabilities. Thanks!

[2015-03-12 19:09] marcoscaceres commented on #319
Thanks, @alxlu! Closing. Looking forward to discussing further in the future.

[2015-03-12 19:09] #319 closed

[2015-03-12 20:22] bufferoverflow commented on #328
package.json is part of the source code and the web application deployment does usually not contain the source code. What is the recommended way to provide license information in a standard way on a open web app, something like this?
```<link rel="license" href="LICENSE">```

[2015-03-12 21:16] marcoscaceres commented on #328
@bufferoverflow, correct. That's [what HTML states](https://html.spec.whatwg.org/#link-type-license):

"The license keyword indicates that the referenced document provides the copyright license terms under which the main content of the current document is provided."

[2015-03-13 08:19] jmajnert commented on #272
Was this discussion public and written down somewhere? Can I see it?

Wondering how that will help? Merely making manifest same origin with the app?

[2015-03-13 12:43] benfrancis commented on #272
@jmajnert wrote:

Yes, we discussed this and concluded that Mozilla's position is that it should define one application.

True, developers could try to create multiple apps with the same manifest (e.g. with the same name, icon and start_url), it's just likely to fail to install. So we should recommend against that.

Unfortunately not on this occasion, but happy to answer any questions.

As I under

[2015-03-13 13:42] benfrancis opened #330 "Resolve start_url against manifest URL"
Proposal: If manifest URL must be same-origin with document URL and document URL must be same-origin with start_url, then can we simplify the steps for processing a start_url by simply resolving it against manifest URL, without needing to make reference to document URL?

[2015-03-13 13:47] jmajnert commented on #272
Great! Are you planning to put some text into the spec that would stress this?

OK, I get it now - same origin restriction makes it harder to create a manifest for someone else's app. But the manifest doesn't link to the actual application (`start_url` is not mandatory and is only a hint for UAs), it's the application that links to the manifest.
So a sane developer would presumably only link his a

[2015-03-13 13:54] benfrancis commented on #272
What about if start_url defaulted to "/" and was resolved against the manifest URL?

[2015-03-13 14:05] jmajnert commented on #272
I think this would do.

[2015-03-13 14:23] marcoscaceres commented on #272
On March 13, 2015 at 8:43:22 AM, Ben Francis (notifications@github.com) wrote:

Can you please list what those many instances were? 

[2015-03-13 14:25] marcoscaceres commented on #272
On March 13, 2015 at 8:43:22 AM, Ben Francis (notifications@github.com) wrote:

Please also be careful not to make assumptions about how other implementers might use this. If we want an opinion of a search provider, we should involve them and not speak for them or speculate about how they might use it.  

[2015-03-13 14:28] marcoscaceres commented on #330
On March 13, 2015 at 9:42:45 AM, Ben Francis (notifications@github.com) wrote:

Yep, I think that would be fine. 

[2015-03-13 16:03] marcoscaceres opened #331 "For `lang`, add formal defintion of language tag"
Bring back the origin definition of language tag that we had about a year ago.

[2015-03-16 08:58] kenchris opened #332 "shouldn't the default scope be bounded?"
If scopeURL is undefined (i.e., it is unbounded because of an error or it was not declared in the manifest), return true.

I find it a bit scary that it is fully unbounded. I would expect that the default scope would be the base url

[2015-03-16 12:45] benfrancis commented on #332
I agree @kenchris. I actually think it would be great if the default scope was the whole origin of the manifest, it would make scope much more useful for user agents to determine which app a given navigation belongs to. Unfortunately we found that this potentially breaks a lot of existing web content because it's common for a single web site/web app to span multiple origins.

[2015-03-16 12:51] kenchris commented on #332
Well in that case, those users would have to define their scope. As we want people to create great web apps, I think that they should at least be able to do that :-)

I don't think that scope currently allows this, so we should have a look at it.

I am also interested in how to open other apps. Like if I launch a URL which already have a manifest associated (which I have bookmarked etc) then maybe

[2015-03-17 09:11] kenchris commented on #323
can this be closed?

[2015-03-17 09:18] kenchris commented on #330
It seems that MS wants to use the manifest to add apps to their store. I don't know how that will fit in this scenario and how to fix it. @anssiko @alxlu

We are getting similar request for Crosswalk

[2015-03-17 09:22] kenchris commented on #315
So this is the branch we should be using now? or is this just an experiemnt? Should this issue be closed?

[2015-03-17 09:22] kenchris commented on #272
This didn't seem to close this issue. Should we close it?

[2015-03-17 09:29] jmajnert commented on #272
Is it merged already?

[2015-03-17 09:51] anssiko commented on #330
AFAIK, in the store scenario, the `start_url` URL would not be same-origin with the manifest URL if the manifest is hosted on `yet-another-app-store.com` while the `start_url` points to `awesome-app.com`.

Similarly, in the Crosswalk use case, the manifest URL could be `app://uuid`. Cf. a glorified bookmark that sits on the local filesystem and when navigated to initiates the installation process.

[2015-03-17 10:07] kenchris commented on #330
that works for packaged apps, but not hosted ones

[2015-03-17 10:53] jmajnert commented on #330
I guess app stores will need to digest manifests hosted within application's origin. The problem here is that there's no mechanism for telling the UA "hey, now install the app whose manifest is here: https://myapp.com/manifest.json"
So the app store would need to redirect the UA to the apps start page (possibly start_url) so that the manifest is ingested from the <link> element.

[2015-03-17 12:55] marcoscaceres commented on #323
Not yet, no. I'll send a PR soon.

On Tuesday, March 17, 2015, Kenneth Rohde Christiansen <
notifications@github.com> wrote:

[2015-03-17 12:59] marcoscaceres commented on #315
No, this is a feature branch but I could not get it to work yet. I've asked
the w3c for help. Docs are effing terrible for echidna still.

On Tuesday, March 17, 2015, Kenneth Rohde Christiansen <
notifications@github.com> wrote:

[2015-03-17 13:02] marcoscaceres commented on #272
Not yet. Janusz, do you still find the text to be unhelpful?

On Tuesday, March 17, 2015, Janusz Majnert <notifications@github.com> wrote:

[2015-03-17 13:07] jmajnert commented on #272
Having seen the overall direction in which this seems to be going, I think I can live with this text. So no more objections from me.

[2015-03-17 14:01] benfrancis commented on #332
Currently I think the maximum scope is one origin. If we allow an app to handle the scope of another origin we risk evilapp.com/manifest.json registering to handle navigations to mybank.com. I think the maximum scope should stay as one origin, and should have to be the same origin as the manifest.

There was also a proposal for a "stay_in_app" type property to enable defining a URL scope for which

[2015-03-17 15:06] benfrancis commented on #330
The current manifest specification does not lend itself well to use by traditional app stores, but @jmajnert is right... the problem isn't that the manifest can't be hosted by the store (the store can can just index the manifest hosted by the app as the Firefox Marketplace does), it's that there's no installation API which an app store can use to trigger the installation of an app.

The current sp

[2015-03-17 17:30] jmajnert commented on #330
Right! As said before - this spec already allows for creating app stores based on the manifest. The installation API is IMHO not indispensable.

[2015-03-17 19:13] #315 closed

[2015-03-18 01:36] alxlu commented on #330
I'm not sure how well it fits into the scenario, but it looks like something a Store would be able to support. @kenchris, how is Crosswalk planning on handling the submission process for hosted apps?

[2015-03-18 06:26] kenchris commented on #330
Crosswalk packaged the apps on some platforms like Android. As we don't control the store, there are a few other considerations.

[2015-03-18 06:50] kenchris commented on #330
What I think that we will do:

1. Allow packaging of local apps (from local source repo) which fulfills the requirement of start_url being same origin
2. Allow packaging "hosted apps" by pointing our packaging tool to an url containing a manifest.json or referring to one.
3. Allow packaging "hosted apps" by supplying a separate manifest.json (thus, not fulfilling the start_url requirement). In thi

[2015-03-18 08:32] anssiko commented on #330
I think we haven't mentioned anything about "packaging" in the spec to date, since the feature is out of scope. We've been careful in targeting the Web as defined by the HTML spec and friends. http://w3ctag.github.io/packaging-on-the-web/ is an attempt to make "packaging" part of the Web, but it is early.

One way forward would be to define the "packaging extensions" separately, and in the extensi

[2015-03-18 08:44] kenchris commented on #330
For hosted apps, that it would actually be packaged or not, is just an implementation detail.

I mean "Allow packaging 'hosted apps' by pointing our packaging tool to an url containing a manifest.json or referring to one." could be

"Allow adding 'hosted apps' to store by pointing the store "add an app" tool to an url containing a manifest.json or referring to one."

[2015-03-18 14:16] mounirlamouri commented on #9
A feel that we are going in circles with this discussion.
* We can't use a plain image because it would require cropping or image magics that we can't really rely on browsers to do;
 * Opening an HTML page would fire up new processes which will make the splash screen slowing down the application startup;
 * Making a snapshot of an HTML page will require static page but developers want to do progre

[2015-03-18 14:23] mounirlamouri commented on #161
@marcoscaceres are we going with the ```service_worker``` or ```service_workers``` version? It seems that Mozilla was really interested by that feature, I would love to see a proposal that we could discuss and get in the spec :)

[2015-03-18 14:29] mounirlamouri commented on #326
I still have two concerns:
* the discussions around ```related_applications``` did not provide a way for the developers to say that they would prefer their web app to be installed instead of a native app.
* is anyone except for Chrome interested by that feature? Given that it is fine per Manifest rules to extend the Manifest, if Chrome is the only browser interested to do anything with this, maybe

[2015-03-18 14:39] skddc commented on #9
Firefox OWAs on Android use the supplied icon and extract the main color from it to use as background color I believe.

With Cordova you have to provide a defined set of image sizes: http://cordova.apache.org/docs/en/4.0.0/config_ref_images.md.html#Icons%20and%20Splash%20Screens

[2015-03-18 14:42] benfrancis commented on #9
Firefox OS does the same, centre aligns the app icon. We could use theme-color for the background colour instead now that exists.

[2015-03-18 14:57] kenchris commented on #9
I actually think it is quite simple.

Provide an image. By default center it and use theme_color or similar for background color. If the image is a 9 piece image (like used by PhoneGap and natively supported by Android) we scale it according to the splits and fill the screen. There is not talk about 9 separate images here :-) just one single one with 4 cuts... two horizontally and two vertically.

[2015-03-18 15:00] kenchris commented on #9
You have an event to call when you want the splash screen to be hidden. It is your responsibility to call it. A timeout could be used, but it kind of defeats the purpose

[2015-03-18 15:01] skddc commented on #9
That would work I think.

From our daily experience I should also add that the automatically generated ones can be a bit ugly and we'd also not like to use the theme color for this in our apps usually, because it's too bright as background for the splash screen.

[2015-03-18 15:06] kenchris commented on #9
I guess that the user agent could decide what to use for background color, like you could use the theme_color and make it 20% darker, like Android does something like that for the status bar background color. We can make suggestions but leave it open for UAs to decide

[2015-03-18 15:50] alxlu commented on #326
I believe that part is addressed here:
https://github.com/slightlyoff/AppInstallImprovements/blob/master/explainer.md#offering-related-applications

[2015-03-18 16:06] alxlu commented on #330
This was our understanding as well.

[2015-03-18 16:20] marcoscaceres commented on #326
I don't know if this is really about preference, but about user choice. If the developer really wants one options over another, they have the choice to:

 1. Not include the `related_applications` code
 1. door slam
 1. gently indicate to the user that one application provides a better experience than another choice (e.g., Amazon.com).

In their customary way, Apple has expressed interest in this

[2015-03-18 16:25] marcoscaceres commented on #161
@mounirlamouri I have a proposal half written locally - I can push the branch up if you would like to check it out. However, to avoid circular discussions, please do go back and read over what was discussed in this bug.

[2015-03-19 09:04] anssiko commented on #330
I suggest we collect the requirements to "allow packaging 'hosted apps'" to this issue. With the requirements at hand, we can craft an extensions spec, and see whether some of it should be upstreamed to the core without breaking the Web's security model.

@alxlu @kenchris Do you have requirements in mind you'd like to share? Is this a valid requirement: https://github.com/w3c/manifest/issues/330#i

[2015-03-19 10:05] kenchris commented on #330
I am not sure it is valid, such a store could very well link directly to the manifest.json hosted on the actual site, and could still get information shown on the store from that same file.

Allowing third-parties to change icon, title, orientation, launch screen etc, seems wrong. Like the store could show ads for other services and it would seem like that is associated with the app, which it migh

[2015-03-20 08:09] kenchris opened #334 "i18n: No direction metadata for 'name'; [I18N-ISSUE-416]"
http://www.w3.org/International/track/issues/416

Raised by: Addison Phillips
http://www.w3.org/TR/2015/WD-appmanifest-20150212/#name-member

The 'name' manifest member does not provide a means of indicating the base direction of the name string. This is equivalent to extracting the 'dir' attribute appropriate for the `<title>` element's scope and may be necessary for correct rendering of bidirect

[2015-03-20 08:10] kenchris opened #335 "i18n: No language metadata for 'name'; [I18N-ISSUE-415]"
Raised by Addison Phillips

http://www.w3.org/International/track/issues/415

http://www.w3.org/TR/2015/WD-appmanifest-20150212/#name-member

The 'name' manifest member does not provide a way to indicate the language of the string. This may be necessary for proper presentation/rendering of the name, since, for example, different fonts might be selected for different languages (such as when selecti

[2015-03-20 08:11] kenchris opened #336 "i18n: No means of obtaining correctly localized manifest; [I18N-ISSUE-414]"
http://www.w3.org/International/track/issues/414

Raised by Addison Phillips

http://www.w3.org/TR/2015/WD-appmanifest-20150212/#obtaining

Section 6.1 discusses the steps in obtaining a manifest. There is no discussion of obtaining a correctly localized reference, particularly for use in cases where the source page itself has used language negotiation.

[2015-03-20 08:11] kenchris opened #337 "i18n: No localized examples; [I18N-ISSUE-413]"
http://www.w3.org/International/track/issues/413

Raised by Addison Phillips

http://www.w3.org/TR/2015/WD-appmanifest-20150212/#example-manifest

There is an example of a manifest, but no example of non-English or non-ASCII data. Please consider adding some of each.

[2015-03-20 08:12] kenchris opened #338 "i18n: No localization model; [I18N-ISSUE-412]"
Raised by Addison Philips (I18N-ISSUE-412)

http://www.w3.org/TR/2015/WD-appmanifest-20150212/

Having read the entire document, I can't find any mention of localizbility. There is no way to indicate in the manifest the language of any of the language bearing metadata (name, short_name, etc.) nor a way to indicate different language versions of external resources (such as paths to icons). This see

[2015-03-20 09:01] PaulKinlan commented on #330
Just to clarify what is happening.  Are we saying the manifest must be on the same domain as page it is linked from?  If so that is directly the opposite of what we agreed a while back (can't recall the issue number).

[2015-03-20 09:08] PaulKinlan commented on #332
Two things I am concerned about with scope.

1) I am unclear of the relationship between this and the SW scope,
2) If SW has a scope then a 2nd scope adds a huge amount of confusion.

re: Multiple scopes: I am presuming the worry is that you can't verify you own the domain just via the manifest.  We never had this problem with the Chrome Web Store because it hooked up to the domain verification to

[2015-03-20 09:10] PaulKinlan commented on #332
Also deeplinking, the section in the spec makes no sense.  Is there a plan for it to be expanded?  I ask because Deep linking on Android has a very specific configuration, and I would expect to see some configuration of ownership of multiple paths, protocols etc (potentialy via a scope).

[2015-03-20 10:56] kenchris commented on #332
Great comments @PaulKinlan , I hope you can help us find solutions, or at least discuss it internally with your teams

[2015-03-20 10:58] jmajnert commented on #330
Yup: https://github.com/w3c/manifest/issues/272#issuecomment-78308146

[2015-03-20 11:11] PaulKinlan commented on #272
I am frustrated I missed this.  I don't believe that having the manifest locked to the same origin makes any sense at all especially in the scenario of managing static content with CDN's.  It's not the origin that makes it mean that you can't say foo can't make the app for bar, it's the run time check to make sure that the start URL only ever launches from the origin that the manifest was associat

[2015-03-20 11:15] kenchris commented on #272
That still doesn't solve issues like third parties being able to set say a splash screen promoting a different product etc. Add stuff to the icons etc... maybe that is not a bit deal, but if there were a simple way of solving it, that would be nice.

If the manifest is linked from the site itself, a checksum would do. I think CSP 2.0 has something like that

[2015-03-20 11:18] kenchris commented on #272
It is not CSP, but http://w3c.github.io/webappsec/specs/subresourceintegrity/

[2015-03-20 11:32] benfrancis commented on #332
Hi Paul,

This was discussed at some length in #114. The scope of the app is independent of the scope of a Service Worker, you should be able to install an app without requiring a Service Worker. The maximum scope of both an app and a Service Worker is the root of the origin, but a Service Worker may register to handle only a part of the scope of the app and vice-versa. It's possible to register m

[2015-03-20 11:38] benfrancis commented on #161
@PaulKinlan As per #332, do you think that a Service Worker registration defined in a manifest should have to use the scope defined in the scope property of the manifest? e.g.

[code]

Currently navigation scope and Service Worker scope are treated separately, but it sounds like you think they should be the same?

[2015-03-20 19:24] marcoscaceres commented on #337
Duplicate of https://github.com/w3c/manifest/issues/323

[2015-03-20 19:26] marcoscaceres commented on #338
This should be handled by `lang`.

[2015-03-23 18:11] dvonlehman opened #339 "Graceful handling of no network connectivity in hosted apps"
Would be great to have a mechanism to gracefully handle the case when a hosted app is launched which requires a network connection to function and the `start_url` fails to load within a configured timeout interval. If the OS knows up front there is no network connectivity and the app has signaled that a network connection is required, then don't bother attempting to load the `start_url` at all.

P

[2015-03-23 18:13] marcoscaceres commented on #339
This sounds like it should be handled by the app's service worker?

[2015-03-23 18:24] skddc commented on #339
Shouldn't it at least fail gracefully, when none has been defined?

[2015-03-23 18:27] dvonlehman commented on #339
Part of this could some technical ignorance, but if this is a hosted app rather than a packaged app, would there even be any JavaScript "installed" on the device to kick off the service worker?  Seems like such a fundamental use case that it would be nice if the manifest provided a nice abstraction so that every single app developer doesn't have to engineer the no network scenario from scratch.

[2015-03-23 18:47] skddc commented on #339
That's what the ServiceWorker is for, yes.

[2015-03-23 18:49] marcoscaceres commented on #339
@skddc:

This would just be normal browser 404 behavior - so yes, it would fail gracefully... or as gracefully as the UA can make it fail.

Note: Packaged apps are outside the scope of this spec.

The working assumption is that this specification applies to web apps, not "hosted apps" (which have thus far been outside the scope of this specification).  By "hosted app" I'm assuming you mean a web a

[2015-03-23 18:52] marcoscaceres commented on #339
@dvonlehman I'm going to close this as a duplicate of #161. However, I will spin up a separate issue so we can discuss if "hosted apps" are in scope.

[2015-03-23 18:52] #339 closed

[2015-03-23 19:04] marcoscaceres opened #340 "Are "hosted apps" in scope?"
At least one of the features being defined (#161) in this spec is primarily of value to "hosted apps": that is, a web application that a vendor has pre-installed on a device (through, for example, a "marketplace"), but potentially has never been actually run.

Question for implementers: when we started this process, we ruled out hosted apps as being in scope for this specification. Is it time to r

[2015-03-23 19:06] marcoscaceres commented on #339
@skddc, you are also welcome to comment on #340

[2015-03-23 19:08] benfrancis commented on #340
That isn't what I understand as "hosted apps", hosted web apps are just web apps which have a real URL on the web, all web apps with a W3C web app manifest are currently hosted apps by that definition.

Whether we should have an installation API so that an app store type app can install other apps without the user visiting them first is a separate question.

Pre-installing apps is probably complet

[2015-03-23 19:12] skddc commented on #340
Agree with everything @benfrancis just said.

[2015-03-23 19:15] g-ortuno opened #341 "Incorrect argument"
http://w3c.github.io/manifest/#lang-member

The first step in the algorithm for `lang` says:

`manifest with argument "name".`

shouldn't the argument be `lang`?

[2015-03-23 20:11] dvonlehman commented on #339
By "hosted apps" I'm referring to apps that are traditional web pages loaded from a remote URL. In this case the icon on the device is really a glorified bookmark. But it sounds like maybe the service worker acts as a shim that is copied down to the device upon app installation and is responsible for fetching any necessary remote assets including HTML, JavaScripts, stylesheets, or JSON payloads.

[2015-03-23 20:18] skddc commented on #339
Yes, you can cache app assets using a service worker and then only download updated assets in the background when opening an installed app for example.

[2015-03-23 20:18] dvonlehman commented on #340
My definition also matches with what @benfrancis said. This is consistent with [how Amazon defines hosted apps](https://developer.amazon.com/public/solutions/platforms/webapps/docs/differences-between-packaged-and-hosted-apps) in regards to their support for HTML5 apps in their app store.

_A hosted app is an application whose assets are hosted on a web server. Clients connect to the host and down

[2015-03-23 20:19] owencm commented on #326
As alxlu points out, Alex's doc says "to accommodate all of these situations, the list is ordered based on developer preference." so sites could list web above native to indicate their preference. I think that solves your issue Mounir, let me know if it doesn't.

Given that solution, the last question is whether this should remain as a chrome property. I hope that other browser vendors that curren

[2015-03-24 08:07] kenchris commented on #326
This seems like a generic things that we want other vendors to supports, so I think it is better to attempt to get it right here before people start shipping something.

[2015-03-24 09:44] jmajnert commented on #340
I'd say permissions are still missing, but I'm not sure this is a subject we want to get into now.

[2015-03-24 09:57] kenchris commented on #340
I think the problem is not supporting hosted apps, but allowing people to somehow create a manifest for an app that is not hosted on the apps' origin domain.

This could allow people to package up (for their store or existing stores, like create an APK) hosted apps.

For Crosswalk, we allow people to package local web apps into APKs using the manifest and upload them to the Play Store. We have got

[2015-03-24 11:36] jmajnert commented on #340
@marcosc - please correct me if I'm wrong - your question actually refers to applications that are already installed (preinstalled, or whatever), but whose code has never been run on the device?
If so, then I think you abused the notion of "hosted app" :-)

You are asking for propositions of features that would be useful in the specific scenario where the UA/device processes the manifest file befo

[2015-03-24 11:38] jmajnert commented on #341
It should.

[2015-03-24 11:41] marcoscaceres commented on #341
PR please :)

On Tuesday, March 24, 2015, Janusz Majnert <notifications@github.com> wrote:

[2015-03-24 11:45] benfrancis commented on #326
See also https://github.com/slightlyoff/AppInstallImprovements/issues/5

[2015-03-24 11:51] benfrancis commented on #326
Or should I say, smb://ben@tola.me.uk:445/files/my_github_comments.cab (hope your user agent can read that)

[2015-03-24 12:08] benfrancis commented on #340
@kenchris

I think I missed this, what's the reason that this is a problem for people?

What is it that you think would prevent Microsoft featuring web apps which use the W3C manifest in their store? Is it that there's no install API so that they'd have to have an "open" button instead of an "install" button? Would be really good to hear from Microsoft on their use cases there.

[2015-03-24 12:17] jmajnert commented on #340
I don't think this would be a problem for vendor-locked UA and app store.

[2015-03-24 15:29] alxlu commented on #340
Yes, we are looking to provide JSON manifest support. If anything, based on the current state, it seems like it will be easier to use the manifest for hosted apps than for packaged apps for us.

If I'm understanding the question correctly, since our Store is it's own 'app' and not run in the browser, we don't necessarily need an installation API to make it work.

[2015-03-24 15:34] kenchris commented on #340
@alxlu you mean hosted apps, "bookmarked" from the browser? or hosted apps in your store?

In Crosswalk we currently use the manifest for packaging local apps (no hosted ones yet) which people submit to the Google Play store. That works fine for us.

You you explain how you are currently imagining using the manifest? and where it falls short and if there is anything we can do to help you?

[2015-03-24 17:08] #341 closed

[2015-03-24 17:09] marcoscaceres commented on #341
fixed.

[2015-03-24 19:55] GrosSacASac opened #342 "typo found"
Ctrl+F this

On iOS, when web pages doesn't specify a custom touch icon, the OS takes a screenshot of the webstie and creates an icon from it. This is shown below.

here
http://w3c-webmob.github.io/installable-webapps/

[2015-03-25 09:06] jmajnert commented on #342
Found it in http://w3c-webmob.github.io/installable-webapps/#ios---touch-icons

[2015-03-25 09:08] jmajnert commented on #342
This is a different github project: https://github.com/w3c-webmob/installable-webapps

[2015-03-25 09:10] jmajnert commented on #342
I moved the issue to the proper project. This issue can be safely closed

[2015-03-25 09:15] benfrancis commented on #326
OK, I've been racking my brains for a way that this could be done in a way that doesn't really suck. First I started with a vendor prefix for each vendor:

[code]
Because there isn't a standard way to identify non-web apps, each vendor could extend this with whatever metadata they need. But vendor prefixes kind of suck...

Then I thought maybe a URL is sufficient to describe a non-web app by point

[2015-03-25 09:27] kenchris commented on #326
It seem like a lot of tedious stuff to write for no real gain, and as discussed before, we would like to avoid using actual links and just use ids instead.

[2015-03-25 09:33] benfrancis commented on #326
Not having to fill the "manifest for web application" specification with vendor-specific data which has nothing to do with a web application seems like a pretty big gain to me. And there are lots of other potential use cases for the JSON-LD hook.

As for ID, the schema has you covered...

[code]

[2015-03-25 09:46] kenchris commented on #326
I see this feature as a pretty important and core one that many would want, so defining a "vendor" and "id" field which values are defined externally, seems totally fine with me and something that I think we should do.

JSON-LD has so many different ways of doing similar things, like you pointed out, I can use @id or installUrl... I am afraid that that will just lead to more mess like with meta ta

[2015-03-25 09:47] #342 closed

[2015-03-25 10:08] mounirlamouri opened #343 "Add requirements when the Manifest is used by crawlers"
One benefit of the Manifest is that it is discoverable by crawlers but I realise that we do not actually even mention that in the specification or use cases related to it. Also, we list no requirements for crawlers like folliwng robots.txt.

[2015-03-25 10:09] kenchris commented on #343
+1

[2015-03-25 10:25] jmajnert commented on #343
I agree with mentioning crawlers in use cases and introduction to the spec. But can we define requirements for crawlers? Isn't this out of scope?

[2015-03-25 11:50] benfrancis commented on #340
That is the intended use of the W3C web app manifest, so that makes sense.

OK, interesting. So Microsoft does have use cases for web apps which may be "installed" from an app store before being loaded in the browser. Windows 10 will just use a platform-specific API for installing the app like Firefox OS currently does?

That seems to answer what I think @marcosc's original question was, and has p

[2015-03-25 11:53] kenchris commented on #340
I don't get why they would need any API for installing. People can just upload the app incl a manifest.json to the store, or like Crosswalk does, run a command line tool which takes the sources + manifest.json, wraps it in a package which then can be uploaded to the Google Play store.

[2015-03-25 12:13] benfrancis commented on #340
@kenchris:

The Windows Store app presumably uses an internal API in Windows to install the web app in the OS, I'm not suggesting that they need a web API for that if the Store app is not a web app.

That is not how the spec says a manifest should be obtained [1], a web app has a manifest URL on the web which is used for retrieving the manifest. If you want to use the same manifest format for pack

[2015-03-25 12:53] marcoscaceres commented on #343
On Wednesday, March 25, 2015, Janusz Majnert <notifications@github.com>
wrote:

Those requirements should come from at least 1 search provider. Plenty of
Google folks around, which is great (and google is already doing a good job
at surfacing mobile friendly web apps in their results).

I will do my best to find some from Yahoo! On the Moz side, since they are
our primary search provider (in North

[2015-03-25 13:05] dontcallmedom commented on #338
testing notification of I18N-WG-labeled issues

[2015-03-25 15:40] marcoscaceres commented on #336
AFAICT, we can't specify a "correct" method - we can only suggest normal means of fetching a URL via a `link` element (or `Link` HTTP header).

[2015-03-25 15:42] marcoscaceres commented on #335
Duplicate of https://github.com/w3c/manifest/issues/322 ? I.e., we don't provide a mixed method of doing languages with this format.

[2015-03-25 16:24] alxlu commented on #340
Hosted Apps in our Store. The "bookmarking" from the browser is something we are still exploring as an option. If we do enable "bookmarking" it will very likely come after Store support.

Our hosted apps are part of our Universal App Platform, so they are actually packaged and uploaded to the Store just like all our other types of Universal Apps. However, we are exploring different app submission

[2015-03-25 20:18] marcoscaceres commented on #272
What if we (Mozilla) used same-origin manifests as an installability signal? That way, Mozilla's products could still enforce same-origin manifests and rely on the manifest as the identity without forcing the same origin behavior on other vendors? It also then gives other OSs the ability to choose their own identifiers.

We could then evaluate the threat of about that @kenchris mentioned (and pote

[2015-03-25 21:39] marcoscaceres commented on #326
@benfrancis, please don't waste cycles on this. @mounirlamouri will put together the proposal based on what Google is likely to implement. We can then review that.

[2015-03-26 13:59] benfrancis commented on #272
Pinging @sicking for input as I'm not sure I'm familiar with all of his arguments.

@marcosc wrote:

I don't see what that would achieve except create incompatibility between browsers, with some apps only working in some browsers.

I think manifest URL being required to be same origin with the app is only loosely related to identity, it doesn't on its own enforce or prevent manifest URL being used

[2015-03-26 14:48] marcoscaceres commented on #272
Won't this happen already? Google will have different installability signals to us (and already do!) - the same will be true with any other vendor that implements this. The signals are not standard and could change from one release to another for whatever arbitrary reason (e.g., Moz might say we only require icons to be at least 90x90px, while Google might demand at least 144x144px... and a millio

[2015-03-26 15:58] benfrancis commented on #272
Ah, I didn't realise that's how you expected "installability signals" to be used. I thought they were just examples of the types of heuristics that the Chrome implementation is going to use to decide when to prompt the user to encourage them to install an app. I assumed the user can still always manually install an app with "add to home" if they want to. I didn't realise any vendors were planning

[2015-03-29 23:22] sicking commented on #272
I think the real question here is if we want to have the concept of "apps" on the web. Where "app" means something different from "web page". But possibly where "app" means "website".

"Apps" as a concept has been quite popular lately. It's something that both mozilla and google has reacted to as an area where native is putting competitive pressure on the web. "Apps" is what @slightlyoff asked me

[2015-03-30 07:14] GrosSacASac opened #345 "difference between lang and default_locale"
Can you explain the difference ?

[2015-03-30 09:52] anssiko commented on #272
I think a fair expectation is to assume the metadata will grow over time (both standard, as well as proprietary extensions), so planning ahead to keep metadata off the critical path likely pays off. An example of what one is required to do today to cater for iDevices only: https://gist.github.com/tfausak/2222823

This is close to what is spec'd:

* Obtaining a manifest (http://w3c.github.io/manife

[2015-03-30 21:10] alrra opened #346 "The use of the `.manifest` file extension may be problematic / confusing ?"
From: http://w3c.github.io/manifest/#h-media-type-registration

[code]

`.manifest` was the recommended file extension for the [Application Cache manifest file](https://html.spec.whatwg.org/multipage/browsers.html#manifests), and then, it was changed to  `.appcache` in order to [_"avoid clashing with Microsoft's unregistered `application/manifest` type"_](https://html5.org/r/5812).

So, taking int

[2015-03-31 04:32] tikurahul opened #347 "Support for Actionable Notifications in the manifest"
### Introduction

I wanted to add support for actionable notifications for a web app, that can be discovered using its manifest. The use case behind this is to be able to support applications like the [Physical Web project](https://github.com/google/physical-web)**. As we have more sensors (or IoT devices) which essentially expose simple services, it is not scalable to have to install an app for e

[2015-03-31 18:12] marcoscaceres commented on #346
oh, d'oh. Good point.

[2015-03-31 22:30] marcoscaceres commented on #345
Sure, `default_locale` would be the locale that would be chosen if none of the locales available in a file match the user's locales*. `lang` is the primary language of the document (equiv. to `<html lang>`).

* there is no `default_locale` in the spec because we don't support multiple locales.

[2015-03-31 22:30] marcoscaceres commented on #345
closing issue. Please feel free to ask any follow up question tho.

[2015-03-31 22:32] marcoscaceres commented on #345
To see more examples of default locale used in a different spec: http://www.w3.org/TR/widgets/#the-defaultlocale-attribute

[2015-04-01 11:20] benfrancis commented on #347
@tikurahul This is interesting, Mozilla is discussing some features for Firefox OS which could create similar use cases for marking up actions which an app can carry out.

However, I'm not sure I fully understand why the app manifest is a good place to add metadata for the particular use case you're describing.

My understanding of the Physical Web project is that you should not need an app per "t

[2015-04-01 16:00] marcoscaceres commented on #346
Should we just call it `.webmanifest`? I think anything we come up with is going to be terrible and 99% of people will just use `.json` (and not send the recommended mime type).

[2015-04-02 06:52] tikurahul commented on #347
Thanks @benfrancis for your comments. I understand now that the purpose of the web app manifest is primarily to support metadata pertaining to the *installing* of web apps.

I had a few questions, which might be beyond the purview of this project, but I would be grateful if you could answer them. I like the idea of supporting an endpoint that can be used to describe the *thing* and *actions* perta

[2015-04-02 19:25] #345 closed

[2015-04-02 20:54] marcoscaceres opened #348 "Triage privacy issues"
Lots of feedback here...
https://lists.w3.org/Archives/Public/public-privacy/2015JanMar/0118.html

cc @npdoty, who we need to work with to address the above...

[2015-04-02 21:03] alrra commented on #346
@marcoscaceres Having a unique file extension would make things very easy in terms of server configs, so :+1: for that.

It's not only about _"sending the recommended mime type"_. Some servers (e.g.: Apache) rely on the media type for different settings (e.g: [ExpiresByType](http://httpd.apache.org/docs/current/mod/mod_expires.html#expiresbytype)), and not having a unique file extension sometimes

[2015-04-02 21:08] marcoscaceres commented on #346
@alrra all excellent points. Let me fix this now.

[2015-04-02 21:27] npdoty commented on #348
The more formal write-up that I sent to webapps may be better organized and easier to follow for identifying issues:
https://lists.w3.org/Archives/Public/public-privacy/2015JanMar/0117.html

[2015-04-02 21:32] marcoscaceres commented on #348
That's great! thank you. That makes things much easier.

[2015-04-03 18:59] benfrancis commented on #272
Thanks for your detailed explanation @sicking.

If a web app is no different than a web page then I don't think there's really much point in the manifest.

lang can be provided by ```<html lang="en">```,  name can be provided by ```<title>```, icon can be provided by ```<link rel=icon>```, fullscreen display mode can be achieved with ```requestFullscreen()```, orientation with ```screen.orientatio

[2015-04-03 19:04] PaulKinlan commented on #272
We have lots of prior experience with content types being a bad Developer
experience. I also don't agree with same origin requirements (using csp
based scheme works for me - which I believe is a change of mind on my part.)

Same origin means that many large sites will struggle to implement this (or
prioritise implementing it) because it doesn't play nicely with their cdns.

On Fri, 3 Apr 2015 19:5

[2015-04-03 19:34] benfrancis commented on #272
FWIW @PaulKinlan, I agree with you that requiring a Content Type header raises the bar of how difficult it is to create a web app. I've heard differing views on how much of a problem the same-origin restriction is.

I do think the mechanism of resolving the start_url against the document URL is a much more convoluted way of ensuring they come from the same origin. I'm also concerned that it may si

[2015-04-03 20:29] sicking commented on #272
If we don't have the same-origin requirement, then what value does a manifest add over using <meta> tags inside the page? I.e. why wouldn't we, as spec designers, simply spec the <meta> tags that apple invented, and and add any missing ones?

[2015-04-06 07:55] pornel commented on #335
I suggest dropping the redundant `name` property and using the existing [application-name](https://html.spec.whatwg.org/multipage/semantics.html#meta-application-name) instead, which is localizable thanks to `lang` and `dir` attributes.

[2015-04-06 07:58] pornel commented on #334
The existing meta `application-name` supports `dir` ([related](https://github.com/w3c/manifest/issues/335#issuecomment-89964179))

[2015-04-06 08:25] pornel opened #350 "Add meta tags equivs. for features were possible"
I've implemented manifest on app.ft.com (it's not live yet), and my feedback is:

* The basic properties we needed (name and start URL) are redundant with numerous `<meta>` and `<link>` elements we have already (including proprietary ones such as `apple-mobile-web-app-title` and `msapplication-starturl`).

* JSON is unpleasant to work with. It's unsuitable for manual authoring due to lack of comme

[2015-04-06 17:13] marcoscaceres commented on #350
@pornel this is great feedback; thanks! We could look at standardizing the additional `meta` tags to provide all the fall backs (so you don't need JSON at all).

[2015-04-06 17:18] marcoscaceres commented on #350
Related to: https://github.com/w3c/manifest/issues/97

[2015-04-06 19:12] marcoscaceres commented on #350
@pornel Can you ping me when you put up the manifest? Also, hypothetically speaking: do you foresee using a CDN for hosting the manifest?

[2015-04-06 19:36] marcoscaceres commented on #335
Might be too late to drop name.

[2015-04-06 19:57] pornel commented on #350
I'll ping you, but it'll be disappointing, since it's currently minimal :)

I haven't thought about any special hosting for it, but we're moving the entire app behind a CDN, so technically it'll be on a CDN too.

[2015-04-06 20:09] marcoscaceres commented on #350
Minimal is good. Makes a case for dropping redundant stuff.

This is going to sound like a really stupid question (but important for an ongoing debate in #272), but how much of an issue would it be for FT if the browser didn't allow you to host this on a CDN (i.e., the manifest was forced to be same origin)? If that is a problem, what would you do instead?

[2015-04-06 20:17] #346 closed

[2015-04-06 20:44] marcoscaceres commented on #9
...resuming work on this...

[2015-04-06 21:58] marcoscaceres commented on #350
We currently define:

 * `short_name` === `meta@name=application-title`
 * `name` === `<title>`
 * `icons` === `link@rel=icons`
 * `theme_color` === `meta@name=theme-color`

Currently missing HTML `meta` equivs. for:

* `display`
* `orientation`
* `start_url`
* `lang` - could grab `HTMLHTMLElement.lang`?
* `scope`

Thoughts on the above?

[2015-04-06 22:11] marcoscaceres commented on #350
Actually, for `lang` we can walk the tree to find the language of the document.

So, we can get it from the element:

[code]

Or parent(s):

[code]

Or root:

[code]

[2015-04-06 22:19] marcoscaceres commented on #350
And HTML to the rescue :) https://html.spec.whatwg.org/multipage/dom.html#language

[2015-04-06 23:00] pornel commented on #350
For `lang` it may be worth testing on some web crawl — is `<html lang>` popular enough? Do people use `<body lang>`? I'd limit to reading `lang` attr just from the root for simplicity.

Looking at https://wiki.whatwg.org/wiki/MetaExtensions and https://msdn.microsoft.com/en-us/library/ie/gg491732%28v=vs.85%29.aspx

* `name` :arrow_right: `application-name` (existing specs and examples don't focus

[2015-04-06 23:18] marcoscaceres commented on #350
I think we really want `short_name` to be `application_name`, because `short_name` is what is used under icons when you add the app to the homescreen... on the other hand, `name` is used as an alternative name when searching for an app (e.g., on my iphone: name = "Google Translate"; short_name = "Translate" ... same with names like, say "google chrome" ... I search for "Google", I see "chrome" com

[2015-04-07 11:48] pornel commented on #350
No question that both are useful and needed. HTML has only one name defined so far, so a second one will have to be defined one way or another.

I'm suggesting mapping manifest name to meta application-name, because the existing spec didn't say anything about icon labels or length limitations of that. Also, if we define `application-short-name` then mapping of both will be obvious.

[2015-04-07 12:02] benfrancis commented on #350
I disagree with this. These HTML tags define the title, icon and theme_color of a web page, not of a web application. A web application consists of multiple web pages, which is the reason for the scope property.

If all the manifest is doing is providing an alternative way to define metadata for a web page, there's very little point in its existence. See #272.

[2015-04-07 13:02] pornel commented on #350
@benfrancis What's the use-case for having this distinction? How does it affect consumers of the metatags?

To me it seems the distinction is only theoretical, especially for single-page apps.

[2015-04-07 13:13] benfrancis commented on #350
@pornel For a web app with only one web page, the distinction is largely redundant. But most web apps consist of multiple web pages.

The metadata of the manifest is intended to be applied to a browsing context to create an application context, the metadata then applies to all web pages loaded inside the application context. i.e. The manifest describes a web application as a whole, whereas the met

[2015-04-07 13:19] benfrancis commented on #350
(I imagine search engines would also want to distinguish between a particular news article and the news app as a whole when displaying search results).

[2015-04-07 13:46] pornel commented on #350
Yes, I agree about `<title>` (that's why HTML has `application-title`).

I was assuming `theme-color` is used as application-wide (that's how FT app and BBC news use it), but I can imagine apps having dynamically changing theme (in FT we have Weekend section where we could theoretically change the theme meta).

In that case how about having mapping of manifest fields to meta with `application-` pr

[2015-04-07 15:16] marcoscaceres commented on #350
Something like that could work.

[2015-04-07 22:31] alrra opened #354 ""This version" link => 404"
![](https://cloud.githubusercontent.com/assets/1223565/7035168/c239da40-dd8e-11e4-8299-909b1e09777d.png)

[code]

[2015-04-07 22:34] marcoscaceres commented on #354
Strange... will have the W3C have a look.

[2015-04-07 22:34] mounirlamouri opened #356 "What's the use case for theme_color?"
```theme_color``` in the Manifest sounds fairly odd. Discussing with @PaulKinlan and @marcoscaceres, my understanding is that it was meant as a defaul theme_color for the meta tag. However, this is not possible because the UA might want to have a theme_color value for the first paint but Manifest can't block the first paint.

I would understand that it could be used for UI-related features but I w

[2015-04-07 22:50] marcoscaceres commented on #356
I was wanting to use it to generate cells when you open a new tab in the browser. That is, I want to have a background color and an icon that I can show at "about:newtab" instead of screenshots.

[2015-04-07 22:50] marcoscaceres commented on #356
Don't know if theme_color is the best thing for that... but... it could work.

[2015-04-07 23:13] mounirlamouri commented on #9
/cc @PaulKinlan @jakearchibald

I wrote a proof of concept for this using what would be a theme_color with an icon from the Manifest. I'm fairly happy about using the icon. However, I am a bit concerned about the theme_color. It might be very close but not quite exactly the icon's background colour. Also, the theme_color might not be the best solution for a smooth transition. For exmaple, GMail wo

[2015-04-08 05:50] kenchris commented on #356
Also suggested by @slightlyoff here https://github.com/slightlyoff/AppInstallImprovements

[2015-04-08 05:57] kenchris commented on #9
If you did use a 9 piece image (which is just one image btw) then you could define any background color in that. Also it is natively supported on Android.

[2015-04-08 06:45] jakearchibald commented on #9
I thought 9-slice images were the answer, but they don't solve a whole lot of cases. Eg

* Icon against a diagonally stripped background
* Anything with text is going to look platform-alien
* Anything that tries to match something like first real render is going to have sizing issues

[2015-04-08 06:49] kenchris commented on #9
* 9 piece images can be transparent as well
* If a non-9 piece image is used, we can just center the image
* iOS as an example, strongly discourages the use of text on any splash screen

[2015-04-08 06:50] jakearchibald commented on #9
I agree with @mounirlamouri, it's a quick win.

Is still like a way to generate splashscreen bitmaps on the client, but I realise that's way more complicated. Take https://jakearchibald.github.io/svgomg/, I'd like to be able to create a splash screen that was identical to first render, or maybe without the text.

[2015-04-08 12:22] PaulKinlan commented on #350
I do agree having a sane fallback from manifest to meta elements makes sense and it is something we use on Chrome.  Some of my issue with this is that the meta tags describe things related to the page and the manifest describes things relate to an installable experience and it is a subtle difference.

re: Google tried "application-url" - no we never :) well, it is actually really really unclear ab

[2015-04-08 12:42] PaulKinlan commented on #356
Originally I wanted themecolor as a manifest defined attribute that would color and theme all the browser chrome (progress bars, alerts etc) for an app that had just been installed.  I was thinking specifically about the sites where there is a lot of content and adding a meta tag across all pages is a pain, it would mean that you wouldn't pop-out of the brand experience whilst navigating the site

[2015-04-08 15:31] marcoscaceres commented on #356
Ok, let's back out `theme_color` for now. For splash screen, we can add a `bg_color` member.

[2015-04-08 23:45] slightlyoff commented on #356
I DO think this is interesting and I'd rather see it here than in meta
tags. Can we *not* remove it?

On Wed, Apr 8, 2015 at 8:31 AM, Marcos Caceres <notifications@github.com>
wrote:

[2015-04-09 08:09] berbaquero opened #359 "About Installations: API vs Signals — ¿case for Desktop-only API?"
I understand there's a current consensus of removing the API for "installing" web-apps to avoid the imminent proliferation of "INSTALL ME" banners and similar things, so on Mobile the focus is now on signals or heuristic for the browser to decide when to offer the "Install" option.

However, could there still be a case for programmatic access, *at least on Desktop*?

Just as a very young example,

[2015-04-10 00:43] n054 commented on #359
I originally wished to make what I called "mega mini mobile desktop", added some html5 and build tools. The need to be able to switch back and forth on some queries and tests and just regular down time stuff like answering conversations or playing some entertainment gets lost in the directory part and the ping adjustments (which could be renamed " address", and "doorbell".) Someone somewhere said

[2015-04-10 00:50] n054 commented on #359
Change "you he" to "the" on previous comment.

[2015-04-10 09:51] benfrancis commented on #359
It's not so much removing it, as not adding it to the W3C spec. Although it seems like Microsoft (and at least for now Mozilla) still use proprietary APIs to do this internally for app store type apps.

I don't think there's anything special about desktop here, a web app can still be installed from the browser and desktop browsers could take the same approach of prompting the user based on certain

[2015-04-10 14:46] berbaquero commented on #359
Well, my argument for a "different" approach on desktop is based on my concerns for these heuristic themselves — and I guess that's better for another thread — but in short, I feel these heuristics, at least based on how Chrome just implemented them on Android, seem very limiting.

I think the "Standalone" experience is essential if we want to offer a complete "app experience" from The Web against

[2015-04-10 19:01] benfrancis commented on #350
I think this is the key point. If a web site is a collection of web pages then a web app is an installable web site, not an installable web page.

Until now we've not really had a way to provide metadata about a web site as a whole, only about individual pages, the manifest provides this. I'm not sure a web page is the right place to store metadata about a web site. This would require adding metad

[2015-04-10 19:14] jyasskin opened #360 "Must manifests be same-origin?"
https://w3c.github.io/manifest/#obtaining step 3 says

However, https://w3c.github.io/manifest/#content-security-policy says

Which is it?

[2015-04-10 19:24] benfrancis commented on #360
I noticed the same thing yesterday @jyasskin. Since the same-origin restriction was added the CSP part of the spec is basically redundant.

This is being actively discussed in https://github.com/w3c/manifest/issues/272 and https://github.com/w3c/manifest/pull/353 though so it's not yet clear which part should be removed!

[2015-04-10 19:29] benfrancis commented on #272
Whether or not a manifest URL can be used to identify an app is not necessarily completely dependent on whether the manifest has to be same-origin with the app, if we can invent another way for an app to trust a manifest from another origin. Can I suggest we discuss the specific issue of same-origin manifests in #360 in order to address the current inconsistency in the spec?

[2015-04-10 19:37] benfrancis commented on #360
One reason for requiring a manifest be same-origin with the web app is to prevent someone creating an "app" for someone else's content without their knowledge. Are there other ways we could prevent this which don't render manifests useless as a standalone resource?

This might be a bit of a hack but... What if "Content-Security-Policy: manifest-src self" could be used to prevent others creating ap

[2015-04-10 19:41] benfrancis commented on #272
If we could take the same-origin debate out of the equation, is there any reason that the spec shouldn't continue to recommend that the manifest URL be usable as an identifier for an app, and therefore multiple apps shouldn't share the same manifest?

[2015-04-10 20:17] marcoscaceres commented on #272
We can say that it's "best practice" as we currently do in the spec. However, experience shows that authoring requirements are generally ignored by developers.

[2015-04-11 00:21] pornel commented on #350
@benfrancis, sure, web pages and webapps are different (and sometimes it's fuzzy and complicated), but it doesn't matter here! It's a red herring.

[The use cases](https://w3c-webmob.github.io/installable-webapps/) work just fine without caring about this distinction. We know this for a fact, because such metatags are already successful and in widespread use, but with an `apple-` prefix.

I comple

[2015-04-11 00:38] pornel commented on #350
@PaulKinlan Agreed! Without start URL we have to resort to ugly and fragile hacks with cookies and appcache to work around that. Ew.

[2015-04-11 01:00] pornel opened #361 "Ability to define platform-specific icon/splash style"
Different platforms have different guidelines regarding their icon style, and an app may need to follow them to look "native".

Wrong style, even if slightly wrong, can create "uncanny valley", e.g. multiple OSes use square icons with rounded corners, but with a different radius. Icon with a wrong corner radius looks like an amateurish knock-off.

The spec currently only matches icons on size and

[2015-04-11 07:20] skddc commented on #361
We need this, too.

[2015-04-13 08:42] jmajnert commented on #272
I agree with @marcosc - "authoring requirements" and "best practices" have no meaning for implementations and thus will be ignored in real world.

[2015-04-13 08:43] jmajnert commented on #360
@benfrancis this looks like it might work.

[2015-04-13 11:20] benfrancis commented on #272
OK. How about if the "name" field was compulsory, and the start_url was resolved against the manifest URL (can use absolute URL if needs to be cross-origin)? These are things I'd quite like to see anyway and would make sharing a manifest between apps quite impractical.

[2015-04-13 11:56] jmajnert commented on #272
If we're starting to think of manifests as standalone resources, we need to make start_url obligatory (and maybe not "purely advisory" as well).

[2015-04-13 13:26] benfrancis commented on #272
Yes, or make start_url have a default of "/" or the directory of the manifest.

[2015-04-13 13:34] jmajnert commented on #272
Yes. Exactly. It has to point somewhere.

[2015-04-13 14:02] anssiko commented on #360
@benfrancis Let me try to rephrase your proposal in terms of HTTP requests and responses. Some details omitted for brevity. Correct any misinterpretations.

Assumptions made for the currently unspecified `manifest-src` directive:

* `manifest-src *` permits cross-origin manifest fetch by default (in addition cross-origin manifest fetch response must have proper `Access-Control-Allow-Origin` header

[2015-04-13 14:49] benfrancis commented on #360
@anssiko Actually I think all of what you just wrote is already covered by the Content Security Policy section in the spec http://w3c.github.io/manifest/#content-security-policy but it is currently redundant due to the same-origin restriction recently added.

What I'm proposing is that the CSP header also be used at runtime to prevent pages being rendered inside an application context with an unau