[2016-08-09 06:26] marcoscaceres commented on #480
Related: https://github.com/w3c/manifest/issues/361#issuecomment-201049191

[2016-08-09 06:45] marcoscaceres opened #484 "Installation doesnt define task source"
The installation event doesn't define a task source. I'm open to suggestions to which one to use, but otherwise we can mint a new one called "application life-cycle task source".

[2016-08-09 08:04] #484 closed

[2016-08-12 16:00] dauwhe opened #486 "Discoverability of metadata in web application manifest"
A web app manifest contains metadata that search engines might be interested in. It also provides a way for metadata to describe a collection of web resources as a unit. Has there been any discussion of aligning some of the members with schema.org?

Just for fun, here's the first example in the spec, modified so that Google can understand a fair amount of the metadata.

[code]

[2016-08-12 16:02] patrickkettner commented on #486
Microsoft has already spoke in public about using Bing to index the manifest files. Since it is structured data (albeit it not in the traditional schema), it would be cake for any engine to understand it in its current form.

[2016-08-12 18:46] RobDolinMS commented on #469
@foolip Was your comment from Jun 9 sufficiently resolved?

I see http://www.w3.org/TR/appmanifest/ in the spec and linked from the [ReadMe.md file](https://github.com/w3c/manifest/blob/gh-pages/README.md).

[2016-08-12 19:08] RobDolinMS commented on #470
@gui-poa You might want to take a look at #449 to see a solution to that could address your case.

[2016-08-12 19:23] foolip commented on #469
The repo description was fixed, but https://w3c.github.io/manifest/ still exists, I'd redirect that so there's no doubt about which is the right one.

[2016-08-15 04:54] marcoscaceres commented on #469
That's a larger change, where we would need to stop using the gh-pages branch (and make master, the master again). I don't mind doing that change, but not right now.

[2016-08-15 05:12] marcoscaceres commented on #486
mmm... cake.

[2016-08-15 05:19] marcoscaceres commented on #486
So, we once had that in the spec, but we took it out:
https://github.com/w3c/manifest/pull/316

As @patrickkettner mentioned: it's trivial for an engine to decipher the semantics of each element based on the fact that it's a standardized web manifest (without schema.org's stuff). It can do that by the link type or the mime type.

[2016-08-15 05:19] #486 closed

[2016-08-15 06:51] marcoscaceres commented on #480
Maybe all we need is the "purpose" then.

[2016-08-15 11:26] foolip commented on #469
Do you want an issue for it?

[2016-08-15 13:51] marcoscaceres commented on #469
No, I'll do it this week. It's on my todo.

[2016-08-16 21:49] RobDolinMS commented on #476
I'll elaborate on the scenario as it seems like there is some healthy confusion in the discussion:

1. Developer (Danica) builds a PWA
2. The PWA is listed in a catalog or store
3. Danica wants to change the way her PWA is listed in the catalog or store (ex: Add more screenshots, add a video, etc.)

CHALLENGE: How does the catalog or store know that Danica is the owner of the PWA?

PROPOSAL (adopt

[2016-08-16 21:52] RobDolinMS commented on #477
Anyone have any other comments on this?  I can open a PR if there are no big concerns or things I'm missing.

[2016-08-16 22:01] RobDolinMS commented on #478
Thanks.  I didn't think of link rel=prerender and that's a good solution when navigations are in a linear sequence (ex: Level 1 -> Level 2 -> Level 3 ...)

In a case where the navigation might not be linear (examples below), having a transition screen that the UA can display while loading the next content could be valuable.

Examples:
* A game in which a user can visit one of multiple "neighbors"

[2016-08-17 00:46] marcoscaceres commented on #477
The challenge I see with `screenshots` is that the fetching behavior for user agents will be different from that of sites (servers) like pwa.rocks.

I'm also concerned that each store will have its own requirement for screenshots - e.g., some will want desktop, others will want mobile, or tablet, etc. Some may require squares, other particular dimensions and so on (and developers will likely want

[2016-08-17 00:49] patrickkettner commented on #477
do any of your comments not also apply to icons, @marcoscaceres?

The intricacies of how, when, what, and why they are fetched are different on a per client basis.

[2016-08-17 01:03] marcoscaceres commented on #478
I still think that the appropriate place to address this is within the application itself, rather than something in the manifest.

For all of the examples listed, it feels like a developer should be able to design the transition experience based on where the user is navigating from/to - rather than having a single screen that serves as the transition screen. Additionally, developers might want to

[2016-08-17 01:07] marcoscaceres commented on #477
Yes. We define specifically how to fetch images from a browser (so the fetching can correctly work together with service workers and CSP).

Correct. Which may lead to weirdness for non-web clients.

[2016-08-17 02:40] patrickkettner commented on #477
I feel like I wasn't clear. I was reacting to the following statements

This (albeit loosely) reflects the current state of icons as well. an iOS icon != android icon. Also true for `related_applications` as well.

My point is that I don't see how platform differences in stores should prevent developers from being able to optionally include screenshots in a standard way.

There will always be spec

[2016-08-17 03:01] marcoscaceres commented on #477
Yes, please see https://github.com/w3c/manifest/issues/361. We are working on solving that too.

I don't disagree. But I'm concerned about adding this and then no stores using it (because they might have specific requirements - and also because of manifest data synchronization/data-authority problems - which I discuss below).

With icons it's different: it's the browser, as a conforming user agent

[2016-08-17 21:38] benfredwells commented on #479
After doing some reading I think this isn't possible currently with SWs, but the pieces are almost there:
- SWs can intervene in network fetching via the fetch event, but not with navigation itself
- SWs can use Clients.openWindow to open existing windows, however that is currently only allowed in response to a notification click event.

[2016-08-24 19:24] patrickkettner commented on #477
Ah, that makes more sense. However I am not sure I agree with the concern. I am quite certain that my team would be interested in using it.

We (spec folks) don't have any requirements of the browsers, either. They can be determined, and cataloged, but that is no guarantee that  it won't change the moment we go to CR. Much in the same way, we can easily get the requirements for the major app store

[2016-08-24 20:19] chaals opened #488 "Redundant reference to ISO 3166?"
From Addison Philipps by email:

I was looking at https://www.w3.org/TR/appmanifest/#lang-member today. I noticed this text in section 8.2:

I'm wondering why the reference to ISO 3166 country codes is maintained in addition to the IANA Language Subtag Registry. The IANA registry contains all of the 3166 values in a stabilized fashion and tracks changes to 3166. Is there a purpose to maintaining t

[2016-08-24 21:00] chaals opened #489 "Status section has misleading info on filing bugs"
The Status of the Document section suggests that comments should be sent to the mailing list.

This might actually be caused by a respec issue.

[2016-08-25 02:49] #488 closed

[2016-08-25 02:49] marcoscaceres commented on #488
Removed the offending text

[2016-08-25 02:51] marcoscaceres commented on #489
Indeed, need to fix this in ReSpec: https://github.com/w3c/respec/issues/919

[2016-08-25 03:01] marcoscaceres commented on #477
Ok. That's sweet music to the spec editor's ears 🎸.

Nit pick: but the RCF2119 keywords are conformance requires precisely for browsers.

Ok, cool. That's what I needed to hear.

No, that user updates the data in the manifest, but Store A and B don't update. So, user updates data in Store A and B, but then stops updating the manifest.

[2016-08-25 04:27] marcoscaceres commented on #361
I'm going to make `platform` available on image objects and "let god sort it out". The `platform` member is open ended enough that it can take the values of "theme"... let's see if some defacto standard emerges.

Will send a PR.

[2016-08-25 04:30] patrickkettner commented on #361
+1

[2016-08-25 04:39] marcoscaceres opened #492 "Drop gh-pages branch"
As we are using echidna, we don't need to be publishing gh-pages.

[2016-08-25 04:40] patrickkettner commented on #492
is there anything to be done other than delete the branch?

[2016-08-25 04:42] marcoscaceres commented on #492
The branch will have to live on, but with a HTML document that has an ol' school `<meta refresh>` for redirect (to avoid a 404).  There are lots of articles, etc. pointing to the current gh-pages' served page.

[2016-08-25 04:43] patrickkettner commented on #492
ah - gotcha

[2016-08-25 04:44] marcoscaceres commented on #492
We just need to copy/pasta/adapt this:
https://github.com/w3c/reporting/blob/gh-pages/index.html

[2016-08-25 04:48] patrickkettner commented on #492
happy to PR a change, but I am not sure what the Echidna powered url would be

[2016-08-25 04:51] marcoscaceres commented on #492
That would be great. The URL is:
https://www.w3.org/TR/appmanifest/

I've given you write access on this repo, so if you can create a feature branch that would be great; then we can rebase/merge on gh-pages once the 2 existing PRs land.

[2016-08-25 05:17] marcoscaceres commented on #480
Just noting that Safari's pin tabs will simply convert a site's fav icon to monochrome for pinned tabs (when rel="mask-icon" is not used):

![screenshot 2016-08-15 16 36 47](https://cloud.githubusercontent.com/assets/870154/17957611/83622cce-6ad6-11e6-9246-304fbfda588b.png)

In the above, the "Y" is using `rel="mask-icon"` and the second, fb, is not.

[2016-08-25 05:18] marcoscaceres commented on #480
Fixed comment above.

[2016-08-25 08:42] #477 closed

[2016-08-25 08:42] #361 closed

[2016-08-25 09:51] marcoscaceres commented on #480
Sent proposal:
https://rawgit.com/w3c/manifest/purpose/index.html#purpose-member

[2016-08-25 20:55] owencm opened #495 "Standalone description not accurate"
Currently our description of display:standalone says:
"In this mode, the user agent will exclude UI elements for controlling navigation, but can include other UI elements such as a status bar."

In fact, on all browsers I'm aware of on Android the UI for controlling navigation is just system UI that isn't obscured. Hence it may be clearer to say:

"In this mode, the user agent will exclude standar

[2016-08-26 04:09] marcoscaceres commented on #495
@owencm, the original description was designed to match what Safari did in iOS. However, I'm happy to change it.

[2016-09-01 07:31] #495 closed

[2016-09-01 07:32] #476 closed

[2016-09-07 18:22] RobDolinMS commented on #449
What if we used @benfrancis's idea of stay_in_app as a way to solve for @boyofgreen's use case?

[code]

/cc @marcoscaceres @kenchris

[2016-09-07 18:28] RobDolinMS commented on #478
If a user has a good connection and/or there's not much content to load, I would expect very small delay and thus the user agent might not even need to show the transition screen.

However, if there is lots of content to load and/or the device has a low bandwidth connection, giving a web app developer some easy way to communicate that their app is loading (and has not hung) is valuable.

@marcosca

[2016-09-07 18:33] kenchris commented on #478
I am afraid that users will also believe this is the right way to do it and that their app is more complete the more they use of the manifest features. I wonder if there is a way around this, ie. calling it something like *_fallback or so

[2016-09-07 21:33] seksenov commented on #478
I agree that the best experience would be something that the developer invests in as part of her/his web app experience.

However, we've had feedback from developers around their existing web apps loaded in an app host rather than the browser where they'd like a loading indicator to be displayed during navigation instead of a blank page.

Often times the developer reverts to loading their web app

[2016-09-09 00:38] RobDolinMS opened #498 "Describe how developers can block web crawlers"
There may be a case where a web app developer does not want their web app to be crawled.  I was thinking proposing an additional element to support this, but realized the web already has a way to block crawlers.

Below is some draft language, if this seems reasonable, please 👍 and I'll submit a PR.

[2016-09-09 00:52] marcoscaceres commented on #498
I'm respectfully not in favor of adding this to the spec, primarily because robots.txt is well-known and doesn't add normative text the spec.

I'm wondering, however, if we should actually start an explainer.md for web manifest, where this kind of information can go. That would give us freedom to provide guidance to developers, while keeping the spec lean of non-normative text.

[2016-09-09 01:04] patrickkettner commented on #498
Personally, I would be in favor of adding this to the Manifest. My use case
would be as a former web hosting Company employee comma people had access
to upload files, but not necessarily modify their robots.txt. this happened
with resellers and subdomains. You could easily imagine code sites like
CodePen, jsbin, or even just old fashioned college websites offering folks
the ability to add files on

[2016-09-09 01:19] RobDolinMS commented on #498
(Discussing @marcoscaceres's proposal of including this concept in some separate appendix/explainer with @patrickkettner offline)

[2016-09-09 03:07] marcoscaceres commented on #478
I'm confused, as this problem is solved by service workers?: When you have a service worker in place, and resources cached, you get instantaneous loads.

I'm assuming this means on Windows 10. I'd be really interested in seeing an example. I've never seen this on any other platform, which is why I'm so hesitant to include it.

Apologies if this is obvious on Windows, I've just not experience it so

[2016-09-09 08:56] adrianhopebailie commented on #161
The Web Payments WG believes it has a use case that is appropriate here.

We currently intend to use ServiceWorkers to provide the functionality we require for a Payment App (See this [proposal](https://github.com/w3c/webpayments-payment-apps-api/blob/gh-pages/proposals/jsapi.md) and the thread [here](https://github.com/w3c/webpayments-payment-apps-api/issues/33)).

In our case we'd like the abili

[2016-09-10 10:18] alrra commented on #498
Note: One can also use the [`X-Robots-Tag`](https://developers.google.com/webmasters/control-crawl-index/docs/robots_meta_tag#using-the-x-robots-tag-http-header) HTTP header.

[2016-09-12 05:24] marcoscaceres commented on #161
@adrianhopebailie

That would not be great, imo - developers need to be in control of the payment registration process AND the service worker. Trying to hide those details, while also supporting the imperative API would be confusing.

Let's just get payments working with Service Workers first and then if it all works together, look at how we can then make something declarative (via a library first

[2016-09-12 06:56] marcoscaceres commented on #498
/me removes Editor hat, puts on Mozilla hat...

From Gecko implementation standpoint, I wouldn't be in favor of adding anything like this to the spec. At least, I don't feel it would be something we would want to implementation.

/me puts on Editor hat. However, if another implementer wanted this, then happy to add it.

[2016-09-12 06:58] patrickkettner commented on #498
@marcoscaceres - for clarity, what is the anything that you are referring to?

[2016-09-12 07:00] marcoscaceres commented on #498
@patrickkettner, any new member that would serve as a robots.txt equivalent.

[2016-09-12 07:02] patrickkettner commented on #498
ah, ok. wasnt sure if that was in response to catalin or something that happened in the other part of the thread. thanks! :]

[2016-09-12 07:05] #480 closed

[2016-09-12 10:39] adrianhopebailie commented on #161
So what you are proposing is that if we need all of the features of an app manifest (name, description, icons, language, context information) but we want to use ServiceWorkers then we should design our own mechanism for developers to provide this information in a custom ServiceWorkerRegistration extension?

That suggests to me that this opening line of the app manifest spec is a little misleading

[2016-09-12 10:55] jakearchibald commented on #161
If I added `foopay.com`'s site to my homescreen, would it have the same icon, name, description etc etc as the payment app? Will that be true for all payment apps?

[2016-09-12 12:01] adrianhopebailie commented on #161
As I understand it that would depend on whether or not the ServiceWorker was within the manifest's defined scope.

My point is that app manifest, as a format for defining app meta-data, should stop there. Instead it specifies a bunch of installation logic and a unique path-based scoping mechanism that means re-using app manifest for anything else is impossible.

[2016-09-12 12:09] jakearchibald commented on #161
@adrianhopebailie

Ignore how you think it works for a moment. If I added `foopay.com`'s site to my homescreen, would it have the same icon, name, description etc etc as the payment app? Or are there cases that the name/icon/etc that would appear in the payment UI would be different from the icon/name on my homescreen.

As in, are these things that *should* be merged, or are they separate?

[2016-09-12 12:51] adrianhopebailie commented on #161
I'm not sure how to answer that question. Are you asking if I think it should be the same or are you asking if there are limitations to it being the same or different?

You're ignoring (in your example) the fact that neither ServiceWorker nor app manifest are limited to 1 per origin. A mistake, in both cases, in my opinion.

So, to answer your question: I think these things should be merged. If I

[2016-09-12 13:07] jakearchibald commented on #161
@adrianhopebailie

Yes, that. If we're merging two things I want to make sure they're worth merging, or if you just want the processing model of the manifest, but it'd be a separate manifest.

I'm not, it's at the heart of what I'm asking. Are developers likely to end up with a manifest for their site, and a separate manifest for their payment app?

Unfortunately that's not how the web's built tod

[2016-09-12 14:10] adrianhopebailie commented on #161
I don't follow this. Github uses subdomains so each Github site is a unique origin.

Yes, that's certainly my assumption.

Re-use of the manifest data model. An "extensible Web" approach to Web architecture.

The issue is that the concept of an application manifest is broad and so is the definition of a Web application. The idea of providing meta-data about your application has a many use cases.

[2016-09-12 14:32] jakearchibald commented on #161
@adrianhopebailie

Unfortunately not:

* https://jakearchibald.github.io/isserviceworkerready/
* https://jakearchibald.github.io/svgomg/

The extensible web manifesto relates to providing low-level APIs, I'm not sure how the manifest fits into this comparison. The manifest is a pretty high-level API compared to the service worker.

Let's keep calm about this. An app vs site is almost impossible to

[2016-09-12 14:33] thomaspessato commented on #470
@marcoscaceres have you heard any news about this? I'm really looking forward to to use this 👊

[2016-09-12 15:24] kenchris commented on #449
PWAs currently are only allowed for HTTPS (because of service worker and because they may hide UI like the URL). For this reason I don't think we should allow any HTTP-only to be considered part of the app.

[2016-09-12 20:01] nolanlawson commented on #498
So the consensus is not to add the robots.txt fix to the spec, but instead to an explainer?

BTW I sympathize with @patrickkettner's POV but I imagine most web authors will work around this by just not hosting their PWAs on Geocities. :wink: Also may not be so bad that admins of JSBin/Codepen/etc. can unilaterally disallow PWAs on their sites by robots.txt-blocking all manifest files.

[2016-09-12 20:02] patrickkettner commented on #498
What? Why would that be a good thing?

[2016-09-12 20:06] nolanlawson commented on #498
Dunno, thinking back to [Remy Sharp's security issues with JSBin](https://remysharp.com/2015/09/14/jsbin-toxic-part-1) seems not so bad to give more power to the admin...

[2016-09-12 20:09] patrickkettner commented on #498
I don't think anyone is suggesting _not_ supporting robots.txt. site owners should, and always will, have the ability to blanket blacklist PWAs. But they also have the power to choose to offer the service. If Remy, Chris, or any other hosting team wants to offer PWAs as a possibility, they shouldn't be hamstrung by the w3c making decisions for them.

By not offering a way for users to opt out of t

[2016-09-12 20:13] adrianhopebailie commented on #161
There are two ways to use GitHub pages, using a gh-pages branch which allows a per repo website under a single team/user origin or using a single repo per team/user that is the site at the root.

This way GitHub can serve a separate app for each user/team on a different origin. i.e. User's have the choice.

I suspect that the developers at Github thought about this and that's they don't just rende

[2016-09-12 20:38] jakearchibald commented on #161
In my last comment I proposed reusing the algorithms without having to split storage. This would done without having a manifest.

If you're deciding to only allow one payment app per origin, you're outside the service worker lifecycle, and I wish you good luck, but it's a mistake.

I don't think app vs site needs to be defined to make this all work.

[2016-09-12 21:20] nolanlawson commented on #498
My bad, thanks for the explanation. :+1:

[2016-09-12 21:45] boyofgreen commented on #449
I think that would work for most of the use cases we see.  it also solves for us not rocking the scope boat  :)

[2016-09-12 21:58] adrianhopebailie commented on #161
I think we have strayed way off track here. My original proposal was that payment apps could be a use case for motivating that app manifests be used to provide meta-data when registering a ServiceWorker.

I still think there is value in re-using the data model from appmanifest to describe the meta-data about a payment app (icon, labels etc) but we can't use the appmanifest spec directly because it

[2016-09-12 22:56] kenchris commented on #449
I am OK with extended scope, as long as we are talking about "https". We could do something like Chrome Custom tabs for "http" though, instead of opening in the browser.

[2016-09-13 04:44] marcoscaceres commented on #470
@thomaspessato, not yet, sorry :(

[2016-09-13 08:30] jakearchibald commented on #161
Many other specs need a model for processing icons. We should abstract that, and it can be used in multiple places.

Are we agreed that payment app settings can be provided to an API in the service worker without requiring a separate JSON resource (or resources)? If so, we should leave this thread.

[2016-09-13 08:53] marcoscaceres commented on #161
Why? Why go through the manifest processing dance? why go to the network for a manifest file at all? That makes little sense to me. One is free to compose the payment details from the payment application from the manifest (e.g., if you want to pull resources or the manifest out of cache storage), but relying on the manifest and processing model seems wrong.

This is by design. It's serving a very

[2016-09-13 09:03] marcoscaceres commented on #161
Exactly. The manifest spec leverages a lot from HTML already.

I hope so. That feels like a much better fit to me.

[2016-09-13 11:53] benfrancis commented on #449
It's true that Chrome won't prompt you to add your web app to the homescreen if it's not using HTTPS, but that doesn't mean you can't use a web app manifest with HTTP. Even in Chrome I believe the user can still manually add to homescreen. There's nothing to stop user agents supporting web app manifests with HTTP (and scope with HTTP) even though Service Workers require HTTPS.

If stay_in_app is a

[2016-09-13 13:49] adrianhopebailie commented on #161
If you assume that the manifest data model is only available in the form of a JSON object in a file, sure.

I'm sorry but I don't think you understand the model that is being proposed for payment apps and why they will be installed or who would publish them. Your perspective is very card-centric and assumes that payment apps will just be glorified card number providers or built into the browser/OS

[2016-09-13 16:08] jakearchibald commented on #161
Shall we pick this up at TPAC? There's a bit of a sour air to the discussion that would probably be cleared up face-to-face.

[2016-09-13 16:11] kenchris commented on #161
Yes, good idea :-) Then I can also see if I can understand it all. Marcos unfortunately won't be around.

[2016-09-13 17:40] RobDolinMS commented on #161
@kenchris @jakearchibald @marcoscaceres @adrianhopebailie I won't be at TPAC but am supportive of Service Worker being included in the Web App Manifest.

Two use cases of Service Workers mentioned in an [earlier comment](https://github.com/w3c/manifest/issues/161#issuecomment-221046650):

[2016-09-13 17:44] RobDolinMS commented on #449
Thanks @kenchris and @benfrancis.  I've updated my example above to use HTTPS as my intent was to focus on additional scopes via a `stay_in_app` object and will open a separate issue to track possible support for HTTP.

[2016-09-13 18:04] benfrancis commented on #449
I don't think you need to do anything extra to "support" HTTP. It kinda just works ;)

[2016-09-14 04:11] marcoscaceres commented on #161
The use cases are very compelling - and would like to explore how they would work in practice. Open questions:

 * should we allow multiple service work registrations? Or just a single one?
 * what happens when registration fails?

[2016-09-14 16:19] adrianhopebailie commented on #161
Yes, good idea. Apologies if my frustrations with understanding the different boundaries between cookies, apps, sw's etc turned things sour. I have a long standing peev with the number of moving parts in W3C specs that don't seem to inter-operate well unless you have some of the tribal knowledge that helps you understand the nuances.

We had a payment app task force call today and this was discuss

[2016-09-14 21:27] seksenov commented on #478
Service workers solve the problem when the content is cached but it still exists with fresh content. Take a news or shopping app as examples, in both cases there would be fresh content to be navigated to.

I don't believe this is displayed automatically by any UA today but each platform has one or more UI loading indicators. I've attached an image of what the experience would look like on Windows

[2016-09-15 04:31] cheshrkat commented on #446
I just ran into this while spiking the use of app manifest. It's great to get onto the device, but the spec definitely needs to talk about the way(s) you can update the content.

[2016-09-15 05:46] marcoscaceres commented on #478
@seksenov, I'm really really sorry, I know we are going in circles a little bit (this is not deliberate on my part and I feel terrible). But what is being proposed still doesn't make sense to me - so I'm going to see if I can clarify what is being asked.

You state that:

This is different from the OP - which wanted the UA to choose an image to be displayed in between navigations. Let's put that a

[2016-09-15 09:08] kenchris commented on #478
I guess you could even create a simple library, which could do all of the above and even store a loading screen with spinner in the SW cache and quickly show that between loads, or something similar.

[2016-09-15 18:42] kenchris commented on #446
AFAIU, the Android team is looking into updating the app data given manifest changes as part of the work on WebAPK. It would be great to have their feedback. @PaulKinlan ?

[2016-09-16 04:38] marcoscaceres commented on #446
I think we should limit the declarative features of the manifest as much as possible, particularly ones where we can do better (for developers) by making them programmatic. I believe there is, nevertheless, and as @RobDolinMS suggests, the opportunity for a good mix of collaboration between the browser and the web application: where the browser can automatically check for an update (as service wor

[2016-09-16 04:42] marcoscaceres commented on #446
@PaulKinlan, feedback would be tremendously useful, particularly if there is going to be some kind of impact on the API surface. It may be we reuse the `onbeforeinstall` infrastructure here to perform the update - which would make most sense.

[2016-09-16 07:28] marcoscaceres commented on #478
@kenchris, that's also what I think as well. I'm worried about adding something that could so easily be done with a couple of lines of JS/CSS.

[2016-09-16 07:42] marcoscaceres commented on #161
Welcome to the club! :)

Re: icons, we might be able to push that stuff down the stack to HTML. It's where "responsive images" are defined. The manifest spec leverages HTML and fetch where it can, because we want both the security assurances and the consistent behavior.

Another spec dealing with icons is Notifications - so it also provides a good place to look (though it currently doesn't do resp

[2016-09-16 07:43] marcoscaceres commented on #161
(updated code above, added await and comment)

[2016-09-16 08:37] jakearchibald commented on #478
I'm into fixing the problem mentioned in the OP, but I agree that the manifest isn't a great place to solve it.

With service worker, you get near-instant navigations, even if the body content is coming from the network. Check out jakearchibald.com in the latest Chrome - the header of the page is stored locally, but the rest streams from the network.

What this doesn't give us is a nice transition

[2016-09-16 08:54] jakearchibald commented on #161
I think the payments stuff is a bit of a distraction here, because I still think their proposed reliance on manifest is a step against the extensible web, and @marcoscaceres example above shows that developers could choose to use JSON (or YAML, or whatever) really easily.

That aside, I'm open to service worker being referenced in the manifest. @RobDolinMS:

The service worker scope & script URL c

[2016-09-16 09:55] kenchris commented on #161
I would say yes, it works for <link and Link header, so why shouldn't it be enough for manifest?

How do we handle today if there is a Link header with SW, a <link> tag and a JS registration?

[2016-09-16 10:05] benfrancis commented on #478
CC @Cwiiis

[2016-09-16 13:56] jakearchibald commented on #161
If they have different scopes, you get three registrations. If they have the same scope and script URL, they coalesce. If they have different script URLs, last one wins.

[2016-09-16 18:10] RobDolinMS commented on #478
@jakearchibald for MSFT, loop-in me and Kiril @seksenov

[2016-09-16 18:12] RobDolinMS commented on #478
@Cwiiis What is the state of http://cwiiis.github.io/gaia-navigator/ ?

[2016-09-20 07:35] marcoscaceres commented on #161
Ok, I'm convinced. Let's do this.

[2016-09-20 13:39] benfrancis commented on #161
\o/

To be fair it is now nearly two years since you said:

[2016-09-20 14:08] marcoscaceres commented on #161
Was I wrong? ;) well, maybe 50% wrong.

[2016-09-20 19:37] RobDolinMS commented on #161
@marcoscaceres wrote:

Woo hoo!  /cc @seksenov

[2016-09-21 02:00] marcoscaceres commented on #161
Relevant discussion in the SW repo:
https://github.com/w3c/ServiceWorker/issues/979

[code]

[2016-09-21 12:53] anssiko opened #500 "Combine Origin Policy mechanism with the Web App Manifest?"
As discussed at [Origin Isolation/Browsing Context Isolation breakout](https://www.w3.org/2016/09/21-isolation-minutes.html) F2F today with @mikewest et al., it _might_ make sense to combine Origin Policy mechanism with the Web App Manifest.

See also [Relation to Web App Manifests](https://mikewest.github.io/origin-policy/#app-manifest).

[2016-09-21 18:22] RobDolinMS opened #501 "(Re-)Add Optional Splash Screens"
This issue proposes resurrecting the `splash_screens` object that was removed with PR #440

While UAs can fall-back to using one of the smaller images and a background color, offering the optional `splash screens` object gives web app developers an option to have the UA display a larger, more detailed image while their app loads.

(Example from [prior spec version](http://www.w3.org/TR/2015/WD-app

[2016-09-21 18:55] RobDolinMS commented on #449
@marcoscaceres Would you want to draft a PR?  Would you like me to?

[2016-09-21 19:15] RobDolinMS commented on #501
Discussing with @boyofgreen and may want to get this from `icons` object.  Closing for now.

[2016-09-21 19:15] #501 closed

[2016-09-21 19:41] marcoscaceres commented on #449
We need to write an email to the Web App Sec WG outlining the problem and maybe a solution. This impacts too many core web security things that I would be reluctant to include anything in our spec that is not first blessed by them.

[2016-09-22 04:19] marcoscaceres commented on #478
@RobDolinMS, consider it an unofficial strawperson proposal for now (Google has also made similar proposals in the past). However, certainly something we need tho - but page transitions will be something we will need to get the CSS working group to solve.

[2016-09-22 10:21] Cwiiis commented on #478
I haven't had time to work on it. I got some feedback about it, most of which I think I dealt with, and there was some interest internally to implement, but nothing came of it. You can see an incomplete shim of it demonstrated here: http://chrislord.net/files/mozilla/gaia-navigator/examples/

[2016-09-23 00:35] benfredwells commented on #501
Interesting that this just came up. We (Chrome) have been discussing this. We currently get something from `icons`, but would like to do something better.

We are tossing up two options - having some way of specifying splash screen images like this proposal, or having a splash screen url declared. With the url method the site could generate a page and the browser would probably grab a snapshot of

[2016-09-23 08:19] benfrancis commented on #501
Only that this has been discussed at great length before. See #9  and also #361, #372, #373 and #390.

I would personally recommend sticking with the icon and background colour.

[2016-09-26 08:04] marcoscaceres commented on #501
If need be, please reopen #9 to discuss further.

[2016-09-26 09:10] marcoscaceres commented on #478
@Cwiiis, maybe a good candidate to move to the WICG?

[2016-10-07 03:52] mgiuca opened #502 "Rename "install" event to "appinstalled" to avoid SW event name clash"
The Web App Manifest spec defines an event type [`"install"`](https://www.w3.org/TR/appmanifest/#oninstall-attribute) which is fired at the *window* object. The Service Workers spec defines an event type [`"install"`](https://www.w3.org/TR/service-workers/#service-worker-global-scope-install-event) which is fired at the `ServiceWorkerGlobalScope` object.

While these do not directly conflict (as t

[2016-10-07 04:01] marcoscaceres commented on #502
Good point. I'd be happy with "installapp" or "appinstalled" - "ed" because it's fired **after** the application has installed.

[2016-10-07 05:11] mgiuca commented on #502
If we decide to change it, what would be the process? (This is already implemented on Firefox isn't it?)

Having the "ed" suffix seems reasonable; in that case could we just have `"installed"`, or is that too confusing with SW? In that case, `"appinstalled"` seems like the best.

[2016-10-07 05:13] marcoscaceres commented on #502
We just prepare a PR. Basically just do a find/replace for the event name :)

It's pref'ed off right now, so no big deal... will take me a few minutes to update the Firefox implementation and associated tests.

It's still too close to SW, I think. Let's got with "appinstalled". I'll do that now.

[2016-10-07 05:37] #502 closed

[2016-10-10 07:54] marcoscaceres commented on #417
Ok, so we are going to try to standardize on Google's implementation. It's been shipping for a while, it's supported in Opera, and Samsung's browser.

Going to send it in parts.

[2016-10-10 09:54] anssiko commented on #417
Thanks @marcoscaceres, @kenchris should be happy to review the PR from our side.

[2016-10-11 04:09] marcoscaceres commented on #502
Sent rename patch for review:
https://bugzilla.mozilla.org/show_bug.cgi?id=1309099

Expect it to land in a week or so.

[2016-10-12 16:56] RobDolinMS commented on #161
@marcoscaceres Would you like me (or a colleague) to take a stab at a PR for [your proposal](https://github.com/w3c/manifest/issues/161#issuecomment-248489883)?

[2016-10-12 17:59] RobDolinMS opened #504 "Add Optional Opt-In for UA Default Transition"
This issue proposes adding an optional opt-in for a web app to request a UA show a default transition.  Something like:
`"transition_fallback": "auto";`

And the default (if no object is specified) would be equivalent to:
`"transition_fallback": "none";`

Many web apps will either not need transitions or will write their own code to handle transitions.

However, some web apps (which may start from

[2016-10-12 18:09] RobDolinMS commented on #478
After discussion with @Seksenov, I think we have a simpler solution and have proposed it in Issue #504

[2016-10-12 18:09] #478 closed

[2016-10-13 04:21] marcoscaceres commented on #161
@RobDolinMS, sure! That would be great! I'd suggest starting small tho, because integration with the service worker spec is potentially tricky (e.g., there might not be a client for the installation, etc.).

[2016-10-13 04:35] marcoscaceres commented on #504
@RobDolinMS, maybe just "auto" and "none" as the options ("none" being the default) - and "auto" being "let the UA choose based on what the platform provides".

I'd still like @mounirlamouri or @jakearchibald or someone from Google to chime in here as it requires OS integration... and I'm not sure Android currently supports this? (maybe it does, dunno?). Also, in #478 we discussed  using CSS for t

[2016-10-13 09:19] marcoscaceres commented on #417
Started WIP patch here: https://github.com/w3c/manifest/pull/506

It's way too drafty to comment on still... need to rework the whole install section, but let's get the API in place at least.

Trying to do the implementation at the same time in Gecko. Will also send that in parts. I have window.onbeforeinstallprompt implemented thus far... but not the actual BeforeInstallPrompt event itself.

[2016-10-13 22:59] benfredwells commented on #504
I assume 'platform' in this case is the browser itself not the OS. I.e. Chrome on windows would have to code up the transition, there wouldn't be anything we could get from windows to do it for us. Similarly Chrome on Android would also need to have code for the transition as the OS wouldn't provide anything.

Maybe others at Google will disagree but this isn't something I'm interesting in adding

[2016-10-14 00:35] marcoscaceres commented on #504
I have to concur with @benfredwells; this is also not something we would add to Firefox at this point (though I think we all strongly support the problem of page transitions this is trying to solve).

@RobDolinMS, I'd suggest "ms_" prefixing this initially in a Microsoft implementation while we work towards addressing this more generally in CSS.

[2016-10-14 07:08] marcoscaceres commented on #417
Ok, so  #506 revealed a couple of issues that we could address. This aim is to minimize impact on existing developer code... but the following would be a breaking change.

I'm wondering, can we make the design work more like this:

[code]

Key things that could change:

 1. get rid of .userChoice attribute on the event.
 1. define a new `interface PromptResult` that contains the user choice and ma

[2016-10-16 23:18] mgiuca commented on #417
There's a lot to unpack there. To specifically enumerate what you're proposing (from my reading of the example):

1. `prompt()` resolves only when the user makes a choice (whereas currently it resolves immediately).
2. `prompt()` returns the user's choice directly, so there is no need to request `userChoice` on the event (whereas currently it returns `void`).

I much prefer this. I only realised w

[2016-10-17 01:03] marcoscaceres commented on #417
Good point. If prompt becomes a sync call, then it simplifies things to:

[code]

[2016-10-17 01:07] marcoscaceres commented on #417
I don't think that dismiss would be a rejection, as it's not "exceptional" for the user to dismiss the install.  It just resolves to "dismissed".

[2016-10-17 01:27] marcoscaceres commented on #417
The thing that still bothers me about the overall design is that `.onappinstall` essentially equates to `ev.userChoice = "accepted"` - hence user choice is not really needed. I'm a little uncomfortable that we are revealing actual background processing details in the current design. For instance:

1. how long the UA takes to present the install prompt: time between prompt() called and prompt() pro

[2016-10-17 01:42] dominickng commented on #417
`.onappinstall` isn't necessarily the same as `ev.userChoice = "accepted"`. The user could accept the banner, but the app might fail to install for a bunch of reasons. WebAPKs are a good example of this, as is the bookmark app system which Chrome uses on desktop.

I hazily remember initially speccing prompt() as a synchronous method returning a bool, but it was suggested to make it a promise to al

[2016-10-17 01:50] mgiuca commented on #417
Is there any reason to have `prompt` return a value at all? Can it just be a void method (no Promise)?

If it isn't going to be a long-Promise (resolve when the user makes a choice), then there is really no reason for the app to do anything in response to its resolution. It doesn't have to be synchronous (i.e., the prompt can be shown after a message loop). But it could be a fire-and-forget, with

[2016-10-17 01:51] marcoscaceres commented on #417
I completely agree, but the fundamental question is: does the app need to know about these (system) failures? If so, what is the use case for them knowing? There is not much the application can do to recover.

If notifying the application of installation does have a valid use case, then we need to also handle the case where BIP is not involved... so we would need a `.onappinstallerror` or some suc

[2016-10-17 01:53] marcoscaceres commented on #417
I can't see why not.

Exactly. I would feel more comfortable with this.

Agree. Making it fire and forget would be better.

[2016-10-18 00:43] mgiuca commented on #417
I got some data from Chrome (Android, stable version 53) about beforeinstallprompt which I can share here:

- 0.026% of page loads get the `beforeinstallprompt` event (but note that this does not necessarily mean they have a listener registered).
- 19% of beforeinstallprompt events have `preventDefault` called.
  - That's surprisingly high.
  - Still, that's just 0.005% of page loads with `BeforeI

[2016-10-18 00:49] marcoscaceres commented on #417
Ok, let's work quickly to fix some of this before those numbers go up.

If possible, can we start by making "BIP" just a normal event and relocate .prompt() somewhere else?

[2016-10-18 00:50] marcoscaceres commented on #417
By normal event, I mean a "simple event" that just users the Event interface, but is cancellable.

[2016-10-18 00:50] marcoscaceres commented on #417
* uses

[2016-10-18 04:21] marcoscaceres commented on #417
So, there is a case where .prompt() can enter into an invalid state :(.

1. BIP is fired.
1. app calls .preventDefault();
1. app begins awaiting install blocking tasks to finish.
1. End-user chooses "add to homescreen" from browser's menu.
1. app calls .prompt()
1. IPC message sent to UI thread - browser discovers "install process in progress"
1. ??? Invalid state ??? .userChoice can't ever resolv

[2016-10-18 06:24] mgiuca commented on #417
For the public record: between your second-most and most recent messages, we had an offline discussion where we concluded that we'd try to change prompt() to a fire-and-forget (non-promise-based) interface, but that we wouldn't move it out of the BeforeInstallPromptEvent.

Responding to your most recent message: I spoke to Dom about this. He says that, in Chrome at least, the user-triggered add to

[2016-10-18 06:29] marcoscaceres commented on #417
I hadn't thought about queue'ing it. Although that's not great UX (user might ask, "Didn't I just install this?"), that's definitely a sensible solution.

[2016-10-18 07:17] mgiuca commented on #417
I think the chances of it happening are so remote that as long as we do something sensible, it doesn't necessarily have to be "great UX".

Furthermore, if we just queue it up, then it's indistinguishable (to the user) from the site simply deciding to call `prompt()` 100ms after they installed the app. Which is essentially just bad timing.

I think most sites using this will be calling `prompt()` i

[2016-10-19 06:50] marcoscaceres commented on #417
@mgiuca, @dominickng, do you have an opinion on the following situation:

[code]

That is, should we prevent calling .prompt() twice only after 1 successful call?

[2016-10-19 06:51] marcoscaceres commented on #417
Updated example code above.

[2016-10-19 07:01] mgiuca commented on #417
I think it should throw. Calling prompt should essentially un-set the preventDefault bit.

[2016-10-19 07:03] marcoscaceres commented on #417
Ok, will make it so you can only call it once - no matter what. I won't change the default prevented tho, but I have an internal flag that gets set.

[2016-10-19 07:18] mgiuca commented on #417
Ack.

[2016-10-19 08:13] marcoscaceres commented on #417
Ok, this is what is going in to the spec (as prose and IDL, obvs.). I've got a battery of about 100 test to go with it.

All, please review the final design.

[code]

[2016-10-19 08:25] mgiuca commented on #417
Wow, OK. I will have a proper look at that tomorrow. Thanks!

[2016-10-19 08:49] marcoscaceres commented on #417
@mgiuca, I've added the above to https://github.com/w3c/manifest/pull/506 - so it's easier to review. Also updated the variable names to match your suggestions from the PR (i.e., "promptOutcome" instead, etc.).

If anyone wants to play with it (Chrome Canary only, as it uses async/await):
https://rawgit.com/w3c/manifest/beforeinstallprompt/implementation/index.html

[2016-10-20 03:38] marcoscaceres commented on #417
Ok, spec text now matches reference implementation. However, I'm still bothered that `ev.userChoice` can be left unresolve in case of an error.

We have two options:

 1. We add a new enum value to AppBannerPromptOutcome, like "unknown".
 2. Or, maybe more correct, we call reject() on the `[[\userChoice]]` promise.

[2016-10-20 03:58] dominickng commented on #417
My initial thought is that rejecting the `userChoice` promise is the right way to go here. What particular error conditions were you thinking of for this? General issues installing the app once there is a definitive signal to proceed to installation?

[2016-10-20 04:15] marcoscaceres commented on #417
@dominickng, I think the rejections would only happen as a result of a bad call to prompt(). So I'm thinking of rejecting with the errors generated there.

[2016-10-20 04:25] marcoscaceres commented on #417
@dominickng, `prompt()` now basically looks like this:

[code]

[2016-10-20 04:27] dominickng commented on #417
Yes, that seems good to me. @mgiuca, did you have any thoughts?

[2016-10-20 04:35] marcoscaceres commented on #417
Made a fix to the code above. I changed last else in the chain to the following, instead:

[code]

[2016-10-20 04:38] mgiuca commented on #417
I think I prefer the old behaviour -- `userChoice` would be left unresolved in the case of a `prompt` error.

Leaving promises unresolved isn't a bad thing: it just means that the conditions to resolve them weren't met. I don't see a strong relation between a `prompt` error and `userChoice`; in fact you can still successfully make a choice after a prompt error. For example:

[code]

It would be ba

[2016-10-20 05:14] marcoscaceres commented on #417
@mgiuca, d'oh, I think then we had a miscommunication back in https://github.com/w3c/manifest/issues/417#issuecomment-254726542

I thought we had agreed that .prompt() can only be called once. If prompt() can be called more than once, then I agree that the userChoice promise cannot be resolved.

So, should we agree that this is ok:

[code]

[2016-10-20 05:19] mgiuca commented on #417
I meant that `prompt` can only be called once successfully. Calling `prompt` with an error should not set the didPrompt flag, IMHO.

If you do want to make it so calling it in error prevents you from calling it again (I won't strongly object), then I still think my second example above holds: if you call `prompt` in error, but then don't call `preventDefault`, you will still get a prompt, so `user

[2016-10-20 05:23] marcoscaceres commented on #417
@mgiuca, I agree. I'll make some modification to match the above.

[2016-10-20 05:36] marcoscaceres commented on #417
@mgiuca, I think then I need to turn `didPrompt` into a little state machine. The you can call `prompt()` as many times as you like after .preventDefault() - and those calls will silently be ignored:

[code]

[2016-10-20 06:19] marcoscaceres commented on #417
@mgiuca, @dominickng - ok, hopefully N-th time lucky :)

So, I think we actually do want to throw InvalidStateError if "prompting".  So this would be cover all cases discussed so far (tested with @mgiuca test above too).

[code]

[2016-10-20 06:22] marcoscaceres commented on #417
Sorry, pasted the wrong version ... repasted the one above.

[2016-10-20 07:05] mgiuca commented on #417
I'm not sure we need a state machine: the "prompting" and "done" states aren't both needed... they are indistinguishable except for the error message so we can merge them into one and are back with a Boolean again.

(Actually, it'd be nice to work defaultPrevented into a multi-state machine, but since it's a Boolean in the underlying platform, let's not.)

So prompt becomes:
[code]

And if the pro

[2016-10-20 07:39] marcoscaceres commented on #417
Yeah, you are right. I was over complicating it.

[2016-10-20 11:38] kenchris commented on #161
Any update on this?

[2016-10-20 12:20] marcoscaceres commented on #161
After we finish BIP I'll get onto it, unless the MS folks beat me to it... or do you want to get it started?

[2016-10-20 12:54] kenchris commented on #161
I can do it

[2016-10-25 11:03] mounirlamouri opened #508 "purpose: badge should be defined as default badge for Notifications API"
The `purpose` property is weakly defined. The only current value, `badge` is told to be for "where space constraints and/or color requirements differ from those of the application icon" but the characteristics of the icon are not known by the UA and the restrictions depend on the platform.

Shouldn't we define `badge` as the default icon for the `badge` property from the Notifications API unless o

[2016-10-25 11:04] mounirlamouri opened #509 "Bikeshedding: should 'purpose' be named 'kind'?"
I understand that `type` is already used for images but `purpose` is a very odd name. `kind` is used in some places in the HTML specification. Would that make more sense?

[2016-10-25 11:05] mounirlamouri opened #510 "Add splashscreen as a `purpose`"
If we give regarding the icon purpose/type/kind, maybe we should add splashscreen in there to help UA pick an image if it's meant to be used for the splashscreen?

[2016-10-25 11:05] mounirlamouri opened #511 "Parsing image's purpose is missing"
`Processing an array of images` is missing the steps to parse the purpose member.

[2016-10-25 12:40] kenchris commented on #510
I think that is a great idea. @marcoscaceres

[2016-10-25 12:40] kenchris commented on #509
kind if more like explaining what it is instead of what it is intended for. At least that is how I feel.

[2016-10-25 13:17] marcoscaceres commented on #509
I wanted to use "role", but a11y already own that... "purpose" was the closest synonym I could think of.

[2016-10-25 13:33] marcoscaceres commented on #510
I would prefer a separate member for splash screen. The "purpose" is supposed to be a hint.

[2016-10-25 13:33] marcoscaceres commented on #510
(I'm worried that some UAs will ignore the purpose and use the splash screen as the icon)

[2016-10-25 13:36] marcoscaceres commented on #509
Influence by: https://www.youtube.com/watch?v=wqzLoXjFT34

[2016-10-25 17:27] mounirlamouri commented on #510
Some UA build an icon to build the splash screen. This is what Chrome does. Having websites tell us which icon should be preferred could be useful.

[2016-10-25 17:31] mounirlamouri commented on #509
@marcoscaceres feel free to close this if you think it's not worth discussing more.

[2016-10-25 21:38] RobDolinMS commented on #498
This is addressed by #505

[2016-10-25 21:38] #498 closed

[2016-10-25 21:41] RobDolinMS opened #512 "Should the spec include a link to the Explainer?"
Could be as simple as a link near the end of the spec to: http://w3c.github.io/manifest/explainer.md

If others think this is a good idea, I'm glad to draft a PR.

[2016-10-25 22:28] RobDolinMS commented on #510
I was discussing this with @boyofgreen a few weeks ago and having a single array of images of various sizes (up to as big as a splash screen) may be preferable to having multiple arrays of images.

[2016-10-25 22:32] RobDolinMS commented on #509
I'm (personally) OK with "purpose."

If it's worth debating more, I have a weekly sync with other folks working on Edge and could ask for additional opinions.

[2016-10-25 22:41] RobDolinMS commented on #504
Updated proposal at top to match @marcoscaceres's suggestion of "auto" and "none" (with "none" being the default)

[2016-10-26 01:27] mgiuca commented on #512
I don't see the point, especially since it's a very minimal explainer. I think the explainer serves as a starting off point for making a spec; it shouldn't be part of the final product. If there is non-normative explanation of why things are done like this, those comments should be transferred into the intro section of the spec (but I think there is enough motivation there already).

[2016-10-26 08:21] alrra commented on #512
Directly linking to the [`explainer.md`](http://w3c.github.io/manifest/explainer.md) file is not a good idea ([Edge](https://cloud.githubusercontent.com/assets/1223565/19718186/e839cbb8-9b6c-11e6-9bc9-477429988a85.png) / [Firefox](https://cloud.githubusercontent.com/assets/1223565/19717283/80cc6ffc-9b68-11e6-80d6-a7a7c27c5804.png) will prompt to download it, while Chrome / Opera / Safari will just

[2016-10-26 10:16] marcoscaceres commented on #512
I tend to agree with @mgiuca that we should not link to it from the spec. The spec will likely hang around for a decade or more, and by then we will probably have long moved onto some new collaboration platform (sorry Github, still ❤️you.. but reality).

[2016-10-26 10:53] marcoscaceres commented on #504
@RobDolinMS see @jakearchibald's proposal:
https://github.com/jakearchibald/navigation-transitions/blob/master/README.md

Looks like it could address this use case really nicely!

[2016-10-26 12:07] davidmaxwaterman opened #1201 "user initiated 'uninstall' event"
I'm looking for clarification of how a user might 'uninstall' a Progressive Web App that has been installed on their home screen.

Use case :
1. A user has added a PWA to their home screen.
2. They want to regain storage space for some photos or whatever they want to take.
3. They decide they can do without this PWA and it's associated storage.
4. They're used to being able to uninstall apps so th

[2016-10-28 06:39] marcoscaceres commented on #417
@dominickng, @mgiuca, @mounirlamouri , I'm still a little bit confused by this part of the spec:

[code]

Because, you can immediately do:

[code]

Why don't we just treat such .prompt() calls as normal? So:

[code]

I'm probably missing something... but that would be nicer than throwing so many errors.

[2016-10-28 08:21] mgiuca commented on #417
Yeah I actually agree about that. I think the only argument for it is that you're *supposed* to use preventDefault-prompt as a pair to delay showing the banner. If you call prompt without preventDefault, it's essentially a no-op and I think we just put that error there because it's "nonsensical". But:

1. Just because something is a no-op doesn't mean it should throw an error, and
2. You can get a

[2016-10-31 09:31] marcoscaceres commented on #417
I'll make the change above, but need confirmation about removing the `.userChoice` attribute (as the spec is currently intertwined with that) - it's something we would prefer not to implement in Gecko.

Can I get an ok that `.userChoice` will get deprecated in Chrome?

[2016-10-31 11:00] mounirlamouri opened #513 "Processing the purpose member should return the same value in both error conditions"
Maybe that was on purpose (no pun intended) but it sounds fairly odd that `purpose` parsing will return `undefined` when the value isn't a string but a set with `"any"` if the value is a string but doesn't contain a known value.

I would suggest to do something similar to `icons` where the same value (empty array) is returned regardless of the type of errors. Here, we could return an empty set.

(

[2016-10-31 11:32] marcoscaceres commented on #513
Yeah, looks like I made a copy/pasta error there. Will fix.

[2016-10-31 12:26] mounirlamouri commented on #513
I'm happy to fix this. Do you have a preference on what the fix should look like?

[2016-10-31 12:53] marcoscaceres commented on #513
Should default to "any" when error or missing.

[2016-11-01 04:35] mgiuca commented on #417
I asked about this on the [Chrome bug tracker](https://bugs.chromium.org/p/chromium/issues/detail?id=658638#c17). I'm happy for it but I want to wait for Mounir's response.

[2016-11-02 04:02] marcoscaceres commented on #417
Ok, seems @mounirlamouri is ok with the deprecation. Updating spec and ref-implementation now...

[2016-11-02 06:32] mgiuca opened #514 "Should appinstalled / beforeinstallprompt fire on native app installation?"
Bit of a thorny issue that came up while implementing `appinstalled` in Chrome.

Background:

* Chrome's implementation of the `beforeinstallprompt` event (currently being specced in #506) fires the event whenever the web app *or* related app install banner is to be shown.
* The `BeforeInstallPromptEvent` object includes a `platforms` field, which lists the platform that the app is being installed

[2016-11-02 06:33] mgiuca commented on #514
@dominickng @mounirlamouri

[2016-11-02 06:40] marcoscaceres commented on #417
So, playing around with the updated implementation... I'm now wondering if we need to error on when `promp()`ting more than once at all?

Consider, a custom BIP that has the `userChoice` provided. This means that the UA can just resolve like this:

[code]

So you can call `.prompt()` as many times as you like. You always get the same outcome.

Now consider a real/trusted `BeforeInstallPromptEvent`

[2016-11-02 06:57] marcoscaceres commented on #514
So, the spec doesn't consider the scenario you mention above ... it's undefined behavior. What you are describing makes sense tho.

This worries me, because it might mean that Firefox, as a regular app, won't ever be able to support this (I would imagine this would require special privileges - but maybe not?).

We can add it to the UserResponseObject. It would be null when userChoice is "dismissed

[2016-11-02 07:18] mgiuca commented on #417
I see, so you're saying that you can call `prompt` many times and it will just return a bunch of promises, all of which get resolved at the same time?

Can't we just have prompt() always return the same promise? In effect, it just returns the userChoice promise that we used to have as an attribute. Then surely we don't need a queue.

I think the reason for that error is that if you call `prompt()`

[2016-11-02 07:35] mgiuca commented on #514
Yeah I thought it might be controversial.

Don't know why it's an array. I'll ask Dom tomorrow.

That's not ideal because it means you can't make a policy decision on whether to preventDefault based on the platform (since you only find out the platform after you prompt).

[2016-11-02 07:35] marcoscaceres commented on #417
Yep.

You are probably right - but I need to check what the WebIDL binding layer does. I thought the call would need to return a new object for some reason.

This one could just resolve with the results of whatever "Click install" was. That would still adhere to only being able to actually `prompt()` once: you just a promise that immediately resolves to whatever "Click install" resulted with.

[2016-11-02 07:41] mgiuca commented on #417
Yeah but it would maybe be a bit misleading to have it effectively fail silently. I don't feel super strongly about it.

[2016-11-02 08:01] marcoscaceres commented on #514
Ah, I was imagining a drop-down where you would be able to choose either "Web" or "Play Store".

What this is basically enabling is:

[code]

Is this really where we want to go? 😢

Basically, if `related_applications` doesn't include "web" and `prefer_related_applications` is true, then would it not disqualify it as a "progressive web app"?

[2016-11-02 08:20] marcoscaceres commented on #417
Ok, so got confirmation that it's fine to return the same promise from a method... I know, it sounds silly in hindsight that it would not be. Thanks @mgiuca for catching that out.

[2016-11-02 18:29] RobDolinMS commented on #509
@marcoscaceres Would you want to close this issue?

[2016-11-03 03:19] #511 closed

[2016-11-03 03:19] #513 closed

[2016-11-03 03:20] #509 closed

[2016-11-03 03:34] mgiuca commented on #514
@dominickng and I just had a chat about this. I think that behaviour would be bad but it's not something we can, or should, be specifically trying to stop. You can already prevent web app installation in favour of an Android app in Chrome (by e.g., not having a service worker but having a Play app in `related_applications`). So your example of the "evil" behaviour is already possible, and we aren'

[2016-11-03 04:30] marcoscaceres commented on #514
True.

Ok, so two question still remain:

1. Implementability: if a browser like Firefox wanted to support this, does Android expose such APIs whereby we can get the callback after referring the installation of a native app from the Play Store?
1. Support from other browser vendors: @RobDolinMS or @boyofgreen, would this be something Microsoft would be interested in?

[2016-11-03 04:36] dominickng commented on #514
I believe this is a first-party API on Android at the moment, and I'm not sure how likely it would be open it further. That's definitely a challenge here.

[2016-11-03 04:58] marcoscaceres commented on #510
@mounirlamouri, would still like "splashscreens" to be a separate member. You can then fallback to icons if it's missing. Otherwise, `icons` gets super messy.

[2016-11-03 05:21] mgiuca commented on #514
If that's the case then that's unfortunate. But it shouldn't change the intent behind this. I'd be concerned if we were discussing a feature that _can't be_ implemented without magic powers on Android (e.g. an "installPlayApp" API), but this is mostly informational -- we're delivering a message to the app to tell it: we're going to install the Android app, would you like to proceed with this? If a

[2016-11-03 15:24] RobDolinMS commented on #514
Responding to:

I'll send an email thread with other Microsoft/Edge folks on this question including (@BoyOfGreen, @Seksenov, et. al.) and comment back on this issue soon.

[2016-11-03 16:44] boyofgreen commented on #514
I don't see this being a problem for Microsoft/Edge as we  control both the store and the browser (much like the situation on chrome / android).  We always want to encourage apps so we would likely take advantage of this.  However I would agree with @marcoscaceres that this may disadvantage other browsers on our platforms.

[2016-11-04 02:58] marcoscaceres commented on #514
I'm told that we (Mozilla) have, in the past, put in place contracts to access privileged APIs with OS vendors. Given that, it might be possible for us to put this in the spec and let the business folks sort out API access down the line.

[2016-11-08 01:22] RobDolinMS opened #523 "Proposal: Add Optional Member for IARC Rating"
It may be useful for web apps to be able to optionally indicate their [IARC](https://www.globalratings.com/) rating.  I'm thinking this may be as simple as:

`"iarc_rating": "opaque_string",`

App stores participating in IARC include the Google Play Store, Windows Store, and Nintendo Store.

Locales covered by IARC include: Australia, Brazil, Germany, Europe (PEGI), and North America (ESRB)

For m

[2016-11-08 01:31] marcoscaceres commented on #523
This is a good suggestion, specially if stores are going to use it. @RobDolinMS, do you know if there is some way to verify the claim that the "iarc_rating" makes? Does IARC provide some means for the store to verify it (e.g., a token or something)?

[2016-11-10 07:16] marcoscaceres commented on #417
This is last call for review of BeforeInstallPromptEvent: https://github.com/w3c/manifest/pull/520/files

You can still comment after we merge, but prefer comments sooner rather than later so implementation can happen.

[2016-11-10 21:30] RobDolinMS opened #526 "Update references to W3C if available"
When reviewing #520, I noticed it includes a reference on line 3030 / 3148 to:
`https://dom.spec.whatwg.org/#concept-event-fire`

I suggest we update this to the equivalent in the W3C spec:
`http://www.w3.org/TR/domcore/#firing-events`

[2016-11-11 02:17] marcoscaceres commented on #526
Unfortunately, we can't reference W3C DOM because it's obsolete :( There is new behavior and security assurances (related to things being in the correct JS realm, etc.) in the WHATWG DOM spec that we rely on.

[2016-11-11 09:31] chaals commented on #526
Please make sure that issues are filed on those at https://github.com/w3c/dom

[2016-11-11 18:14] mounirlamouri commented on #510
@marcoscaceres was that a question? I've never been keen to have a `splashscreen` member. I'm not aware of plans for Chrome to use this. The benefit of using `purpose` on `icons` is that if a website would like one specific icon to show up in the UA-built splashscreen, they can express this.

[2016-11-11 18:16] mounirlamouri commented on #523
Why should the string be opaque?

[2016-11-14 09:16] #526 closed

[2016-11-15 08:41] marcoscaceres commented on #523
@RobDolinMS, I'm having trouble with the Global Ratings site... I can't seem to find the information about what their process is going to spit out. Is there a way of actually getting a listing of the ratings that can be produced? That would allow us to better understand the requirements for this member.

[2016-11-15 08:48] marcoscaceres commented on #510
@mounirlamouri, I understand the intent, but I'm still worried that it's super easy to screw up and that we are going to end up with a confusing long list of icons that mix badges, splashscreens, normal icons, and other things we add in the future.

I can understand why badges would be grouped with normal icons, but, as I've demonstrated elsewhere, splashscreen differ a lot from application icons

[2016-11-15 18:34] RobDolinMS opened #529 "Add info push notifications to extensions registry"
BACKGROUND
Looking for manifest files of popular websites, I noticed [quora.com's manifest](https://qsf.ec.quoracdn.net/-jsons.desktop_push_manifest.jsoncc40e313a4597c57.json) includes the following:
[code]

I suspect gcm_sender_id may be a vendor-specific extension possibly documented at: https://developers.google.com/cloud-messaging/chrome/client

If that is the case, I recommend we document it

[2016-11-15 19:00] patrickkettner commented on #529
That is the old chrome specific field for push notifications that is deprecated for standards based push (https://developers.google.com/web/updates/2015/03/push-notifications-on-the-open-web)

[2016-11-15 19:49] dominickng commented on #510
@mounirlamouri we have been getting feedback from devs that they would like more control over the splashscreen; having an explicit splashscreen member might be one way of accomplishing this. The actual functionality is something the Chrome installability team has been discussing without much advancement towards a consensus as of yet.

[2016-11-16 03:28] marcoscaceres commented on #529
@dret, do you want to document this one as deprecated/historical in the wiki?

[2016-11-17 04:24] RobDolinMS commented on #510
@dominickng Instead of having two arrays of images (icons[ ] and splash_screen[ ] ) what if there was one array of images and images could be labeled with something like a "purpose" of favicon, badge, splash screen, etc.?  Would that satisfy your scenario?  /cc @marcoscaceres @mounirlamouri

[2016-11-17 04:26] marcoscaceres commented on #510
@RobDolinMS, if I understand correctly, that's what @mounirlamouri is also proposing.  I'm supportive of doing that, but would also like the separate `splashscreens` member for the reasons I outlined above.

[2016-11-17 08:25] ericelliott commented on #510
Right now we have an already gigantic array of `icons`. Splash screens obviously don't fall into that category in my mind.

**If we can avoid any breaking change to the existing `icons` member, that would be great.** The benefits of PWAs are hard to resist. Companies are already realizing HUGE improvements in app install & activation rates, along with dramatic reductions in cost per user acquisiti

[2016-11-17 15:30] boyofgreen commented on #510
I am leaning towards a separate group as well. I really like "purpose" with icons, but I would never want to see a splash screen used as an icon or tile by accident.

[2016-11-18 07:04] marcoscaceres commented on #510
Ok, I've put together a proposal at:
https://github.com/w3c/manifest/pull/530

As I argued already, I'm not a huge fan of "splashscreen" as a "purpose", but this would satisfy everyone's needs.

[2016-11-18 13:48] kenchris commented on #510
I would like to understand what users needs really are?

- Different imagery than icons (then splashscreens would be more appropriate)
- More control than icons and background color?
- Control over text? like whether to show text or not (UA decides default?)
- Special considerations for splash screens on desktop (Would like MS input here)

[2016-11-18 14:50] marcoscaceres commented on #510
Yes. Easy to see examples of this if you open a few native apps on your phone.

Yes. As above.

Not sure what text you are referring to here? But I think no.

Dunno. But yes, MS's input would be great.

[2016-11-18 15:21] kenchris commented on #510
PWAs on Android have the name of the app, like "The New York Times" on the splash screen.

Google apps on the other hand often have a Google logo (secondary image)

[2016-11-21 02:49] marcoscaceres commented on #510
Again, this is UA decision on the part of Google (which is wonderful, but still... Chrome specific... other vendors may choose a different display).

Yeah, there will be variance... a long with the million other apps out there and the way they do this.

[2016-11-21 02:50] marcoscaceres commented on #510
s/display/composition (text, image, image position, image size, time to show the image, etc.)

[2016-11-22 07:14] mgiuca commented on #417
Hi Marcos,

I spoke with Owen and Alex on Friday and we have come to an agreement that we can continue with the beforeinstallprompt API mostly as it is now (in #520), but with a few wording changes to the spec to allow UAs more freedom to experiment and change their UI.

Let me summarize what we've been talking about: we have some concern that our UI is not working; feedback from developers indica

[2016-11-22 07:48] marcoscaceres commented on #417
I need to give this more thought... but my initial reaction is that calling prompt() multiple times or firing multiple events doesn't feel right.

Rough sketch here, if we were to keep backwards compat with current Chrome implementation - but actually just give developers what they are asking for:

[code]

[2016-11-23 03:30] mgiuca commented on #417
It sounds like you're suggesting we have _both_ the global method and the existing beforeinstallprompt event.

So in the reprompt case, you're saying that we would only fire BIP once, but then you could call `navigator.requestInstallPrompt` many times even after the user has cancelled the first one? It just seems like `bipe.prompt()` is going to be redundant, so if we spec both, we might end up es

[2016-11-23 05:24] marcoscaceres commented on #417
Yes... for backwards compat. I hadn't thought this through...

Yeah, and then we can rate limit, etc.

Yeah, essentially, bipe.prompt() would have just called .requestInstallPrompt().

Yeah, but it would allow for a gradual phase out of bipe: we (browsers) make no guarantees that a site will continue to meet the criteria for an automated BIPE to be fired. Over time, we could essentially get that n

[2016-11-23 06:01] marcoscaceres commented on #417
To be clear - I think this is what we want:

[code]

[2016-11-23 07:22] mgiuca commented on #417
OK. I remember Alex had an objection to the global method -- I don't remember whether it was just due to churn or if there was an actual objection too. I'll ask him again. If we have both APIs available that should be better??

[2016-12-01 01:11] RobDolinMS commented on #523
@marcoscaceres I have accounts with the Apple, Google, and Microsoft app stores.  I'll try to work through the flows and dig into this soon.  This should also enable me to answer @mounirlamouri's question about why the string might be opaque.

[2016-12-01 01:17] RobDolinMS commented on #529
@marcoscaceres It looks like @dret works for CA Technologies.  Did you possibly mean to assign this to someone from Google or has @dret been taking point on documenting extensions?

[2016-12-01 01:36] dret commented on #529
i am indeed the one who should be doing this. still in my overflowing inbox. stay tuned!

[2016-12-01 01:38] dret commented on #529
seems like i cannot assign this issue to myself. is that a lack of repo access rights or is the repo set up so that it does not support assignments? if the former, could somebody with sufficient powers please assign this issue to me? thanks!

[2016-12-01 01:45] marcoscaceres commented on #529
Sorry, my bad! Will send you an invite to the repo.

[2016-12-01 01:50] marcoscaceres commented on #529
Sent. Rob, also sent you an invite so we can assign you to things.

[2016-12-01 02:02] RobDolinMS commented on #504
Thanks @marcoscaceres.  @jakearchibald's [Navigation Transitions proposal](https://github.com/jakearchibald/navigation-transitions/blob/master/README.md) looks really cool, but I'm not sure it solves the problem that me and colleagues are trying to address.

Situation: Developer wants to have a minimum viable product (MVP) PWA by adding a web app manifest to an existing website that scales with sc

[2016-12-01 02:14] RobDolinMS commented on #449
Below are my quick thoughts on an email to the Web App Sec WG.  I'll clean this up based on feedback.  Thanks--
--Rob

TO: Web App Sec WG
FR: Rob Dolin

Dear Web App Security WG members,

I'm writing on behalf of a number of W3C members working on the W3C Web App Manifest spec.  (http://www.w3.org/TR/appmanifest/)

We have two use cases where web app developers want to indicate a web app includes

[2016-12-01 09:12] kenchris commented on #504
This sounds a bit like a temporary features and something that will go away with time. Maybe it should be a vendor specific extension for the time being? Chaser dots, hour glass already sounds very platform specific

[2016-12-01 17:09] RobDolinMS commented on #526
Thanks @chaals.  Issue is now opened: https://github.com/w3c/dom/issues/10

[2016-12-02 03:08] dret commented on #529
On 2016-11-30 17:45, Marcos Cáceres wrote:

thanks, now assigning the issue worked.

[2016-12-02 22:34] newschapmj1 opened #531 "Minor typo in explainer.md"
Interaction with Web _Cralwers_

[2016-12-02 22:50] RobDolinMS commented on #531
Thanks @newschapmj1.  PR #532 should fix this.

If you agree, please close.

[2016-12-06 01:14] svdoever opened #534 "Is it possible for a progressive web app to embed web manifest into html page?"
I would like to have a link to the manifest file in my index.html by embedding it as below, but seams not to be supported. I there a possibility to embed the manifest description in the web page?

[code]

[2016-12-06 01:15] svdoever opened #535 "Is it possible to load the progressive web app manifest file from authenticated site?"
I'm having the progressive web app index.html page and assets in a SharePoint document library. I need to authenticate when accessing the index.html page. But the manifest.json file as linked as <link rel="manifest" href="manifest.json.txt"> does not have the required authentication cookie when requested from the index.html page. Note that SharePoint does not serve .jon files, that is why it ends

[2016-12-06 01:26] RobDolinMS commented on #534
@svdoever Can you explain the use case for something like this?

[2016-12-06 01:51] RobDolinMS commented on #449
@marcoscaceres @benfrancis @kenchris @boyofgreen - Any feedback on the draft email to Web App Sec WG or looks OK to send?

[2016-12-06 12:46] marcoscaceres commented on #534
@svdoever, that should absolutely work. Sounds like a bug in Chrome.

[2016-12-06 12:49] marcoscaceres commented on #535
This also sounds like a bug in Chrome: loading manifest should send the same information along as any other `<link>`ed resource.

[2016-12-06 13:00] svdoever commented on #534
@RobDolinMS See also issue https://github.com/w3c/manifest/issues/535. My case is that I want to use a SharePoint document library to host my PWA, so I can execute my PWA in the context of a SharePoint site. See also my blogpost series at http://weblogs.asp.net/soever. On the request for the manifest the authentication cookie is not passed along on the request, so it can't read it from SharePoint.

[2016-12-06 13:51] marcoscaceres commented on #534
Fwiw, we discussed this use case when we first started working on the spec. The solution showed here is supposed to work per spec.

[2016-12-06 14:12] delapuente opened #536 "The new explainer ties the manifest with the concept of install ability"
The manifest is mainly metadata, put together to save writing repetitive meta tags. These properties provide some kind of identity to a set of web resources (property `scope`) in an origin.

The metadata can be used to improve discoverability through "Add to home screen", "Install site", "Ambient badge" or other instances of the _install_ feature, but this is not the only use for metadata. Neverth

[2016-12-06 14:24] marcoscaceres commented on #536
Until the situation changes (i.e., other real products apart from Chrome start using it differently or in new and interesting ways), this remains the primary focus of the explainer.

[2016-12-06 14:24] delapuente commented on #536
The manifest is mainly metadata, put together to save writing repetitive meta tags. These properties provide some kind of identity to a set of web resources (property `scope`) in an origin.

The metadata can be used to improve discoverability through "Add to home screen", "Install site", "Ambient badge" or other instances of the _install_ feature, but this is not the only use for metadata. Neverth

[2016-12-06 14:33] delapuente commented on #536
@marcoscaceres but this is not the main goal for the manifest. This is OK to explain the [_installable web applications_ section](https://www.w3.org/TR/appmanifest/#installable-web-applications) but not to be the explainer for all the standard.

 See my comments before (I click the send button without providing a detailed explanation).

[2016-12-06 14:45] marcoscaceres commented on #536
As editor of the spec for last 3+ years or so, Im pretty sure that it is the primary focus 😊 We may find new uses for it, but no real ones exist yet (in real shipping products). Once those products do appear, we should totally update the explainer. Otherwise, we would be doing a deservice to devs by claiming the manifest will do things for them that it won't realistically do.

[2016-12-06 15:11] svdoever commented on #534
When requesting the home page of the app it shows the request link, but can't show info:

<img width="1440" alt="pwa request of index aspx - manifest shows no data" src="https://cloud.githubusercontent.com/assets/246842/20930526/f6fb227e-bbcd-11e6-80e0-92eca5a70f75.png">

The request headers of index.aspx (and all other loaded artifacts like images) show the cookie with authentication information:

[2016-12-06 15:36] delapuente commented on #536
According to the abstract:

Also, the standard gives 2 (out of 14) specific sections to _installation_ ([Installable web applications](https://www.w3.org/TR/appmanifest/#installable-web-applications) and [Installation events](https://www.w3.org/TR/appmanifest/#installation-events)).

Moreover, the manifest can be used without installation in mind. Some partners have used `theme_color` or `backgrou

[2016-12-06 21:52] RobDolinMS commented on #536
In addition to installability, another use of the manifest MIGHT be as a signal of relevance for search engines.  If a web developer invests in a rich/high-quality web app manifest, it may be an indication of the general quality of the website.

Since search engine algorithms are often proprietary, I'm not sure if folks from Baidu, DuckDuckGo, Google, Microsoft, Yahoo, Yandex, etc. would be free t

[2016-12-06 21:55] RobDolinMS commented on #535
@svdoever Building on @marcoscaceres's suggestion, would you please try testing in Edge, Internet Explorer, and/or Firefox and let folks know if the issue can be reproduced in multiple web browsers.

[2016-12-06 22:21] RobDolinMS commented on #534
In @svdoever's [comment](https://github.com/w3c/manifest/issues/534#issuecomment-265143898):

I found this link: https://support.google.com/chrome/answer/95315?hl=en but @mounirlamouri may be able to suggest a good place to report the bug in the way Chrome fetches web app manifests.

[2016-12-07 02:34] dominickng commented on #535
I believe that you must specify crossOrigin="use-credentials" in the manifest link tag to allow the manifest fetch to use cookies and credentials in Chrome.

[2016-12-07 06:42] RobDolinMS commented on #531
Since PR #532 has now been merged, I'm closing this issue.

Thanks for raising this @newschapmj1.  If the PR does not resolve, please re-open the issue.

[2016-12-07 06:42] #531 closed

[2016-12-07 06:50] RobDolinMS commented on #523
Responding to @mounirlamouri's question:

My understanding is that there are a number of different ratings systems (see: "Rating authorities & descriptions" in https://support.google.com/googleplay/android-developer/answer/188189.)  I THINK that IARC provides an opaque identifier for the app in the IARC system rather than a specific rating value (or array of rating values)

Such a model would also

[2016-12-07 16:59] svdoever commented on #535
@dominickng you are a hero! crossOrigin="use-credentials" did the job!

[2016-12-07 17:02] svdoever commented on #534
@RobDolinMS thanks for the link, i will report it there. In the mean time <link rel="manifest" href="manifest.json.txt" crossOrigin="use-credentials"> saved me to load the manifest from a site with authentication.

[2016-12-08 00:17] dominickng commented on #535
Closing as fixed. :)

[2016-12-08 00:25] marcoscaceres commented on #535
Thanks @dominickng! My bad for assuming it was a bug in Chrome.

[2016-12-08 02:52] marcoscaceres commented on #449
@RobDolinMS, I think it's ok to send to kick off the discussion. If possible, you might want to include some real websites that exhibit this need. @boyofgreen, do you recall some? I've found some in the past.

[2016-12-11 13:40] svdoever commented on #535
I still think that all hrefs to same domain should get the authentication headers passed through... other assets can be loaded without the crossOrigin property.

[2016-12-14 15:07] delapuente commented on #523
If there are more than one, it would be better to include a `rating` key as an array of objects specifying rating system and string and make it extensible.

[2016-12-14 15:51] delapuente commented on #514
Folks, I truly understand your motivations regarding your specific platforms but this does not make the Web platform more competitive. On the contrary, you are including it to benefit native apps and you know it:

I think delegating in the _business folks_ is an error. That prevents emerging / future browsers to access the same capabilities in the Web platform.

[2016-12-14 18:54] delapuente commented on #510
My 2 cents. Provide a `splashscreen` member not limited to icons to provide full control over the splashscreen experience and also allow the value `splashscreen` in `purpose` as a hint for those browsers building the splashscreen from the `icons` array.

[2016-12-14 18:57] delapuente commented on #508
Perhaps it's better to rename `badge` to `simple` or `flat` to align the term with the definition and not to tie our semantics with an specific purpose.

[2016-12-14 19:44] delapuente commented on #479
I think service workers are more suitable to do this. Perhaps not with the `fetch` event but with [`navigation`](https://github.com/w3c/ServiceWorker/issues/993#issuecomment-255329512). Let's open an [issue](https://github.com/w3c/manifest/issues/479) there...

[2016-12-14 20:22] delapuente commented on #449
I like the `stay_in_app` idea too but I would rename it to `stay_in_context`.

[2016-12-15 02:24] mgiuca commented on #514
This is certainly a concern, thanks for raising it.

However, really we're not talking about adding any new capabilities to the web to enhance native apps. We're just talking about notifying websites when their corresponding native app is installed, so that they can understand how users are using their different apps and also control the experience to avoid duplicating UI work (e.g., not showing a

[2016-12-15 13:07] delapuente commented on #514
What about providing an API to ask if one of the `related_applications` is already installed?

[2016-12-15 15:27] duanyao commented on #479
Native applications usually use file lock or named pipe to achieve this purpuse, so I think the web need similar mechanism. In one of my project, we use `storage`  event of `localStorage` to implement a poor man's lock mechanism.

Some previous discussion:

https://lists.w3.org/Archives/Public/public-webapps/2015JulSep/0151.html
https://lists.w3.org/Archives/Public/public-whatwg-archive/2009Sep/02

[2016-12-15 23:08] mgiuca commented on #514
We are working on that too ([`getInstalledRelatedApps`](https://github.com/WICG/get-installed-related-apps)), but I think it also makes sense to have these come up as events when they are installed.

[2016-12-16 16:45] pkotwicz opened #538 "The list of known Web Manifest platform values is confusing"
The list of known Web Manifest platform values is confusing. https://github.com/w3c/manifest/wiki/Platforms list only "play"

https://www.w3.org/TR/appmanifest/#purpose-member uses an example with platform="android"
https://www.w3.org/TR/appmanifest/#dfn-application-object uses an example with platform="play"

I suggest having two separate lists of platform values one for the "Image Object" and on

[2016-12-16 19:35] RByers commented on #538
Note that this is intentionally NOT part of the spec - it's implementation defined with the WG maintaining a wiki that implementors can just update to reflect the status of their implementation.  I suggest you just edit the wiki to say whatever you think best reflects your implementation in Chrome Android :-)

[2016-12-16 19:36] RByers commented on #538
Oh but yeah the spec examples should probably be consistent with real implementations too :-)

[2016-12-19 02:06] pkotwicz commented on #538
I suggest clarifying the green Note in https://www.w3.org/TR/appmanifest/#platform-member or the https://github.com/w3c/manifest/wiki/Platforms page to clearly state that the supported platforms for the "Image Object" and the "Application Object" are different

Current state of Chrome for Android:
Application Object -> Only "play" platform is supported
Image Object -> platform attribute ignored (n

[2016-12-19 07:14] marcoscaceres commented on #538
We (Mozilla) don't currently do anything with" platform". Tho it would be great if Google would be consistent with names, as we might also need to rely on them 😉

[2016-12-19 09:23] kenchris commented on #538
Something like

[code]

[2016-12-20 08:28] marcoscaceres commented on #479
@delapuente, can you check the link to the SW issue? It seems to point back here.

[2016-12-20 08:53] leolux commented on #479
Github automatically generated link in to the issue "Consider providing `navigation` event #1028"
which is https://github.com/w3c/ServiceWorker/issues/1028

[2016-12-23 11:47] Huxpro opened #539 "Relationship between nestedly scoped web app manifests?"
There is an explicit section [match-service-worker-registration](https://w3c.github.io/ServiceWorker/#match-service-worker-registration) defining how nestedly scoped service workers work, where a SW with longest scope_url would "override" all the others:

But of web app manifest, how nestedly scoped web app (manifest) effect with each other? Taking `/` and `/sub-app/` as an example, is the one wit

[2016-12-30 00:10] isonmad commented on #481
Not sure if this should be a separate bug, but I noticed that too. It got split into initiator+destination in August 2015, so that step in the manifest spec makes no sense anymore. https://github.com/whatwg/fetch/commit/d2208faa939998cf56bb08a724cd8d4590afea47 https://github.com/whatwg/fetch/issues/93

[2017-01-04 00:12] RobDolinMS commented on #539
This is the first I'm hearing of potentially nested manifests.

Is this a theoretical question or are there examples of sites that implement this functionality?  Are there web browsers / user agents that support such functionality?

Considering a complex web app manifest is still a relatively small JSON file with around a dozen top-level members, I wonder how much demand there is for something lik

[2017-01-10 07:04] Huxpro commented on #539
Well, let's take Alibaba as a example.
You might have heard about Alibaba's Taobao.com? The biggest e-commerce site of China.

The URL of Taobao mobile web app is `h5.m.taobao.com/`;
In the meantime,  a separate web app named AliTrip is under `h5.m.taobao.com/trip/home/` ;
Moreover, some sub-apps of Alitrip are under `h5.m.taobao.com/trip/whatever/` ;

What if Taobao and Alitrip want to build thei

[2017-01-10 07:16] kenchris commented on #539
That sounds a bit like Android apps being able to add multiple different home screen icons (still only one icon in launcher) for shortcuts into the apps, like for chats with a specific friends, weather for Google search, my apps for Google Play etc

[2017-01-10 07:18] kenchris commented on #539
@Paul_Kinlan ^

[2017-01-17 05:07] marcoscaceres commented on #536
I'm wondering if this actually works tho (i.e., the values are actually applied without installation). I honestly don't know.

Again, I'm not disagreeing: I just don't want to set unrealistic expectations and then for people to complain to the Chrome team when their implementation doesn't do certain things (e.g., apply `theme_color`).

[2017-01-18 19:16] RobDolinMS commented on #504
After discussing with multiple stakeholders, we can do this via an extension.

[2017-01-18 19:16] #504 closed

[2017-01-18 22:01] RobDolinMS commented on #539
This seems somewhat similar to the challenge(s) described with multiple scopes in #449

In the case @Huxpro [describes](https://github.com/w3c/manifest/issues/539#issuecomment-271501844), I'm thinking:
* Taobao PWA's manifest might use:
[code]
* AliTrip PWA's manifest might use:
[code]
* AliTrip "sub-app" PWA's manifest might use:
[code]
If there was shared content or a shared log-in page that res

[2017-01-19 00:33] RobDolinMS opened #541 "Tools for Web App Manifests"
Has anyone worked on any tooling for web app manifests?

For example, do we have anything that could take a URL to a web app manifest and return which members are present?

Or, do we have anything that could take a list of URLs (CSV file?) and output the URLs of web app manifests for each URL in the CSV?

[2017-01-19 00:35] marcoscaceres commented on #541
I've got code that does that.

[2017-01-19 00:35] marcoscaceres commented on #541
And for this... :)

[2017-01-19 01:56] marcoscaceres commented on #541
@RobDolinMS, if you email me, we can set something up. The repo I have for that code is private, ATM... but happy to share the tooling and you are free to use it however you want.

[2017-01-19 01:56] #541 closed

[2017-01-19 15:35] Huxpro commented on #539
@RobDolinMS  Yep, glad to see the discussion!

I think the feature I mainly requested is pretty similar to

but focus on paths instead of subdomains. If we take something similar to the proposal of `exclude` from @benfrancis the manifests might look like:

- Taobao PWA's manifest might use:

[code]

- AliTrip PWA's manifest might use:

[code]

- AliTrip "sub-app" PWA's manifest might use:

[code]

[2017-01-19 15:54] Huxpro commented on #539
But It is still kinda verbose and is slightly different from subdomains' issues cuz the path could be nested. Thus I do think taking advantages of allowing overriding might solve problems better.

For example, we could define some override rules like [service workers](https://w3c.github.io/ServiceWorker/#match-service-worker-registration): the manifest from longer path (a.k.a **subManifest**) alwa

[2017-01-19 16:05] Huxpro commented on #449
Loving the `stay_in_app` idea whatever the name is.
Loving the principle that do not break backwards compatibility.
Loving the idea of Chrome Custom tabs for "http" (or any URL from unbounded PWA IMO).

FWIW I really want to introduce the inheritance power to manifest cuz it solve many problems mentioned by @benfrancis well. Please checkout #539

[2017-01-23 14:16] anssiko opened #542 "Duplicate member names with SW"
We have some duplicate definitions:

[code]

To address these dupes, after discussing with @kenchris, I'd suggest we rename the SW-specific concepts uniquely since they're not the same as the ones initially defined in the manifest spec. We can keep the JSON property names intact if needed for compatibility with shipping implementations.

This is how the members defined in the manifest map to the c

[2017-01-24 10:37] anssiko commented on #161
A fix landed in #507, closing this issue.

Opened #542 to track a related issue.

[2017-01-24 10:37] #161 closed

[2017-01-25 06:11] marcoscaceres commented on #535
I need to check what HTML says. Ideally, I'd like to just follow whatever it says to do wrt loading resources from link relationships.

[2017-01-27 00:46] #492 closed

[2017-01-27 03:41] marcoscaceres commented on #508
Yeah, something like that could work @delapuente ... we should all also check with @daleharvey on the Gecko side, as he is currently implementing the icons stuff and knows the Android APIs well.

[2017-01-31 07:54] anssiko commented on #542
@marcoscaceres fixed this with https://github.com/w3c/manifest/commit/83bfb5b6f1d5512b272fb8347c7433523b8d2c4f

Thanks!

[2017-01-31 07:54] #542 closed

[2017-02-06 14:56] kenchris opened #549 "unbounded check in navigation should check origin"
```If scopeURL is undefined (i.e., it is unbounded because of an error or it was not declared in the manifest), return true.```

They should still be same origin.

[2017-02-06 14:59] kenchris opened #550 "Make unbounded navigation scope less broad"
Check: https://bugs.chromium.org/p/chromium/issues/detail?id=688888

We don't necessarily want, say ```"start_url": "https://cnet.com/technology/"``` turn all of cnet.com into the PWA because scope is undeclared. We should probably restrict to closest surdir.

[2017-02-06 15:52] pkotwicz commented on #550
Chrome currently sets the scope to the closest subdirectory if the scope is not defined.
For instance:
start_url
https://www.example.com/subdir/index.html
default scope
https://www.example.com/subdir/

start_url
https://www.example.com/subdir/?q=1
default scope
https://www.example.com/subdir/

start_url
https://www.example.com/start
default scope
https://www.example.com/

[2017-02-06 16:00] kenchris commented on #550
Currently this is actually defined to be relative to the location of the manifest and not the start_url. I guess that is a discussion that we need to have

@RobDolinMS @Paul_Kinlan @slightlyoff

[2017-02-06 16:54] pkotwicz commented on #550
kenchris:

For the sake of clarity:
Chrome currently uses the manifest URL as the base URL if the scope URL is specified. Thus if the Web Manifest specifies:
start_url="https://www.example.com/subdir/deeper/even_deeper/index.html"
manifest_url="https://www.example.com/subdir/manifest.json"
scope="deeper"

The resolved scope is
"https://www.example.com/subdir/deeper/"

I think that you are suggesti

[2017-02-06 17:08] pkotwicz opened #551 "scope="../" should be invalid"
From https://crbug.com/688889

When a user adds a page which contains a Web Manifest to the homescreen in Chrome all of the pages within the Web Manifests' scope get special treatment.

It is currently valid for a web manifest in http://rootsweb.ancestry.com/~peter/manifest.json to have scope="../"
In my opinion this is suboptimal because this would apply the special treatment specified by http://

[2017-02-06 17:29] kenchris commented on #550
Right with scope declared

[code]

Without currently be would be unbounded, which means that the within-scope algorithm will return true (for same origin - just filed an issue about that)

Thus scope would become ```"/"```. That is how it is specced currently AFAICT.

My idea was to have the default scope be ```"."``` meaning that it would resolve like this:

[code]

Currently scope is never relat

[2017-02-06 17:33] kenchris commented on #551
That on the other hand kind of requires having the manifest file live in the root. I guess that might be OK, but I have seem multiple examples where that was not the case (To be honest, most of these were for sites using favicon generators).

We haven't told people to keep the manifest in the app root (not necessarily domain root!) so would be nice to get the input from @Paul_Kinlan .

Or does it

[2017-02-08 01:03] RobDolinMS commented on #551
There are a number of cases where an app may want to support multiple scopes (see #449.)

To address @pkotwicz's concern, what about:
the (primary) "scope" should be within the same directory as the manifest, but allow for "additional_scopes" to be more broad; possibly with limitation on how these could intercept navigations.

[2017-02-08 09:28] kenchris commented on #551
I think it is nice to be a bit flexible and not having to have the manifest file in the root. I talked to @PaulKinlan and as far as I understood, he agrees with me.

For solving the case where you are not the owner of the domain, I think we could allow the domain some power to restrict what others can use as scope, something like the robots.txt to ignore seach engines, we might be able to have a /

[2017-02-08 10:15] kenchris commented on #551
```/.well-known/manifest-policy.json``` could list paths from root which are acting like scope borders, like

E.g. for https://github.com/:

https://github.com/.well-known/manifest-policy.json contains ```"scope_borders": ["/"]```, which means e.g. that the widest scope of https://github.com/kenchris/manifest.json  would be https://github.com/kenchris/ etc

Similarly for ```"scope_borders": ["/sit

[2017-02-08 10:30] kenchris opened #552 "Make start_url relative to scope and not manifest location"
When no scope is declared, start_url would be relative to manifest location as that then would serve as default scope (ie. default scope would be ".").

This seems to follow more or less what the Chrome WebAPK implementation is doing. @PaulKinlan

[2017-02-08 11:11] PaulKinlan commented on #551
What @pkotwicz describes is the exact challenges that Service Worker also had for their scope. I know the two are different, but given that the scope affects the navigational context, the app gets special privileges not normally afforded to web apps (URL interception in particular).

It gets a little harder because the location of the manifest could reasonably be on a CDN and the manifest scope pr

[2017-02-08 11:27] kenchris commented on #551
1) We are defining things inside a manifest which is in one location, so making things relative to that location makes sense (like for any HTML file etc). That is how it is defined today, thus icons and start_url are relative to manifest path.

2) As there is a strong relation between scope and start_url (the latter has to be within scope), it would make sense to divert from the above and let star

[2017-02-08 11:37] kenchris commented on #551
So the way it works today (as specced):

Every single URL within the manifest file is relative to the location of that file (like it would be in a JS, HTML or CSS file)

|  **manifest url** | **start_url** | **scope attr** | **calculated scope** | **caluclated start_url** |
|  ------ | ------ | ------ | ------ | ------ | ------ |
|  /tech-today/manifest.json | ./index.html | undefined | / | /tech-

[2017-02-08 23:16] pkotwicz commented on #551
- It feels like the ideal solution would be disallow scopes which are wider than the manifest directory. (Scope="../" would be illegal). Chrome disallows registering a service worker whose scope is larger than the directory containing the page that the service worker is registered from (I tested with https://gauntface.github.io/simple-push-demo/)
- Supporting multiple scopes in the Web Manifest is

[2017-02-09 09:43] kenchris commented on #551
Yes, the additional scopes somehow would need to whitelist the manifest who is referring to them.

One way could be

In https://mysite.com/manifest.json, have:

[code]

Then in https://otherofmysites.com/manifest.json, have:

[code]

Adding "owner" to a manifest means that it will refer to another manifest file as the data source for adding to homescreen, and only a few of the properties will be u

[2017-02-09 09:46] kenchris commented on #449
This is my suggestion. The additional scopes would somehow need to whitelist the manifest who is referring to them.

1. We want some kind of whitelisting
2. We want to be able to do "add to home screen" from the additional scopes and use the info of the main manifest.json

One way could be

In https://mysite.com/manifest.json, have:

[code]

Then in https://otherofmysites.com/manifest.json, have:

[2017-02-09 23:32] RobDolinMS opened #553 "Simple Example and Complex Example"
I've noticed some manifest members are not included in our current example.

I'm thinking we should have two examples:
* A simple example with a small set of the most common fields (ex: name, icons, etc.)
* A complex example with a complete (or near complete) set of all fields (ex: prefer_related_applications, etc.)

If folks agree, please comment and I'm glad to draft a PR.  /cc @marcoscaceres @k

[2017-02-10 01:10] marcoscaceres commented on #553
So, what's key to remember is that people are coming to the spec and copy/pasting whatever we put at the top there - so we need be really careful. This burnt us already with `density`. What we should maybe do is have an Appendix with more examples.

Some things are quite complex (e.g., `scope`)  so we need to add more detailed examples for those. Same with `prefer_related_applications` and friends

[2017-02-10 08:31] anssiko commented on #553
+1 to what @marcoscaceres said. Make sure the first example people come up with in the spec includes only members that are considered stable (=are shipping widely). Put more complete example(s) in appendix with a big bold warning that developers should not copy directly given the examples contain features that might change out from under them in incompatible ways (e.g. adapting the beautiful warni

[2017-02-10 14:01] xxyzzzq opened #554 "Should the scope terminate by "/"?"
The step 3 of "within scope algorithm" says:

Suppose the `scope` is "https://example.com/foo", and `target` is "https://example.com/foobar.html", it is within scope. Is this WAI?

[2017-02-10 23:43] RobDolinMS commented on #553
Thanks guys.  @marcoscaceres makes an especially important point about people copying the example:

I'm traveling for work for most of the next two weeks and will try to take a cut at a PR.

[2017-02-11 01:14] pkotwicz commented on #550
A coworker ran a script over the internet's Web Manifests. There are:
~3000 Web Manifests where the start page's directory is more top level than the manifest's directory
~ 50 Web Manifests where the manifest's directory is more top level than the start page's directory

I suggest that if the  Web Manifest does not have a scope, the scope should default to either:
Proposal A: The directory of the

[2017-02-13 08:23] marcoscaceres commented on #554
@xxyzzzq, that is correct. It would be in scope.

[code]

[2017-02-13 08:29] kenchris commented on #550
Any input @marcoscaceres ?

[2017-02-13 08:55] marcoscaceres commented on #550
Sorry, way behind :( trying to catch up this week... 😭🔥💥

[2017-02-14 18:39] xxyzzzq commented on #554
OK, I see. Thanks :)

[2017-02-15 22:26] owencm opened #555 "Icon shapes and masking"
I've been thinking about how Vanilla Android 7 has largely round icons (or at least some new Google-flavor Android does) and thus icons provided in the manifest, even with the `platform` property will look slightly strange on that OS.

I heard some developer complain recently that they're not sure how to get the circular shape.

Taking a broader view on this problem, Samsung has their own icon mas

[2017-02-16 09:08] kenchris commented on #555
I will try getting some designer feedback whether such a solution would be satisfactory. My fear is that branding is very important to businesses and designers spend considerable time on getting each icon perfect, which can even include polishing on pixel level.

I also don't know for businesses what matters the most, a perfect looking icon which might not necessarily fit 100% with the phone theme

[2017-02-16 09:19] marcoscaceres commented on #555
I still think @pornel's suggestion of targeting "os styles" is best and makes most sense here.

[2017-02-16 12:10] kenchris commented on #555
Android currently has "android:icon" and "android:roundIcon" as resources.

I am not even sure if developers can create special icons for the samsung launcher, but if they can they probably have an entry like that, say "samsung:icon" or similar.

The round icons on Android are roundish and not actually always 100% round, just check Allo and Duo icons.

Also, the icons can be vastly different when

[2017-02-16 12:11] clagom commented on #555
Hello, @kenchris told me about this topic, so I’m here to give an opinion from a designer point of view. I think Kenneth highlighted a crucial matter talking about the importance of a brand, and how it is displayed with the icon.
An integrated automatic tool that applies the right shape according to the style of the OS can surely be useful especially on the consumer level, but would be good to als

[2017-02-16 12:17] kenchris commented on #555
I just talked to Erik Hellman, one of the Android GDEs and Android book author, and he knows of no cases where vendors like Samsung, Xiaomi and Huawei have made it possible for developers to ship icons optimized for their launcher icon style, the only currently known forms are `"android:icon"` and `"android:roundIcon"`

[2017-03-05 16:56] mhartington commented on #555
Hi there! Just want to add my opinion on the subject.
I'd be all for having an option to enable some sort of OS level icon clipping.

I'd push for having it be a default opt-in for a round icon. Coming from some native ios development, it's a nice feature to not have to worry about, and I'd assume most devs would want the round clipping. For those who do not want clipping, they could just set that

[2017-03-06 01:52] RobDolinMS commented on #555
Thinking about PWA developers (and literally hundreds of Manifest files I've looked at), I think there are likely to be two primary cases:
 * **Basic** - PWA developer just wants to link to a single image (or a few sizes of the same image) from their Manifest and have the Manifest consumers adjust (resize, crop, round, etc.) as appropriate
 * **Custom** - PWA developer would like to include multip

[2017-03-06 15:11] kenchris commented on #523
Some info here: https://support.google.com/googleplay/android-developer/answer/188189?hl=en

IARC currently seems to go through the store system, ie when you submit your app, you request a rating and fill out a questionnaire. Then the store can show it as unrated (or use the rating you suggested as Google Play will do), then later replacing with the proper localized rating.

It seems to be hard to

[2017-03-06 16:02] kenchris commented on #555
I think that /basic/ is probably more due to the lack of access to a graphics designer, so just doing the bare minimum as well as doable. I have falling into this category myself :-) That said, I could see someone here allow the UA to apply filters etc, but it should probably be opt in and I am not convinced that this is better than having people use services, like say pwabuilder.com to generate s

[2017-03-06 17:50] RobDolinMS commented on #523
Resurfacing the original proposal:

`"iarc_rating": "opaque_string",`

When a developer submits their app to one of the stores, they fill-out a questionnaire as @kenchris  mentions.  The developer gets an opaque string that references the rating results calculated from their answers to the questions in the questionnaire.  If a developer wants to submit their app to another store, the developer can

[2017-03-06 17:55] kenchris commented on #523
OK, sounds great! I am fine with us adding this and will review any PR doing that :-)

Maybe use iarc_rating_id ?

[2017-03-06 19:50] marcoscaceres commented on #523
Given the different kinds, wouldn't we then want:

"ratings": [{kind, value},...]

[2017-03-06 19:56] kenchris commented on #523
No :-) because then no one can trust that anyway, I can write that my app is rated for age 3 and it is not.

The id links to the IARC database (or similar) and can be updated and adjusted by the IARC member groups from time to time, plus verified that it actually applies to that URL/app

[2017-03-06 20:23] marcoscaceres commented on #523
ah, got it.

[2017-03-13 21:27] gui-poa commented on #470
Just to let it clear:

We have articles published inside subdomains, like: sports.example.com, politics.example.com. So the best start_url when the user get prompted while reading an article should be the home: www.example.com

[2017-03-13 21:48] RobDolinMS commented on #470
@gui-poa Would you please elaborate on your example?  Would there be a single PWA for example.com or would there potentially be multiple PWAs for sports.example.com and politics.example.com?

[2017-03-13 22:02] gui-poa commented on #470
Both...

Like this:
news.example.com -> example.com (start url) SAME PWA
sports.example.com -> example.com (start_url) SAME PWA
politics.example.com -> example.com (start_url) SAME PWA

games.example.com -> games.example.com (start_url) ANOTHER PWA

[2017-03-14 18:13] RobDolinMS commented on #553
Thanks all.  I've submitted PR #557 to add a very simple example and updated the original description of this Issue with a proposal to address @marcoscaceres's and @anssiko's suggestions about more complex examples and stable vs. unstable objects.

[2017-03-14 19:13] RobDolinMS commented on #470
Trying to make sure I understand the set-up ...

There is one PWA with Manifest hosted at `example.com/manifest.json`:
[code]

There is another PWA with Manifest hosted at `games.example.com/manifest.json`:
[code]

These Manifests are referenced on the respective HTML pages:
HTML page: `news.example.com` includes:
`<link rel="manifest" href="example.com/manifest.json" />`

HTML page `sports.exampl

[2017-03-14 21:43] gui-poa commented on #470
Yes, you are right.

So talking about the first PWA (example.com and its subdomains[articles])

Today the user is never getting prompted while reading an article because of this:

manifest-br.json:1 Manifest: property 'start_url' ignored, should be same origin as document.
manifest-br.json:1 Manifest: property 'scope' ignored, should be same origin as document.

Thanks for your attention, Rob.

[2017-03-15 00:28] gui-poa commented on #470
I guess a real case would be better to explain.

It's not allowed to add to homescreen (www.terra.com.br) from here
https://esportes.terra.com.br/lance/representante-da-kanxa-critica-conduta-do-boa-sobre-bruno-em-momento-algum-nos-avisaram,066137a911874031b9564f246036b363ovyt9n8g.html

![pwa_github](https://cloud.githubusercontent.com/assets/1610365/23928153/021fb15c-08fd-11e7-87fe-80e9cfd40015.jp

[2017-03-15 16:48] delapuente commented on #523
Is IARC rating aggregating somehow the information from other rating systems?

[2017-03-15 16:50] kenchris commented on #523
The other way around basically. Different eating systems joined together to create IARC, and their ratings can be derived from IARC rating

[2017-03-15 16:50] kenchris commented on #523
Rating not eating

[2017-03-19 12:09] AshleyScirra opened #559 "Allow app to load in parallel to splash screen"
Currently when you 'add to home screen' on Android with Chrome and start the app, it appears the process is:

1. Display a splash screen for a couple of seconds.
2. When the splash hides, start loading the page.

If you make a very large web app (we are building a complete game development IDE), it can take a couple of seconds to start up the page, even when offline cached with a SW, and even with

[2017-03-19 21:44] arcadiogarcia opened #560 "Extending the manifest with 'vendor-specific' properties"
I am currently developing a platform for developing HTML5 games, and one of the things devs using it are required to do is to create a manifest.json that specifies some information about the game. At first I thought of just using the Web App Manifest, since many properties (name, scope, icons...) are similar, but others are very specific to my use case (fps, screen resolution...).

I still think i

[2017-03-19 21:55] kenchris commented on #560
That should already be mentioned in the spec with examples. Does this not cover your use-cases?

I still do think it makes sense discussing your extension points as we might be able to generalize ideas

[2017-03-19 22:18] arcadiogarcia commented on #560
I'm sorry, I can't find any relevant example in the spec, do you mean [this one](http://www.w3.org/TR/appmanifest/#example-manifests)? (I only see the standard members defined in point 8).

My extension points would be:

- Frames per second (two different fields, one for the rendering and one for the game loop)
- The screen resolution at which the game is rendered
- Some string arrays indicating f

[2017-03-19 22:21] kenchris commented on #560
I am thinking about section 15.1 and example in 15.1.1

[2017-03-19 22:24] kenchris commented on #560
Generally what you add feels very specific to your engine, like configuration data. Maybe you could still use the manifest but have this additional configuration data in another file, potentially linked to from the manifest, or the other way around

[2017-03-19 22:27] kenchris commented on #560
We have discussed (without conclusion) the ability to set window size for windowed apps, like max or min width, but generally web apps scale quite well.

[2017-03-19 22:36] arcadiogarcia commented on #560
I saw point 15 but I somehow missed point 15.1😅 That indeed covers my use case, thanks for your help!

Instead of adding a configuration file, I was thinking about adding a single proprietary manifest member which has an object with all the configuration at its value (that way I would still keep the number of additional members at one), something like this:

[code]

[2017-03-19 23:28] dominickng commented on #559
Hi Ashley,

The implementation in Chrome actually does load the URL at the same time that the splashscreen is being shown (this is the whole purpose of the splashscreen).

Importantly, the splashscreen hides on the first visually non-empty paint on the page, or when the page load event fires (which ever happens first). The non-empty paint happens first about 70% of the time, so this is probably wh

[2017-03-20 17:09] gui-poa commented on #470
Rob, do you think this request is reasonable?

I'm planning a project to start killing the subdomains around here in the near future.

[2017-03-21 14:26] AshleyScirra commented on #559
Ah, really? I shall have to check with a stopwatch and see what I find, heh. Would it be a bug if there was no activity until the splash was hidden?

[2017-03-21 17:15] kenchris opened #561 "Study Android adaptive icons"
https://developer.android.com/preview/features/adaptive-icons.html

@owencm @slightlyoff @marcoscaceres @RobDolinMS @anssiko

[2017-03-22 01:17] dominickng commented on #559
It's definitely a bug if there's no activity until the splash was hidden - like I said, the splash should hide in response to either the load event or the first non empty paint (or if there was a problem loading the page, but that's hopefully not happening!)

[2017-03-22 12:15] kenchris commented on #555
https://developer.android.com/preview/features/adaptive-icons.html
https://docs.microsoft.com/en-us/windows/uwp/controls-and-patterns/tiles-and-notifications-app-assets

So looked at what Windows and Android O now does. The adaptive idea with two images would work well, especially for Windows as well, if you think about full-bleed branded tiles which has to have a margin of 1/6 of the size (which

[2017-03-23 15:57] #561 closed

[2017-03-24 13:55] clagom commented on #555
Some examples of Adaptive icons, and a small guideline to display the proportions needed to be inside of the Android cropping masks.

![sample-guidelines](https://cloud.githubusercontent.com/assets/1953388/24296619/b5480120-1097-11e7-8663-6a7e537b7329.png)

Single images:
![android-circle-example-webnfc](https://cloud.githubusercontent.com/assets/1953388/24296634/c5e2a1a2-1097-11e7-89fd-03560f4407

[2017-03-24 17:17] marcos-travel opened #564 "related_applications needs fingerprints array"

[2017-03-29 16:58] RobDolinMS commented on #529
@dret Anything I can do to help here?

[2017-03-29 20:18] RobDolinMS commented on #470
Thanks @gui-poa.  Sorry for my delayed response.  I had family visiting and was away from GitHub.

I think the request is reasonable.  I'm wondering if the idea of supporting multiple scopes as described in #449 would address this scenario.

[2017-03-29 20:49] gui-poa commented on #470
No problem. :)
Yep, reading #449 I can't know if this would solve it.

[2017-04-11 04:16] cvan commented on #559
Doesn't solve your problem today, but I wanted to point you to this proposed ["Navigation Transitions API"](https://github.com/jakearchibald/navigation-transitions).

[2017-04-12 20:13] domenic opened #565 "It is not stated how to decode the bytes obtained"
https://www.w3.org/TR/appmanifest/#obtaining assumes the body is a string, but it is not. It is a stream of bytes. You need to decode it, preferably using UTF-8 decode.

This is important as people might be assuming that you e.g. respect the Content-Type header or do some sort of sniffing.

For an example of how to do this see https://domenic.github.io/payment-method-manifest/#processing-model

[2017-04-12 20:20] domenic commented on #564
I'm working on a PR for this.

[2017-04-15 13:18] #564 closed

[2017-04-15 18:33] gui-poa commented on #470
Just to inform, Rob.

This week we removed the subdomains. And, as we expected, the number of PWA installations has increased. (as well as cancels too. lol)
![a2hs](https://cloud.githubusercontent.com/assets/1610365/25066005/8fc6171a-21f0-11e7-9f02-b4a1da4b09b4.jpg)

[2017-04-26 18:37] mastiz opened #568 "Publishing icons for various UI sizes (DIPs)"
I was wondering if the following feature request has been discussed.

Some sites like cnn.com or reddit.com publish icons not only of different resolution, but also of different content: presumably intended to be used in UIs of different DIP size. In a high density screen, say mobile, fitting a high-resolution image into a small UI (in DIPs) leads to a too detailed, hard-to-see image.

This spec c

[2017-05-01 05:27] marcoscaceres commented on #568
We attempted this previously, (via the `density` member), but we had to remove it. Authors got confused and it ended up doing more harm than good 😭

[2017-05-01 05:27] #568 closed

[2017-05-01 06:49] marcoscaceres commented on #565
Now at: https://w3c.github.io/payment-method-manifest/#processing-model

[2017-05-01 06:51] marcoscaceres commented on #565
@kenchris, can you take this one? I don't have cycles to do it.

[2017-05-01 20:52] RobDolinMS commented on #560
@arcadiogarcia With the spec text in section [15.1 Extensibility](http://www.w3.org/TR/appmanifest/#extensibility) would it be OK to close this issue?

[2017-05-01 21:10] arcadiogarcia commented on #560
@RobDolinMS Sure :)

[2017-05-01 22:17] RobDolinMS commented on #529
I've added `gcm_sender_id` to the [Extensions Registry](https://github.com/w3c/manifest/wiki/Extensions-Registry) wiki page

[2017-05-01 23:52] RobDolinMS opened #569 "Add (optional) "category" member"
Many app stores including [Apple](https://developer.apple.com/app-store/categories/), [Google](https://support.google.com/googleplay/android-developer/answer/113475?hl=en), and [Microsoft](https://docs.microsoft.com/en-us/windows/uwp/publish/category-and-subcategory-table) ask developers to choose a "category" for their app.  This would be a good (optional) field to enable web app developers to su

[2017-05-02 00:37] aarongustafson commented on #569
I think this makes a lot of sense and I’m inclined to have the spec define the canonical list. Then it would be up to the individual app stores to map those standard categories to their specific ones internally (rather than putting the onus on the developer to track all of the various categories run by each app store—and any new ones that crop up). So, for simplicity:

* Business
* Books
* Educati

[2017-05-02 05:27] marcoscaceres commented on #569
@aarongustafson could you please provide an example of how you see the multiple categories and refinement working - particularly with localized categories?

[2017-05-02 08:24] anssiko commented on #565
@kenchris @domenic PTAL #570

And please educate me if we need something more than this.

[2017-05-02 08:53] RccnMarius commented on #569
This is a great idea! I've made https://outweb.io and a hint in the manifest about the category of an app would be very helpful. I support the idea of an array with a list of strings (all chars lowercase and spaces replaced by an underscore like "music_and_audio"). Then the algorithm can search through this list until a match or the end of the list. If there's no match it doesn't matter, because t

[2017-05-02 09:03] kenchris commented on #569
I guess they should be case insensitive, so the parsing algorithm will just ignore case.

Adding new parsing rules, like use , or now ; is confusing to devs and leads to interoperability issues - the viewport meta tag had such issues for long. This is JSON anyway, so why not just use an array?

category: [ "sports", "food and dining" ]

The categories that we define should preferable be single wor

[2017-05-02 11:40] kenchris commented on #559
@AshleyScirra if you haven't run Chrome for a while (ie the Chrome used for it, Canary, Beta, Stable) then it is also launching Chrome while showing the splash, so it will launch Chrome, load URL and then unhide the splash as @dominickng said

[2017-05-02 11:50] #560 closed

[2017-05-02 11:51] kenchris commented on #551
So any update on what you changed in Chrome? Like would it be possible for you to submit a PR if you made any changes so that we can review it and move this forward?

[2017-05-02 11:52] kenchris commented on #512
Can we close?

[2017-05-02 12:06] kenchris commented on #489
Something was merged there, so can we close?

[2017-05-02 12:09] kenchris commented on #481
@marcoscaceres could you list what still needs to be done here?

[2017-05-02 12:11] kenchris commented on #538
@RobDolinMS feel like handling this one? and make sure it fits with what Microsoft wants

[2017-05-02 12:12] kenchris commented on #534
@svdoever can we close this issue?

[2017-05-02 14:23] aarongustafson commented on #569
@marcoscaceres Sure!

[code]

[2017-05-02 15:48] pkotwicz commented on #551
We ended up not making any changes in Chrome. It is safe to assume that we will likely not make any changes in the foreseeable future. I don't think anyone on the Chrome team has given this topic much thought in the previous month.

[2017-05-02 17:55] RobDolinMS commented on #512
Thanks all.  I understand not linking from the Spec to the Explainer.

There is at least one thing in the explainer that I might want to move into spec.  I'll open a new issue and/or PR for this.

[2017-05-02 17:55] #512 closed

[2017-05-02 18:01] RobDolinMS commented on #489
Both the information at the top of the document and the "Status of This Document" section link to the GitHub issues: https://github.com/w3c/manifest/issues.

I believe this is now resolved.  /cc @chaals

[2017-05-02 20:54] #565 closed

[2017-05-02 23:50] RobDolinMS commented on #569
From the analysis I did of categories from the Apple, Google, and Microsoft stores, here is a relatively canonical list of one-word categories:
* books
* business
* education
* entertainment
* finance
* food
* games
* health & fitness (all three stores used both words)
* kids
* lifestyle
* magazines
* medical
* music
* navigation
* news
* personalization
* photo
* productivity
* shopping
* social

[2017-05-03 01:46] chaals commented on #569
I like the idea of having the item, but I **really** dislike the idea of putting some canonical categories into the spec.

1. Naming things really is one of the 3 hard problems.
2. Creating a canonical registry of names really is an invitation for trouble in a decade or so when someone asks you to deal with the things that turned out to be only relevant for a little while.
3. Naming things is hard

[2017-05-03 04:02] marcoscaceres opened #572 "Small markup issues"
See comments in https://github.com/w3c/manifest/pull/570/files

[2017-05-03 07:17] anssiko commented on #572
There's no comments, did you forgot to submit your review?

[2017-05-03 07:34] marcoscaceres commented on #572
Yep, I sure did 👍

[2017-05-03 08:55] anssiko opened #573 "Use data-cite for all references"
Use https://github.com/w3c/respec/wiki/data--cite for references to allow them to be navigated to directly.

(This is an editorial thing.)

[2017-05-03 08:58] anssiko commented on #572
Fixed with https://github.com/w3c/manifest/commit/7a0c1fc95370204324c9e754e5acb411f87ca211

[2017-05-03 08:58] #572 closed

[2017-05-03 20:56] aarongustafson commented on #569
@chaals Agreed, naming *is* hard. Thankfully the app stores have shouldered this task already and have seem to have come to similar conclusions.

I think [the CSS spec’s handling of media types](https://www.w3.org/TR/CSS21/media.html#media-types) is a good reference here ("handheld" notwithstanding). In particular:

* The names chosen reflect commonly used categories used to describe apps. In the

[2017-05-05 10:01] mastiz commented on #568
Thanks! Can you please provide some links to the past discussions, assuming they're accessible? Within Chrome, the use of manifest icons for certain UIs has been considered a regression for the examples I listed earlier, so we might need to combine manifest and non-manifest icons depending on the UI, which doesn't seem easier to get right by authors.

[2017-05-08 11:08] ghost opened #575 "Add shortcuts"
Under Android 7.1 it's possible to add shortcuts to the most important features of an app.
https://developer.android.com/guide/topics/ui/shortcuts.html
 It would be very useful for web apps too. This could benefit not only the user when he long presses the icon on the home screen, but also search engines and app stores, which can display these shortcuts to give direct access to the main features o

[2017-05-09 04:53] marcoscaceres commented on #575
Any idea if Chrome plans to support this? Maybe we will hear about it at IO?

[2017-05-09 04:54] #417 closed

[2017-05-09 07:18] kenchris commented on #575
No idea, we will just have to wait and see :)

[2017-05-09 07:20] dominickng commented on #575
@owencm thoughts? Seems like it could be an interesting and useful addition.

FYI, Chrome has only just migrated to the Android 7.1 shortcut API, so we haven't really thought too deeply about this yet.

[2017-05-09 07:26] #534 closed

[2017-05-09 07:27] marcoscaceres commented on #508
Nothing from our side.

[2017-05-09 07:28] marcoscaceres commented on #481
Someone who understands fetching better than me needs to read over the spec and make sure it's done right (tm).

[2017-05-09 08:04] kenchris commented on #481
Do you know who we can get to do that?

[2017-05-09 08:39] marcoscaceres commented on #481
I do, but it's one of those "trial by fire" things where we need to make an effort research and understand what we are doing first (we won't get any help unless it affects implementers).

Basically, we need to set aside a month or two to do some in-depth reading.

[2017-05-10 07:16] mgiuca opened #576 "Install prompts: Allow manual prompting but not automatic prompting"
Implementations may wish to show a prompt if, and only if, the site explicitly requests it via `BeforeInstallPromptEvent.prompt()`, but not automatically without the site's approval. Is this something we want to leave to the discretion of the user agent? (This would require changing the language in §2.5 "Install prompts": "steps to notify before an automated install prompt" would become "steps to

[2017-05-10 07:20] kenchris commented on #576
I guess if we do that, developers will learn to always prompt as soon as they are able to, making the auto prompting more or less useless and forcing the developers to do a bit more work.

[2017-05-10 07:24] mgiuca commented on #576
@owencm I think the reports and data we're getting from developers suggests that they are *not* happy with us spontaneously showing a prompt and would actually prefer to control the experience rather than have it pop up at a random time. (In fact I believe many developers are calling preventDefault and never prompt.)

This would be a proposal to make that the default behaviour, and it would be at

[2017-05-10 07:29] mgiuca opened #577 "BeforeInstallPromptEvent: Should prompt() throw InvalidStateError if preventDefault not called?"
A [previous draft of the spec](https://github.com/w3c/manifest/pull/506/files) included this language in the `prompt` method:

This text didn't make it into the final version -- I actually didn't notice it disappearing. Was it intentional?

Chrome's implementation does currently throw `InvalidStateError` in this case. However, on reflection, especially if #576 is actioned, it doesn't make sense to

[2017-05-10 07:36] mgiuca opened #578 "Provide a way to find out the result of the install prompt without prompt()"
There are currently two ways to find out whether the user installed your app or not:

- The `appinstalled` event. (Only gives you a positive answer, doesn't tell you if they cancelled the install prompt.)
- The `beforeinstallprompt` event: call `prompt()`. The result of `prompt` tells you whether the user accepted.

Chrome's implementation has an additional `userChoice` attribute (on the `BeforeIn

[2017-05-10 07:36] mgiuca commented on #578
@slightlyoff @owencm

[2017-05-15 01:11] marcoscaceres commented on #577
No.

Plus I'd be supportive that the spec to reflect whatever Chrome is doing.

[2017-05-15 01:14] marcoscaceres commented on #576
I'm supportive of the model in  https://github.com/w3c/manifest/issues/576#issuecomment-300398375 . @mgiuca, could you please draft a PR with the new language?

[2017-05-15 01:15] mgiuca commented on #577
We can also change Chrome -- this is straightforward since it removes an error case (shouldn't break anything).

I'd like to decide what to do with #576 first. If we allow the default behaviour to not prompt, then it doesn't make sense to have to call `preventDefault` before `prompt`.

[2017-05-15 01:16] mgiuca commented on #576
Will do.

[2017-05-15 09:37] mastiz commented on #568
Friendly ping, thanks.

[2017-05-16 03:19] marcoscaceres commented on #568
Apologies, I missed this. Here is all the issues that mention "density":
https://github.com/w3c/manifest/issues?utf8=✓&q=is%3Aissue%20is%3Aclosed%20%20density

The one that pertains to this in particular:
https://github.com/w3c/manifest/issues/450

[2017-05-16 11:30] mastiz commented on #568
Thanks Marcos, that's very useful.

[2017-05-16 20:03] vsuperator opened #579 "beforeinstallprompt not fire"
I want to add to my app "Add To home screen banner", I went through the manual
https://developers.google.com/web/fundamentals/engage-and-retain/app-install-banners/#testing-the-app-install-banner
First I registered a sw in my index.html file
[code]
Then I made a manifest file
[code]
Also I added eventListener in order to call prompt() in another place
[code]
So it work's if I fire an event manuall

[2017-05-17 00:56] marcoscaceres commented on #579
@vsuperator, check if your app meets the criteria with for a PWA with:

https://developers.google.com/web/tools/lighthouse/

I think you can also use Chrome's dev tools to trigger an install prompt on mobile (which should fire the event). I can't see anything wrong with the above.

Let us know how you go!

[2017-05-17 01:33] mgiuca commented on #579
Thanks for the report. In the future, you should report issues like this to the browser's issue tracker (I assume you're using Chrome; if so, https://crbug.com/new). Please only report issues here if you think there is a problem with the spec (or the API design), as opposed to something that isn't working in the browser.

Closing. Feel free to open a new Chrome bug if you can't find anything wrong

[2017-05-17 01:33] #579 closed

[2017-05-17 01:34] mgiuca commented on #579
(PS. I think I know what the problem is: as of recent versions of Chrome, your service worker is required to have a fetch handler so it can work offline. Lighthouse would tell you this.)

[2017-05-18 12:38] ndbroadbent opened #580 "Which "platform" should I use for Windows 10 UWP apps?"
I saw this note on https://w3c.github.io/manifest/

However, the [wiki page](https://github.com/w3c/manifest/wiki/Platforms) only included "play", while [the MDN docs](https://developer.mozilla.org/en-US/docs/Web/Manifest#related_applications) also include "itunes". (I'll update the wiki.)

Is it worth adding a link for my app on the Windows Store? Even if Windows 10 doesn't currently support thes

[2017-05-18 12:41] ndbroadbent commented on #580
And I guess if no-one has thought about this, then I'm happy to make the decision. It should be "windows" for the Windows Store.

[2017-05-18 14:23] marcoscaceres commented on #580
Im sure our friends at Microsoft have give it some thought. Please give them time to answer.

[2017-05-23 04:25] hemanth opened #582 "App shortcuts / actions"
On native apps, we have an option to provide app shortcuts on long press on the app icon, for example:

![image](https://cloud.githubusercontent.com/assets/18315/26338473/e98f8888-3f9d-11e7-808e-f9bce251f7ff.png)

I feel the same would be very useful for PWAs and it would be easy to mention them in the mainfest?

//cc @slightlyoff

[2017-05-23 17:05] delapuente commented on #576
But I thought that was already possible, calling `preventDefault` and keeping the event for later as explained here: https://developers.google.com/web/fundamentals/engage-and-retain/app-install-banners/#deferring_or_cancelling_the_prompt

[2017-05-23 17:27] delapuente opened #583 "Provide VR display mode"
WebVR is getting traction and it introduces a new display mode to be considered: VR.

I'm thinking of a new `vr` value for the `display` property. Thoughts?

[2017-05-23 19:54] cvan commented on #583
what would be the behaviour of `vr`? besides signalling to the browser intent to use the WebVR API? would this be an alias of `fullscreen`, `standalone`, etc.?

[2017-05-23 22:48] marcoscaceres commented on #583
It just degrades gracefully to fullscreen.

[2017-05-24 01:48] mgiuca commented on #576
@delapuente Sorry, maybe I wasn't clear. By "allow manual prompting", I mean for user agent implementors, not web sites. That is, we want to make it legal for a user agent to fire a `beforeinstallprompt` event (and let the site prompt manually) but not show an automatic prompt if the site fails to call `preventDefault`.

[2017-05-24 03:37] marcoscaceres commented on #583
This is an interesting question: currently, the VR context is a canvas that requests fullscreen, no? What would entering into a VR context mean for a regular web page?

[2017-05-24 04:54] cvan commented on #583
Actually, most sites upon entering VR do not request Fullscreen mode (nor Pointer Lock). They could, but it's not common practice in three.js or A-Frame WebVR sites.

In my opinion, I'd say the best parallel it playing a `<video>`. Entering/exiting VR mode is more based on sessions (à la the Presentation API and Chromecast).

Does that help? Let me know if there are other points I can help clarify

[2017-05-24 08:38] hemanth commented on #582
Maybe something like below makes sense?

[code]

[2017-05-24 08:45] marcoscaceres commented on #582
probably just "label": ... can someone dig up how this registration is done in Android itself (via Java or Xml or whatever)

[2017-05-24 08:45] marcoscaceres commented on #582
Also, icon: '..', should be an "image object", as per the spec.

[2017-05-24 08:46] marcoscaceres commented on #582
Btw, what do the little double bars do? Is that to drag things into different order?

[2017-05-24 08:48] delapuente commented on #583
@marcoscaceres confirm this: the fullscreen display mode is not related to the fullscreen API. Is that correct? If so, perhaps the display mode is not suitable for something like VR. But, in the same way [link traversal](https://w3c.github.io/webvr/spec/1.1/#dom-vrdisplayeventreason-navigation) triggers the [`vrdisplay` event](https://w3c.github.io/webvr/spec/1.1/#interface-vrdisplayevent). It wou

[2017-05-24 09:00] hemanth commented on #582
Double bars will help us to add that action to home screen.

![image](https://cloud.githubusercontent.com/assets/18315/26395235/12c4f1ee-408d-11e7-9be0-f134bb3b0d5a.png)

`shortcut.xml`:

[code]

[2017-05-24 12:10] cvan commented on #583
We've discussed using a `<meta http-equiv>` tag with an equivalent HTTP Response header to indicate to the User Agent/client hints of what kind of, if any, VR content it is (and whether we should auto-enter VR, world-coordinate systems, projection matrices, etc.).

[2017-05-24 13:02] delapuente commented on #576
I see. Makes sense. Thank you for the clarification.

[2017-05-25 00:52] marcoscaceres commented on #583
Correct. It's to do with browser chrome.

Depends on what "convenient" means: It would have to do something significant in the browser during the application's launch (like the other view modes to - where they set up the display, take away browser chrome, and potentially lock the orientation).

So the above sets the bar, and that's what would need to be clarified before we would include this displ

[2017-05-29 08:49] marcoscaceres commented on #583
@cvan

Interesting... did anything come from those discussions? Anything that you think would be appropriate here?

[2017-06-08 02:42] #576 closed

[2017-06-08 07:29] mgiuca commented on #577
#576 is resolved and the spec no longer requires the `beforeinstallpromptevent` default action to be showing an install prompt. Therefore, it is no longer sensible to require `preventDefault` before `prompt` is called (or in other words, it now makes sense to call `prompt` without `preventDefault`).

I've filed a Chrome bug [crbug.com/730993](https://crbug.com/730993) to remove this requirement. L

[2017-06-08 07:29] #577 closed

[2017-06-13 21:35] LJWatson opened #585 "Time at TPAC?"
Would you like time at [TPAC](https://www.w3.org/2017/11/TPAC/) to update the WG on progress and/or bring issues up for discussion?

Please let me know by Friday 16th June. If yes, please also let me know how much time you think you'll need.

[2017-06-14 08:22] anssiko commented on #585
Personally I'll have a schedule conflict on Thu-Fri with WebVR WG.

Other editors @marcoscaceres @kenchris @mounirlamouri may be able to lead the discussion.

[2017-06-14 13:43] LJWatson commented on #585
Thanks @anssiko. We're still figuring out the logistics, but WebPlat will likely meet Mon, Tue, and Thu (with Thu being set aside for the Editing TF).

[2017-06-15 05:35] marcoscaceres commented on #585
I can give a 10 minute update during the general Web Platform WG meeting.

[2017-06-15 05:35] #585 closed

[2017-06-15 05:41] kenchris commented on #585
If I get travel approval, I can help

[2017-06-15 06:27] anssiko commented on #585
@LJWatson, per https://www.w3.org/2017/11/TPAC/#Schedule Thu-Fri is allocated to Web Platform WG. Should probably fix that?

(I have a conflict on Mon-Tue too with Second Screen WG, so I'll happily defer this update to my fellow editors regardless of the choice of days.)

[2017-06-15 14:56] LJWatson commented on #585
Thanks @marcoscaceres and @kenchris, an update on progress would be welcome.

anssiko that was true at the time of my first message, but we had to shuffle things around in the TPAC schedule yesterday - so now WebPlat will meet on Thu/Fri, sorry.

[2017-06-22 08:48] adewale opened #586 "Add a unique identifier for a PWA"
If one is building a PWA Directory or App Store or search engine that detects PWAs one needs a way to uniquely identify a PWA from just the manifest.

Currently the spec doesn't explicitly say what that identifier or tuple of identifiers should be which leads to issues like: https://github.com/GoogleChrome/gulliver/issues/323

[2017-06-23 04:30] marcoscaceres commented on #586
@adewale, thanks! we will see how the gulliver project handles that and if a solution emerges.

[2017-06-26 08:32] photopea opened #587 "Too many icons"
I think that the current state of the specification is unnecessarily complex.

You can define multiple icons, and you also have to manually type the size of each icon in the manifest.

First. I think the size should be removed. The size can be obtained by the user-agent by actually downloading the icon. In time of streaming of 4K videos it should not be a big deal.

Next, I think that multiple ico

[2017-06-27 03:32] patrickkettner commented on #587
is there something preventing you from using a single icon like you suggest for your own needs?

[2017-06-27 04:01] mgiuca commented on #587
I don't think those are valid simplifications.

* You need to specify the icon size in the manifest so the UA doesn't have to download them all to find out which one matches the desired size. "In time of streaming of 4K videos it should not be a big deal." isn't a useful argument; I should not require a connection capable of streaming 4K videos in order to visit a web page. On bad connections, it'

[2017-06-27 09:31] photopea commented on #587
@patrickkettner as the author of the website, I will be confused, which size of the icon should I use. When inserting multiple sizes is possible, I would deduce, that the user agent can not scale icons, so I would be afraid, that if I miss some size, there would be some "N/A icon" used instead.

@mgiuca  I am not suggesting to download several icons and choose the right size. Later, I suggest usin

[2017-06-27 09:45] kenchris commented on #587
You can use a SVG for set sizes to "any" - then you only need to supply one icon. If you want to optimize specific sizes (because the logo becomes to blurry and need pixel optimizations at low sizes) then add a new PNGs as well for small sizes.

All that is possible today from a spec point of view. If it doesn't work in your browser of choice, please file bugs.

[2017-06-28 01:35] mgiuca commented on #587
I think if you want to you (and don't want to use SVG as Ken suggests) you can just supply a 512x512 PNG and let the UA downscale as necessary.

The spec just gives additional options for developers who want to optimize the download (by letting users download smaller icons instead of a large one that gets downscaled) or fine-tune the details of the icons at low resolutions (which is often necessar

[2017-06-28 13:30] marcoscaceres commented on #587
Closing, as the question has been answered by @kenchris and @mgiuca. @photopea also check out Chrome dev tools "application" panel, where you can see your icons being displayed from the manifest. See also lighthouse, in Chrome dev tools, which suggests the appropriate icon sizes.

[2017-06-28 13:30] #587 closed

[2017-07-01 22:13] shwetank opened #589 "Richer splash screen backgrounds"
I'm not sure if this has already been considered or not. In case it hasn't, here goes

Right now the splash screen consists of an image and a background. That background is a plain background with a single color.

I would propose having an option to define an SVG file to serve as the background of the splash screen, essentially replacing the need for the background color for the splash screen (and

[2017-07-02 09:57] kenchris commented on #589
We have discussed other options do splash screens before, but there are a few requirements.

* Cannot be rendered by the browser because it needs to show when the browser is loading
* It needs to be able to load instantly (maybe a svg viewer can do that, but that needs research on all platforms)
* Browser vendors need to commit to implementing this

I would suggest doing some research and talk to

[2017-07-02 21:25] marcoscaceres commented on #589
Closing, as we,ve shown in the past that if you can load the browser engine fast enough, you don't need this.

[2017-07-03 01:26] mgiuca commented on #589
I'd like to leave this open and can assign me if you like.

At Google we are constantly talking about richer splash screens because we clearly can do better than a tiny icon and text on a white background. We're now focusing our efforts on this.

The avenue we are pursuing is to have a full HTML page for the splash screen, but the UA takes a screen grab of the page at install time (or perhaps firs

[2017-07-03 01:55] shwetank commented on #589
@mgiuca  Oh, didn't think of that. Makes sense in that respect. The reason I mentioned SVG is because of good scaling while still providing for richness in graphics and animation, contained in one .svg file.

Perhaps it won't be if its made optional. Default could be current way, and if someone wants more richness in the splash screen, then they could opt for this way.

What if a person had embedd

[2017-07-03 22:17] marcoscaceres commented on #589
See also #9, #361, #372, #373, and #390.

In particular, #9 has a lengthy discussion on the subject. I personally don't mind further exploration in this space - but be forewarned that we've had limited success in the past.

[2017-07-03 22:22] marcoscaceres commented on #589
Forgot #510 also.

[2017-07-03 22:24] marcoscaceres commented on #589
And related PR: https://github.com/w3c/manifest/pull/530 ... can't remember if that's any good or not anymore.

[2017-07-12 14:40] photopea commented on #587
Guys, have a look at this: https://mxb.at/blog/how-to-turn-your-website-into-a-pwa/

The author is recommending some web service, that will convert a large icon into multiple sizes. I am sure, that 99% of users will make different size versions of the same icon. Because the current "freedom" is very confusing. Nobody knows what to do with so many allowed icon sizes.

Please forbid so many versions

[2017-07-13 00:43] mgiuca commented on #587
@photopea Yes, but as explained, a) there is still benefit to the developer pre-scaling the icons ahead of time so the user only has to download the size they need (to save bandwidth), and b) if you ignore this feature and just supply the highest resolution possible, everything will still work.

There is literally nothing to fix here; all you are asking for is that an optional feature be removed,

[2017-07-24 07:13] mgiuca commented on #554
Is this the originally intended behaviour, or a historical accident? It seems rather unintuitive.

To get technical...

*target* and *scope* are URLs, not `URL` objects (URL = spec-level object, `URL` = user-facing object). I think specs should be using the [URL path](https://url.spec.whatwg.org/#concept-url-path) concept, not the [`URL.pathname`](https://url.spec.whatwg.org/#dom-url-pathname) int

[2017-07-24 07:24] mgiuca commented on #554
If this isn't changed, we should have a non-normative recommendation that you always put a trailing slash at the end of scope, to avoid triggering this behaviour.

[2017-07-24 07:45] marcoscaceres commented on #554
I'm ok with changing this.

[2017-07-24 12:49] delapuente commented on #554
Notice that this behaviour is already on the platform. Service Worker's scope does the same way.

[2017-07-25 04:22] mgiuca commented on #554
@delapuente Yep, you're right:

https://www.w3.org/TR/service-workers-1/#scope-match-algorithm

That sucks, and although we don't need to use SW scope as a precedent (manifest scope != SW scope), it's a strong precedent and we should probably maintain compatibility. So let's keep it but add a similar non-normative note to Manifest. Marcos are you happy with that decision?

[2017-07-25 05:50] marcoscaceres commented on #554
Happy. We on purpose reused sw scope matching. Could you please send a PR?

[2017-07-28 22:03] mbj36 opened #591 "Manifest: one of 'url' or 'id' is required, related application ignored."
I am receiving this error on my web app which is running at https://mbj36.github.io/community-app/?baseApiUrl=https://demo.openmf.org

`Manifest: one of 'url' or 'id' is required, related application ignored`

What could be the workaround ?

[2017-07-28 22:57] patrickkettner commented on #591
you are using `related_applications`, without specifying any related applications. That field is to link against related native applications. Since you don't appear to have any, you can just remove that from your manifest.

[2017-07-29 09:30] mbj36 commented on #591
Hey @patrickkettner I am using lighthouse to test my PWA which is at https://mbj36.github.io/community-app/?baseApiUrl=https://demo.openmf.org#/

One of the audits fails in lighthouse which says `Failures: Manifest start_url is not cached by a Service Worker.` but i have cached my start_url. what could be the possible solution for this ?

![selection_053](https://user-images.githubusercontent.com/

[2017-07-31 16:49] patrickkettner commented on #591
@mbj36
I would really suggest posting these sort of questions on stackoverflow, or the lighthouse github rather than on a standards issue list. This place is intended for issues within the manifest specification, rather than issues with your implementation of it.

That being said, load [your pwa](https://mbj36.github.io/community-app/#/), then open the `Application` tab in chrome's dev tools, and

[2017-07-31 16:49] #591 closed

[2017-08-04 14:07] nuxodin commented on #161
Maybe we should add a "type" member for "service_workers"

` { "type": "module" }`

Will be needed once Browsers support serviceWorkers as js modules.
https://html.spec.whatwg.org/#module-worker-example

[2017-08-04 14:09] kenchris commented on #161
@nuxodin can you open a separate issue for this?

[2017-08-04 21:44] nuxodin opened #594 "ServiceWorker type-member ( "type" : "module" )"
Maybe we should add a "type" member for "service_workers"?

[code]

Will be needed once Browsers support serviceWorkers as js-modules.
https://html.spec.whatwg.org/#module-worker-example

[2017-08-04 21:45] nuxodin commented on #161
done: https://github.com/w3c/manifest/issues/594

[2017-08-07 01:34] marcoscaceres commented on #594
Sorry for my ignorance, but can you provide more background as to why it will be needed? I don't know all the details of `module`.

What benefit does it provide and what benefit will it provide for users or developers if we include this.

[2017-08-07 03:07] patrickkettner commented on #594
@marcoscaceres (from the whatwg spec)

The SW spec was actually [updated](https://github.com/w3c/ServiceWorker/commit/6d9500e99e764c12b117c63d10107e094d243662) to include the concept of modules back in february of last year

[2017-08-07 03:13] marcoscaceres commented on #594
@patrickkettner oh, ok! got it, thank you. Yeah, I agree, this seems really nice.

[2017-08-07 07:16] mgiuca opened #597 "Single-window mode option"
We're looking into installable apps on Desktop platforms (in Chrome) and have identified two different types of app (at least):

- Multi-window: Feels like the default since it's closest to the web model. Links to the app create a new app window. Launching the app opens a new window.
- Single-window: Only ever has a single instance. Links to the app perhaps just focus and navigate the existing app

[2017-08-07 07:32] kenchris commented on #597
I am wondering whether we could handle this in the Service Worker instead (maybe some default code in workbox)?

In a service worker you can find existing open windows and focus then, or just open a new window.

(see https://gist.github.com/kenchris/0acec2790cd38dfdff0a7197ff00d1de which is some research on how to support shortcuts)

[2017-08-08 11:16] #523 closed

[2017-08-08 14:21] yfriedman commented on #597
I think that may be over-simplifying the view of mobile a little bit (and tablets can have similar issues). It's true that a user may typically only see one window at a time, but under the hood (and it affects things like task management, back-stack and more) this is actually done by re-using an activity or launching a new instance. If you haven't seen it, the docs on launch modes for activities o

[2017-08-09 03:35] mgiuca commented on #597
This proposal is (deliberate) over-simplifying. I made this issue as a "what's the simplest thing we can get away with" type of question. I think we could also go to the other extreme end, or somewhere in the middle.

@kenchris yeah, I've been thinking about this in a service worker context, and relevant to your other proposal too (in fact your other proposal is what started me thinking about this

[2017-08-11 16:29] kenchris opened #599 "dir doesn't refer to lowercase algo"
There is a bug in "dir", where we write

```Otherwise, Trim(value), convert to lower-case, and let direction be the result.```

And don't refer to the lowercase algo

[2017-08-11 16:32] kenchris opened #600 "we refer to ASCII lowercase from WHATWG infra spec but Trim from ES spec"
We should be more consistent

ie we could refer to ToLowerCase from ECMA as well

```When instructed to ToLowerCase(x), a user agent must behave as if [ECMASCRIPT]'s String.prototype.toLowerCase() function had been called on the string x.```

Or we could refer to infra instead of Trim()
https://infra.spec.whatwg.org/#strip-leading-and-trailing-ascii-whitespace

[2017-08-11 16:33] kenchris commented on #600
We could argue as this is JSON based, following ECMA makes the most sense.

[2017-08-11 16:43] RobDolinMS opened #602 "Fix references to lower case in spec"
Opening per [discussion](https://github.com/w3c/manifest/pull/598#issuecomment-321781841) with @kenchris in #598

The Manifest spec includes three instances of "to lower-case" and two instances of "to ASCII lowercase"

Should all of these be made consistent and updated to reference: https://www.ecma-international.org/ecma-262/8.0/index.html#sec-string.prototype.tolowercase

[2017-08-11 16:44] kenchris commented on #602
This is related to #600

[2017-08-11 16:44] kenchris commented on #599
Closing as duplicate of #602

[2017-08-11 16:44] #599 closed

[2017-08-11 16:48] kenchris commented on #575
Relevant links:

https://docs.google.com/document/d/1jWLpNEFttyLTnxsHs15oT-Hn8I81N0cwUa3JjISoPV8/edit#
https://gist.github.com/kenchris/0acec2790cd38dfdff0a7197ff00d1de

[2017-08-13 11:36] delapuente commented on #597
This has been discussed previously here and in the ServiceWorker repository: #479, w3c/ServiceWorker#1028

[2017-08-14 03:13] marcoscaceres commented on #602
This should actually refer to the [[infra]] spec. https://infra.spec.whatwg.org/#ascii-lowercase

[2017-08-14 03:14] marcoscaceres commented on #602
(in case all instances where we lowercase are ascii - which, if I remember correctly, they are)

[2017-08-14 05:09] marcoscaceres commented on #600
Yeah, it's tempting... but prefer infra: https://infra.spec.whatwg.org/#strip-leading-and-trailing-ascii-whitespace

[2017-08-14 07:06] annevk commented on #597
Note also that the mobile experience can be rather detrimental to the experience for more advanced users. E.g., not being able to open multiple Twitter views.

[2017-08-17 04:40] mgiuca commented on #597
@annevk I agree and I'm quite conscious of building tech that takes away options from power users.

However, this is a feature request we're getting a lot when asking potential customers about desktop PWAs. I think the best solution is to 1. make multi-window the default, 2. let developers override that default if desired, and 3. let users override that override if they want to.

So I'm a fan of J

[2017-08-17 07:19] annevk commented on #597
Somewhat, it seems rather confusing for users as they won't know the default that a domain uses so they might end up replacing views they didn't mean to. I guess the answer is that they'll always have to ctrl+click or flip a preference to make that the default...

[2017-08-17 07:30] mgiuca commented on #597
A bit similar to how I never know whether a left-click is going to replace the current tab or open a new one (e.g., clicking a link in an email) so I often end up middle-clicking a lot anyway.

I think we'll want to give developers some guidelines that this should only be used if your app makes no sense in multiple instances, or if you are actually managing instances inside the one view, so either

[2017-08-17 07:41] annevk commented on #597
Your IRC example made me remember that we already offer a similar ability through `registerProtocolHandler()` although that works a little differently. We should probably look into if we can reconcile that somehow.

[2017-08-17 07:46] mgiuca commented on #597
Doesn't RPH always open a new browsing context? (e.g., I have a Gmail tab open already but if I click a mailto link, it opens a new Gmail tab, at least in Chrome.)

If anything, RPH gives us another example of a case that benefits from my above proposal (like Web Share Target); Gmail can open a new compose box in the existing tab instead of opening a new one.

[2017-08-17 07:58] annevk commented on #597
Yeah, that's what I meant with reconcile. Might actually work as-is, but RPH isn't defined very well.

[2017-08-17 22:44] owencm commented on #118
Resurrecting this - in terms of vendor interest, there is a team in Chrome that would like this feature for selecting icons for our New Tab Page.

Specifically, they worry about some products that change their icon depending on the size it's to be displayed, so a 512x512 icon on a dense phone should be different to that on a low resolution computer.

Have there been more discussions about ways to

[2017-08-18 00:57] piotrswigon commented on #589
Hi all, improving splash screen is one of the things I’ve been looking into. The direction we’re pursuing in Chromium is HTML splash screen screenshotted by the browser, which was discussed widely in #9. @mgiuca is on board and willing to make the necessary spec changes.

**Proposed spec change**

Add an optional manifest attribute *splash_screen_url*. UA may show this page while Web App is loadin

[2017-08-18 02:46] marcoscaceres commented on #118
We would need to redesign this in such a way that it get some protection from being accidentally poisoned by tooling in the wild (a WordPress plugin accidentally poisoned this on scale last time).

[2017-08-18 03:01] marcoscaceres commented on #589
I quite like the fallbacks proposed, and I really like what I'm seeing in the video... and the overall simplicity of what's being proposed on the manifest side.

I have open questions (not really concerns, rn) about doing the offscreen rendering (portrait, landscape, etc), and having to have a particular feature-policy/security-model for these pages. I guess these are details that can be worked ou

[2017-08-18 04:20] mgiuca commented on #118
@marcoscaceres What do you mean by "poisoned"?

So is the issue basically that people are confused by the difference between *size* and *density*? I agree, it is very confusing. Basically you could have a 32x32 icon base size. Then you could also have:

* A 64x64 icon, which is twice as large.
* A 32x32 icon at "2x" density, which is the same *size* but twice as *dense* as the base icon.

Both of

[2017-08-18 04:32] marcoscaceres commented on #118
Most instances included the wrong value (e.g., `"density": "4"`), making the value so unreliable that only the lowest quality icon could be used, even though all the icons would have been perfectly suited for the task.

A bit, yes. They think "this is the density that I designed it at" ... not, "please only display this at, or above, this density".

Yep - that's the bit people sometimes don't gras

[2017-08-18 05:28] mgiuca commented on #118
And let me be clear this is not an easy thing to grasp. I don't blame developers for being confused about this.

I think possibly the legitimate case here is where it isn't a variation in detail, but actually a different concept at different *logical* sizes. For example, a company might just use the first letter of its brand name as the logo for "small" sized icons, but use the full word for "larg

[2017-08-18 07:26] kenchris commented on #589
I would like to know how you intent to handle this on desktop, where the window size might differ - usually desktop apps remember their last sizes.

- the use resizes it while loading (we can block that)
- it gets a different size because it is loading on another screen than last time (monitor connected)
- It was resized during use (so at what point should the browser redo the screenshot, at every

[2017-08-18 07:40] kenchris commented on #118
Wouldn't it be better to add tests for the icons inside DevTools pointing out that icons are missing for new tab page etc? or even make it part of the lighthouse tests?

[2017-08-18 07:44] marcoscaceres commented on #118
That might be very noisy. I imagine very few developers will end up running lighthouse or looking in devtools at all (specially folks depending on CMS - which remember lead us here).

[2017-08-18 07:49] kenchris commented on #118
I don't think it will be noisy - you will have to go to the right pane inside the devtools to see it - not talking about spamming the console here :-) But the CMS thing is very valid - but we will help some by making this part of devtools, ie educate devs who then later write articles and the like.

[2017-08-22 06:54] delapuente commented on #597
A very [similar discussion](https://github.com/w3c/ServiceWorker/issues/1028#issuecomment-267588558) happens in bug w3c/ServiceWorker#1028 also. Perhaps we could move the conversation there.

[2017-08-22 20:02] deadjdona opened #603 "The border attribute on the table element is presentational markup. Consider using CSS instead."
https://github.com/w3c/manifest/blob/a560adfab442d1c58a31f1c2c6e2ce94b5fb16b8/index.html#L1193

Validator shows warning.

[2017-08-24 05:37] mgiuca commented on #597
Yes. I'll keep this issue open (since that one is in a different spec), so we have a tracking issue for the high-level concept of single-window mode in the manifest. We can discuss on the SW event.

[2017-08-28 06:45] piotrswigon commented on #589
Thanks for feedback!

**@marcoscaceres, re: Feature-policy/security-model for splash screen pages**

I think we should add to the spec something along the lines of _“UA may restrict set of APIs available while rendering the splash_screen_url page”_. Unless you have specific ideas in mind, I would leave this to later consideration depending on what UAs will decide to do and what problems they might

[2017-08-28 07:20] kenchris commented on #589
Hi @piotrswigon Yes, I really like your proposal and I think we should proceed.

I do think the generalization is too broad but you are right that there are other solutions on desktop, I would just like these to be mentioned in the spec text, like as non-normative text. Ie discuss the use-cases and how these can be solved with the new APIs in conjunction with SW etc.

[2017-08-28 07:22] marcoscaceres commented on #589
If we don't define that in an interoperable manner, that's going to end badly.

No, this needs to be defined up front. Otherwise, it will be a nightmare. Thankfully we have the feature policy spec now.

[2017-08-28 08:29] #569 closed

[2017-08-28 14:56] tripu opened #605 "Fix shortname in w3c.json?"
https://github.com/w3c/manifest/blob/9642178d97517c6c44dc7f6ec88c34990487ef53/w3c.json#L4

Shouldn't this be `appmanifest`?

[2017-08-28 16:24] #594 closed

[2017-08-28 16:54] kenchris commented on #594
What is the reason this was closed?

[2017-08-28 21:33] kenchris commented on #594
:)

[2017-08-29 10:34] anssiko commented on #605
For what is the `shortName` in `w3c.json` used for by Echidna?

I'm wondering, since it seems https://www.w3.org/TR/appmanifest/ passes https://www.w3.org/pubrules/ without issues. Can we simply remove `shortName` entirely without breaking things?

(Note: this issue should not be confused with `short_name` defined in the Web App Manifest spec.)

[2017-08-29 12:35] tripu commented on #605
@anssiko: you are right; Echidna does not need that information. Sorry about the confusion.

According to [the documentation](https://w3c.github.io/w3c.json.html), `shortName` should be the *spec* shortname, ie the one in `w3.org/TR/<shortname>`. But it seems that [Ash-Nazg (aka repo-manager)](https://github.com/w3c/ash-nazg/) actually expects to find there the *GH project name* (so, `manifest`, i

[2017-08-29 12:35] #605 closed

[2017-08-29 12:40] anssiko commented on #605
OK, so we keep `shortName` to ensure repo-manager integration works.

[2017-08-31 01:02] piotrswigon commented on #589
Thanks @kenchris, we will keep this in mind and include information on how this could be adapted to Desktop. Regarding interaction with SW I'm intending to do some experiments how we could leverage existing HTTP cache and SW cache to avoid introducing new mechanism for refreshing splash screen image. I will update this thread with a concrete proposal once I have it.

@marcoscaceres, would you like

[2017-08-31 02:04] marcoscaceres commented on #589
@piotrswigon, it might be worth while starting with the most restrictive policy possible and seeing how developers cope. All browsers that support manifest also support CSS Grid and Flexbox, so 99% of layouts should be achievable.

[2017-08-31 02:34] mgiuca commented on #589
I agree, let's start with JavaScript disabled. That automatically resolves all discussion about which APIs are available. I think that should be sufficient, but if not, we can revisit.

[2017-08-31 02:51] marcoscaceres commented on #589
Ok, is there some means specified somewhere for how we disable JS? Do we need to add it to the list of controlled features?

[2017-09-14 09:54] kenchris opened #610 "Verify that ImageObject in Web Payment Handler spec matches what we have"
These are both very similar, but there might be minor differences which would be bad

As you work on Web Payments @marcoscaceres can you have a look?

https://www.w3.org/TR/payment-handler/

[2017-09-18 05:10] mgiuca commented on #450
Cross-linking this here because I was having a hard time finding this: this has been re-discussed over on #118, and there are two reasons to not reverse this decision:

1. It's confusing for developers and quite subtle (the difference between 32x32@2x and 64x64@1x, for example), and in most cases there won't be a difference between the "large" and "high-density" versions of an icon.
2. The "densit

[2017-09-19 05:10] mgiuca opened #611 "Describe the manifest data structure"
There isn't really a formal specification of the manifest data structure. Instead, each member has its own section which describes the format of that member in prose. This makes it hard to discuss (e.g., in Ken's [shortcut proposal](https://gist.github.com/kenchris/0acec2790cd38dfdff0a7197ff00d1de), we'd like to be able to say "`sequence<IconInfo> icons;`" but there's no name for "the dictionary t

[2017-09-19 05:10] mgiuca commented on #611
@marcoscaceres What do you think?

[2017-09-19 05:13] marcoscaceres commented on #611
Agree. This would be nice.

[2017-09-19 05:49] marcoscaceres commented on #610
I'm tracking it, don't worry.

[2017-09-19 05:49] #610 closed

[2017-09-19 07:37] kenchris commented on #611
I am totally pro this, I have ran into this problem myself a couple of times

[2017-09-19 12:21] kenchris commented on #611
I don't think that having a few extra line per entry is that much of a deal, editorial wise

[2017-09-19 14:59] kenchris commented on #611
I did a stab at this https://github.com/w3c/manifest/pull/612 (defining the IDL)

Would be great with some initial comments from @marcoscaceres to know if I am doing this right before continuing :)

Then after landing that change we can simplify the prose

[2017-09-25 05:29] mgiuca opened #617 "Add an icon "purpose" for displaying on the theme color"
Problem: We sometimes want to display the app icon on top of the app's theme color (e.g., for a window icon in a title bar that is themed to the theme color). Many brands will want to use a theme color that exactly matches the dominant color of their icon, which will look bad when applied on top of the theme color.

For example, Facebook's icon is just a white 'f' in a blue square. If they set the

[2017-09-25 17:57] owencm commented on #617
If we're doing that we should probably add an `on_background_color` too, since that would be useful for splashscreens etc.

[2017-09-26 08:32] kenchris commented on #617
Sounds like a good idea.

Name suggestions (bikeshed away)

```on_theme_color```
```ontop_theme_color```
```for_theme_color```
```superimposed_on_theme_color```
```theme_color_superimposed```

[2017-09-26 08:33] marcoscaceres commented on #617
Let’s please avoid “on_”, as it sounds like an event handler.

[2017-09-26 08:47] marcoscaceres commented on #611
Pasting what I wrote in the PR, so we can try to reconcile this...

[2017-09-26 08:58] kenchris commented on #611
I don't think we actually need to expose the types, these are mostly for being able to easily refer to them and use them potentially in other specs. That is why I was originally using [NoInterfaceObject] but I guess I understood that wrong.

[2017-09-26 15:50] tobie commented on #611
So this is a tough call. My understanding is this won't actually ever be exposed as such, right? If so, it seems OK, but others more knowledgeable than I might disagree.

wrt to the USVString vs. DOMString issue, again, I'm of little help. Sorry. Clarifying the use cases in WebIDL is on my plate and I should get to it shortly, but until then, you probably want to ask @annevk.

[2017-09-26 15:54] kenchris commented on #611
No the idea is not to expose these. There are no way for web devs to obtain the manifest info without fetching it manually, in which they will get JSON back.

The IDL helps defining the spec in a less verbose way (we can simplify algorithms), and it gets types we can refer to in incubation specs or documents before integrating new features in the spec itself. It also makes the spec more structured

[2017-09-26 15:58] tobie commented on #611
Maybe add a pretty large advisement about that?

[2017-09-26 16:03] annevk commented on #611
What exactly do you get from IDL and what would this look like? As far as I can tell what you need to be doing is UTF-8 decode, followed by JSON parse, followed by operating on the resulting JSON value. What am I missing?

[2017-09-26 16:05] kenchris commented on #611
I am fine with doing that. Any suggestion on the best way to do that?

"This spec uses Web IDL to define the structure and processing model of the JSON document, which is internal to the User Agent, and thus not exposed to developers directly"

@annevk My PR is here: https://github.com/w3c/manifest/pull/613/files

[2017-09-27 01:27] mgiuca commented on #611
Note there is a preview [here](https://s3.amazonaws.com/pr-preview/kenchris/manifest/idl.html). In particular, the [WebAppManifest](https://s3.amazonaws.com/pr-preview/kenchris/manifest/idl.html#webappmanifest-dictionary).

So is the issue just the naming discrepancy between the manifest fields and normal web attributes ("`short_name`" vs "`shortName`")? Or is it more fundamentally that we shouldn

[2017-09-27 03:20] marcoscaceres commented on #611
It's mostly the naming.

There are advantages (and nice security properties) to having the manifest described in IDL, even if only passed internally. We've had a bug open about this for a couple of years in Gecko: https://bugzilla.mozilla.org/show_bug.cgi?id=1176442

IMO, yes. This violates rules in tools like ESLint and makes for inconsistent coding styles. It's not very idiomatic to have undersc

[2017-09-27 03:22] marcoscaceres commented on #611
Oh, I'd just add that we shouldn't assume the dictionaries we define in the IDL will necessarily end up being dictionaries in an API... some may be generic and useful enough to become proper interfaces. We don't know yet, however. We will need to work that out as we go.

[2017-09-27 08:44] annevk commented on #611
If you just want an overview of all JSON members and their corresponding types, have you considered creating a table?

If you actually want to use IDL, how exactly would that work? You would first convert bytes to code points. Then code points to JSON values. Then JSON values to ECMAScript values and then feed that to the dictionary parser to get an IDL dictionary?

I don't see any such processing

[2017-09-27 12:11] delapuente commented on #617
I think this is kind of artificial and strongly tied to design vocabulary. It would be more convenient to provide a semantic name like `title_bar` or `themed_title_bar`. Nevertheless, perhaps it is worth considering a new manifest section `theming` (or a separate file) to gather everything related to browser customisation.

[2017-09-27 12:21] delapuente opened #618 "Consider adding a `theming` manifest member or a separate spec for browser customisation"
The manifest provides several members to control the aspect of the browser where branding is important. This proposal suggests gathering these members under a new member `theming` or considering the creation of a new specification for browser customisation.

`theme_color`, `icons`, `purpose` values #617, a possible `spash_screen` definition #589 and other discussions related to design could live s

[2017-09-28 01:38] mgiuca commented on #617
@delapuente I disagree; the whole reason for this is to avoid the app icon's foreground colour from clashing with the theme colour. So we want a field whose semantics is "use this icon whenever you would place the app icon on top of the theme colour".

The "title bar" is a red herring; it's an operating system specific concept that we shouldn't directly give developers access to. If a user agent w

[2017-09-28 05:18] mgiuca commented on #611
That would be preferable to what we have now, but not convey as much information as IDL. A couple of points:

1. IDL not only gives us syntax for describing the type of a bag of named fields, but it also gives us semantics for how to process it. For example, how to convert values that are not of the expected type, default values, etc. We could certainly specify all that in prose (mentioning the ta

[2017-09-28 05:59] marcoscaceres commented on #611
I'll note that there are a few breaking changes if we do this:

1. enums are case sensitive, so orientation and display modes values could break in web content.
1. We wouldn't trim anymore (as you noted earlier) - I think that's fine, IMO.

We should check if the above would break a lot of web content. I doubt it will.

FWIW, I think it's worth doing this - if only because it gets rid of so much r

[2017-09-28 07:27] annevk commented on #611
It seems reasonable as long as it's well-defined. And as long as you stick to dictionaries there's not much room for collateral damage. If we get more consumers (e.g., Origin Policy would be a good candidate) we should maybe uplift this to IDL somehow.

Nothing blocks you from using the JSON names, but I'm also not sure we actually want to use that naming convention for all JSON... Certainly repor

[2017-09-28 07:33] tobie commented on #611
We could add JSON bindings (I'm only half joking).

[2017-09-28 07:38] marcoscaceres commented on #611
Let's play this out as a straw person... we might need it to do the conversion dance that Anne described in https://github.com/w3c/manifest/issues/611#issuecomment-332452821 ... what are you thinking @tobie?

[2017-09-28 07:41] kenchris commented on #611
Yes I was discussing some of that with @tobie yesterday. I might give it a shot today, but will probably need some help :-)

[2017-09-28 07:44] annevk commented on #611
I guess the other thing I wasn't sure of is whether you actually need all the IDL processing here. Why would we convert numbers to strings for instance if we want strings? There's far less types in JSON and it's much easier to deal with JSON values than arbitrary JavaScript input. So where does all the complexity you allude to come from?

[2017-09-28 07:45] annevk commented on #611
It does make sense for JSON to be consistently processed though, so something like IDL makes sense, but I'm not sure we'd want the same kind of ToString() all the things behavior and such.

[2017-09-28 07:48] marcoscaceres commented on #611
@annevk agree. Thankfully there are not too many of those... @kenchris, can you evaluate how much breakage there will be if we make better use of the types?

[2017-09-28 07:48] kenchris commented on #611
We we are to use parts of the manifest format for other web APIs, like say a "addShortcut({ // using same icon format here }) then we would be dealing with arbitrary JS

[2017-09-28 08:04] annevk commented on #611
At that point @marcoscaceres's concern about naming becomes a real issue (which as I said you might want to revisit given precedent in reports and such).

[2017-09-28 08:20] tobie commented on #611
So @marcoscaceres, currently, if we want to turn JSON into WebIDL, we have to do JSON.parse(json) -> ES -> WebIDL. We could instead describe bindings for each of JSON 7(?) types, including camelCasing snake_case object properties. This could even nicely mirror the toJSON stuff we recently added.

That said, it's only really worth doing if there are other parts of the platform that would benefit.

[2017-09-28 08:20] kenchris commented on #611
Could allowing both forms in the JSON be an option? ie. specify that _ turns the following character into uppercase?

[2017-09-28 08:21] kenchris commented on #611
@tobie like this? https://w3c.github.io/payment-method-manifest/

[2017-09-28 08:23] tobie commented on #611
@kenchris right, though I have no idea whether WebIDL bindings would help, here.

[2017-09-28 08:30] kenchris commented on #611
the toJSON being discussed: https://heycam.github.io/webidl/#idl-tojson-operation

[2017-09-29 00:27] #470 closed

[2017-10-02 07:10] marcoscaceres opened #619 "Parse JSON from bytes"
We can hook into this now: https://github.com/whatwg/infra/pull/156

[2017-10-03 03:47] mgiuca opened #620 "Remove Trim() logic on string members"
Most of the manifest fields (see below) are specified as trimming their string values during processing. The question has come up as to whether to remove this logic (spun off from #611 --- it makes it much easier to specify the manifest in WebIDL without the trimming logic). However it's really a separate issue.

Removing this logic would be a breaking change to the Web, so we need an analysis of

[2017-10-03 03:47] mgiuca commented on #620
@marcoscaceres @kenchris

I am going to run a quick analysis of public manifests to see if this would break any of them.

[2017-10-03 04:06] marcoscaceres commented on #620
I agree. Representation of the string should be left up to the platform (i.e., it should guard against such unrestrained inputs). I'd be in favor of not trimming.

[2017-10-03 05:49] mgiuca commented on #620
I've done an analysis of a large corpus of about 50,000 manifests (from January 2017, so somewhat out of date).

The results are that there are only 6 manifests that have leading/trailing whitespace in a field other than name, short_name, description; all of them are the "src" field of an icon. 4 of them are completely non-sensical (the whitespace is a backslash before a word starting with 't' or

[2017-10-03 05:52] marcoscaceres commented on #620
@mgiuca, can you confirm that those trimmable ones are actually served over "https://"? It might be that they don't even qualify as an installable "progressive web app" (thus further ruling them out).

[2017-10-03 05:52] marcoscaceres commented on #620
I agree. Let's do this as a different PR.

[2017-10-03 05:53] marcoscaceres commented on #620
(also, thanks for doing the data analysis! this is great news!)

[2017-10-03 05:58] mgiuca commented on #620
I was looking at all of them (as @dominickng argued that they still count as manifests even if they aren't installable). If we just look at the HTTPS ones, the icon "src" ones are reduced to just 2, and one of them is invalid.

[2017-10-03 06:03] marcoscaceres commented on #620
@dominickng is technically correct - but no user agent currently supports manifests without HTTPS (because I think we are all adhering somewhat to the [installability signals](https://www.w3.org/TR/appmanifest/#installability-signals))... we should probably also make this a HTTPS only feature in the spec.

[2017-10-03 06:04] mgiuca commented on #620
We could make Trimming an HTTPS-only feature :)

j/k

[2017-10-03 06:11] marcoscaceres commented on #617
Although I'm supportive of the use case described above, I wonder if we should incubate this feature (i.e., put it in a "google_*" namespace) until other UAs catch up to what we currently have in the spec?

I'm concerned about extending the current spec until we see more implementations and interop.

I know on the Moz side, we are starting to ship a bunch of support in Fennec for various manifest

[2017-10-03 06:16] mgiuca commented on #617
I'm happy to punt on this for now, and experiment.

On Chrome, we're in a weird place with experimenting in the manifest. We've made a concerted effort to move away from prefixes in recent years (in fact I think "no more prefixes" was the mantra when we forked Blink). So we've been doing origin trials instead for APIs. That hasn't yet been tried on a manifest property and it would be a pretty awkw

[2017-10-03 06:28] marcoscaceres commented on #617
Ah yeah, something like an origin trial would be much better.

[2017-10-03 10:47] kenchris commented on #620
I will rather do it as part of that PR, or I will have to re-add lots of sections etc for the sake of removing them soon after. I know it is not perfect, but the IDL PR was a bit hard to get right

[2017-10-03 10:48] kenchris commented on #620
I will remove the trim for categories

[2017-10-03 10:51] marcoscaceres commented on #620
Whatever works best for you. We just want to make sure you don’t get overworked/overwhelmed with changes 🛠

[2017-10-03 12:06] kenchris opened #621 "Use Infra spec for iterations"
Follow: https://infra.spec.whatwg.org/#algorithm-iteration

[2017-10-04 03:37] mgiuca commented on #620
I was suggesting we land a change removing all the Trims before you land yours (then you would not need to add lots of Trim logic to the new version; you would have a merge conflict but you could resolve it in favour of your existing version).

It would make it clear that we intentionally removed Trim, rather than it just accidentally disappearing during a refactor.

[2017-10-04 03:39] marcoscaceres commented on #620
Well, this is kinda no longer a refactor... it's already a "2.0" with lots of breaking changes. Might as well keep breaking stuff now that we are on a roll.

[2017-10-10 09:24] delapuente commented on #617
You're right. Another argument for pushing for a `theming` colour with all the specifics of browser customisation.

[2017-10-10 09:40] kenchris opened #622 "IDL: Make name required"
And look whether other properties need to be so too

[2017-10-18 09:02] kenchris opened #623 "Create a test suite for the specification"
@Honry has volunteered to look into this. @marcoscaceres could you share your Moz specific tests just for inspiration?

[2017-10-18 09:02] kenchris commented on #623
@RobDolinMS do you have any tests at MSFT?

[2017-10-18 09:22] kenchris commented on #589
Something like

https://html.spec.whatwg.org/multipage/origin.html#sandboxed-scripts-browsing-context-flag
https://html.spec.whatwg.org/multipage/webappapis.html#sandboxScriptBlocked
https://html.spec.whatwg.org/multipage/webappapis.html#concept-bc-script

It seems fine to say "Scripting is disabled in the browsing context at all time"

[2017-10-18 23:21] piotrswigon commented on #589
After some discussions internally, we came to the conclusion that scripting should be allowed.

The argument is that many developers are using web frameworks with UI widgets/components. It will be easier for them, we think, to use the same machinery for the splash screen page. Especially if they aim for a pixel perfect transition from the splash screen into the web app proper under all layouts, ab

[2017-10-19 08:04] marcoscaceres commented on #589
Yeah, that makes sense. Need to think about the security/privacy aspects. A bunch of things obviously will fail (e.g., trying to get geo or other permissions, if those haven't been granted... etc. so there are even timing issues involved).

It's also potentially  going to be super hard for developers to debug if anything goes wrong... so we might need to think about that too.

Just my 2c.

[2017-10-19 08:40] marcoscaceres commented on #623
(I'll note that those are all automated tests... which don't help us... but we can maybe take some of the test conditions, do some copy/paste magic, and get some manual tests out of them)

[2017-10-19 08:41] marcoscaceres commented on #623
...also, the tests don't conform to our new "V2" of the spec - because the IDL now makes things case sensitive. That's ok tho, just thought I would mention it.

[2017-10-19 08:42] marcoscaceres commented on #623
We should move this bug to https://github.com/w3c/web-platform-tests

[2017-10-19 08:48] kenchris commented on #623
@Honry can you take care of this?

[2017-10-20 02:35] Honry commented on #623
@kenchris, @marcoscaceres, I've move this issue to https://github.com/w3c/web-platform-tests/issues/7912

[2017-10-20 03:49] marcoscaceres commented on #623
Thanks @Honry. Closing so we can continue discussion there.

[2017-10-20 03:49] #623 closed

[2017-10-28 14:10] derlin commented on #276
any news on this opening ?

[2017-10-30 09:14] marcoscaceres commented on #276
Don't think so. It would just break too many things :(

[2017-11-09 17:44] nolanlawson commented on #580
`"windows"` has been added to the wiki, and it appears [pwa-builder expects `"windows"`](https://github.com/pwa-builder/manifoldjs-lib/blob/168a4c666ca6029a418684a3e3a54ee5f4eab86b/test/manifestTools/manifestCreator/manifestCreator.js#L168) as well.

[2017-11-10 19:28] marcoscaceres opened #626 "Add a means to associate a PWA with a file extension"
It's common on every OS to associate file extensions with some application (e.g., .psd opens in PhotoShop).

It would be great to figure out how we can associate files on a user's device to open with an installed web application.

[2017-11-10 19:28] marcoscaceres commented on #626
More here: https://discourse.wicg.io/t/file-extension-association/2426

[2017-11-10 19:29] kenchris commented on #626
cc/ @paul_kinlan

[2017-11-11 14:04] AshleyScirra commented on #626
Some more thoughts on how this could work: have a manifest field similar to the following

[code]

Notes:
- You can specify more than one kind of file extension association
- `name` is an optional description that can be used in the OS
- `icon` is an optional icon file
- `url` is the optional path to open when launching the PWA to open that file extension; if not provided, simply launches the defa

[2017-11-11 20:37] marcoscaceres commented on #626
Thanks! We also need to figure out how each OS allows for file extension registration and de-registration, specially if it can be done dynamically... this also needs to work with mime types via things like web share, etc.

[2017-11-13 09:24] photopea opened #627 "Allowing only site-triggered install prompt"
Hi folks, do you really like this idea, that a user-agent will "analyze" a website somehow and decide, if it is appropriate to show an install prompt? It can be disturbing, if the "analysis" is wrong. I also hate the fact, that a browser makes such decissions (browser manufacturers can show the prompt more often for websites, which pay them, nobody will ever find out). I think that the browser sho

[2017-11-14 03:23] marcoscaceres commented on #627
Yeah, we've gone back an forth for years between the current model and the `.install()` model. The problem with the `.install()` model is that we will end up with "Install my App!" buttons all over the web, which we don't want.

Browser vendors are exploring alternatives (e.g., ambient badging)... there might be a middle ground for this, but we are still trying to figure out what it is as PWAs bec

[2017-11-14 06:02] marcoscaceres commented on #580
Closing, as per https://github.com/w3c/manifest/issues/580#issuecomment-343234260

[2017-11-14 06:02] #580 closed

[2017-11-14 09:14] photopea commented on #627
So you want give browsers the ability to limit such buttons with "Install my App"? The button would be hidden, and neither the website, neither the user would understand why.

I think your should not be afraid of such buttons "all over the web". Websites always adapt to users, and when e.g. less than 1% of users use such button on a specific website, it will disappear (or will be moved to some les

[2017-11-14 09:33] kenchris commented on #627
Google is toying with a new way of doing this.

Ie. they might stop prompting by default when the engagement threshold is triggered, but allow the site to do it after that point.

@mgiuca might be able to tell more.

[2017-11-27 09:32] grrd01 opened #628 "multilingual description"
I cannot find a way to create multilingual descriptions in my manifest file for a multilingual web app.

With the old manifest files for chrome web store, it was possible to add this to the manifest:
"description": "__MSG_appDesc__",

and then add a json-file for each language in a _locales folder:
_locales/en/messages.json:

{
  "appDesc": {
    "message": "my english description..."
  }
}

Howev

[2017-11-27 09:34] marcoscaceres commented on #628
Right, you need to host your own manifest and set `<link rel=manifest>` to point to your localized version.

[2017-11-27 09:34] marcoscaceres commented on #628
@grrd01, see also the description here:
https://www.w3.org/TR/appmanifest/#internationalization

[2017-11-27 09:50] grrd01 commented on #628
@marcoscaceres : thanks for your fast response!
Did i get you right:
Whenever I dynamically translate my index.html with webL10n (https://github.com/fabi1cazenave/webL10n), I am supposed to also replace the <link rel=manifest> to point to the proper localized version of my manifest-file?
Will the google bots and web app catalogs understand this behavior?

[2017-11-27 23:03] mgiuca opened #629 "Extension point should come after processing other members"
The [steps for processing a manifest](https://www.w3.org/TR/appmanifest/#dfn-processing-a-manifest) defines an extension point that allows proprietary and externally specified members to be inserted and have post-processing steps defined.

However, it is Step 3 of the algorithm, occurring before any of the standard manifest members are post-processed, which means any custom logic is unable to make

[2017-11-28 04:32] marcoscaceres commented on #629
I'm ok with us moving it... the idea was to prevent people overriding standard behavior. If that becomes a problem, we can modify this to be:

[code]

[2017-11-29 04:36] marcoscaceres commented on #628
I can't comment on webL10n, as I've never used it. But yes, that's an option.

I don't see why not? Bots execute JS.

[2017-11-29 08:32] grrd01 commented on #628
@marcoscaceres : Since I doubt, a bot will be clever enough to find the right button to change the language to all available options, I'm afraid the only way for a bot to detect all languages will be to visit my site with a lot of different regional & language settings, where the initial language is selected from.
I don't think that's what google is doing, but I'm not an expert on this.

Anyway, t

[2017-11-29 08:32] #628 closed

[2017-11-29 09:09] marcoscaceres commented on #628
Treat it as the same as an unregistered user who has just landed on your site. It’s basically the same problem.

A user who had registered and given a language preference needs a different approach.

[2017-12-03 14:50] benrogmans opened #630 "Multiple authors / developers"
Would be really nice if manifest.json had a property to list the people involved in creating the application.
For example:

`”credits”: []`

[2017-12-03 17:04] RobDolin commented on #630
Interesting suggestion @benrogmans.  Can you explain more about how you envision this might be used?  Would this be like the "credits" that run at the end of a movie?

[2017-12-04 03:45] benrogmans commented on #630
@RobDolin Yes, quite like that! As organisations are becoming more and more diffuse, It will be a nice property for people to proof that they belong to a project.

I guess it would be an array with objects á la `developer` (with properties `name` and `url`). A property `role` might also be nice.

[2017-12-04 05:06] marcoscaceres commented on #630
For anything that resembles credits, it's best handled within the application itself.

The utility of something like this would need to show some value via the user agent, OS, search engine, or app store (i.e., what demonstrable value is there to users?).

In the last decade, we've made various attempts to add "author" type info to various manifest formats, but have found it to be of limited utili

[2017-12-04 05:13] benrogmans commented on #630
Package.json is a good option also. The use case why I actually got this
idea for credits is indeed to show this information in an app store (the
Blockstack Browser).

In contrary to package.json it is safe to assume that manifest.json is
publicly accessible. Also the key idea is that it is not just for developer
attribution but also to give designers, copy writers and others their
deserved credit

[2017-12-04 05:33] marcoscaceres commented on #630
idea for credits is indeed to show this information in an app store (the
Blockstack Browser).

Ok, but it also doesn't show author info either... I guess they can't because they also use web manifest (🐓/🥚)

publicly accessible. Also the key idea is that it is not just for developer
attribution but also to give designers, copy writers and others their
deserved credits in a computer readable standar

[2017-12-07 10:32] sach2211 opened #631 "Allow sub-domains in manifest scope ?"
Currently the scope defined in web-manifest can be set to current origin, but does not allow other  subdomains of current origin or other domains.

This causes users to 'move out' of the standalone mode of the web app, when navigating to a different subdomain.

Referring to some discussion on this topic, I realized there are some security reservations around allowing other domains in scope, but, c

[2017-12-07 14:45] RobDolin commented on #631
Thanks @sach2211.  There was some discussion related to this in #449 (Allow for multiple scopes)

[2017-12-08 06:09] marcoscaceres commented on #631
Closing a duplicate of #449 as we discussed it fairly extensibly there.

[2017-12-08 06:09] #631 closed

[2017-12-09 04:31] benrogmans commented on #630
Ok well that's really too bad then

[2017-12-09 04:31] #630 closed

[2017-12-12 16:41] nunoperalta commented on #446
It is really unfortunate we can't update our PWA. This can be considered a stopper in many projects.

manifest.json should have a "version" that can be updated, and if browsers detect that that version number has changed, they can ask the user whether they would like to receive the update or not.

I was asking about this in a StackOverflow question... https://stackoverflow.com/questions/47762022/a

[2017-12-12 17:03] marcoscaceres commented on #446
Version is orthogonal to updating. Nonetheless, update is important and something I hope we solve in 2018.

[2017-12-12 18:10] nunoperalta opened #632 ""Default" Orientation"
I understand that the values allowed for the manifest's orientation are the same as OrientationLockType in the Screen Orientation API.

However, none of the following orientations seems to simply respect user's Rotation Lock settings:

any
natural
landscape
landscape-primary
landscape-secondary
portrait
portrait-primary
portrait-secondary

"natural" seems to just be the same as "portrait", even if

[2017-12-12 22:23] piotrswigon commented on #589
Sorry for no update on this for some time - I've been away on paternity leave.

In Chromium we found that Blink doesn't currently expose signals notifying of a right time to screenshot the page. If we cannot do that reliably, we're risking users on low end devices getting half-rendered splash screens. This is not acceptable, especially given users won't have an easy way to recover from this. Fixin